<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-4 control-label">Heading</label>

        <div class="col-sm-8">
            <input type='text' class="form-control" ng-model="form.fields[nowEditing].label"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Content</label>

        <div class="col-sm-8">
            <textarea class="form-control"
                      ng-model="form.fields[nowEditing].placeholder"/></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Box size</label>

        <div class="col-sm-8">
            <input type="range" name="points" min="1" max="12"
                   ng-model="form.fields[nowEditing].boxSize">
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-4 control-label">Style</label>

    <div class="col-sm-8">
        <div class="btn-group">
            <button class="btn btn-default" ng-click="form.fields[nowEditing].style='default'">
                <i class="fa fa-check" ng-show="form.fields[nowEditing].style=='default'"></i>
                <i ng-show="form.fields[nowEditing].style!='default'">&nbsp;&nbsp;</i>
            </button>
            <button class="btn btn-primary" ng-click="form.fields[nowEditing].style='primary'">
                <i class="fa fa-check" ng-show="form.fields[nowEditing].style=='primary'"></i>
                <i ng-show="form.fields[nowEditing].style!='primary'">&nbsp;&nbsp;</i>
            </button>
            <button class="btn btn-success" ng-click="form.fields[nowEditing].style='success'">
                <i class="fa fa-check" ng-show="form.fields[nowEditing].style=='success'"></i>
                <i ng-show="form.fields[nowEditing].style!='success'">&nbsp;&nbsp;</i>
            </button>
            <button class="btn btn-warning" ng-click="form.fields[nowEditing].style='warning'">
                <i class="fa fa-check" ng-show="form.fields[nowEditing].style=='warning'"></i>
                <i ng-show="form.fields[nowEditing].style!='warning'">&nbsp;&nbsp;</i>
            </button>
            <button class="btn btn-danger" ng-click="form.fields[nowEditing].style='danger'">
                <i class="fa fa-check" ng-show="form.fields[nowEditing].style=='danger'"></i>
                <i ng-show="form.fields[nowEditing].style!='danger'">&nbsp;&nbsp;</i>
            </button>
        </div>
       </div>
</div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Admin Only </label>

        <div class="col-sm-8">
            <input type='checkbox' ng-model="form.fields[nowEditing].adminOnly"></label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Show in Feed View</label>

        <div class="col-sm-8">
            <input type='checkbox' name='showInFeed' ng-model="form.fields[nowEditing].showInFeed"></label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Show in List View</label>

        <div class="col-sm-8">
            <input type='checkbox' name='showInList' ng-model="form.fields[nowEditing].showInList"></label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Show in Grid View</label>

        <div class="col-sm-8">
            <input type='checkbox' name='showInGrid' ng-model="form.fields[nowEditing].showInGrid"></label>
        </div>
    </div>
</form>
</div>