<ul class="nav nav-tabs">
    <li><a data-target="#status" data-toggle="tab">Status</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

    <div class="tab-pane active" id="status">
        <div class="tab-pane" id="tests">
            <iframe src="coverage.html" width="1200" height="600">
                <p>Your browser does not support iframes.</p>
            </iframe>
        </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Uptime</h3>
                </div>
                <div class="panel-body">
                    <%= uptime %> seconds
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Architecture</h3>
                </div>
                <div class="panel-body">
                    <%= arch %>
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Platform</h3>
                </div>
                <div class="panel-body">
                    <%= platform %>
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Node version</h3>
                </div>
                <div class="panel-body">
                    <%= nodeVersion %>
                </div>
            </div>


        </div>
        <!-- /#status -->

    </div>
</div>