<div class="col-xs-12 col-sm-4 col-md-4 slideLeft tall">
    <div id="postViewer" class="pageGroup">

        <div class="br0 b0 m0 alert alert-info">
            <button class="btn btn-default pull-right" ng-click="newPost()">
                {{app.btnLabel}} <i class="fa fa-plus fa-lg"></i></button>
            <img class="icon pull-left" ng-src="{{app.icon}}">
            <h4 class="inline">{{app.name}}
                <a href="appBuilder" ng-click="updateApp(app)"><i
                        class="fa fa-edit fa-lg"></i>
                </a></h4>

            <p id='appDescription'>{{postObj.description}} </p>

            <div class="input-group clear">
                <div class="input-group-btn">
                    <button class='btn btn-default disabled' ng-click="addOptionObject($index)"><i
                            class="fa fa-list fa-lg"></i>
                    </button>

                    <button class='btn btn-default' ng-click=""><i
                            class="fa fa-table fa-lg"></i></button>
                    <button class='btn btn-default' ng-click="addOptionObject($index)"><i
                            class="fa fa-th fa-lg"></i>
                    </button>


                </div>
                <input type="text" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
            </div>


        </div>
        <div class="tab-content m0 p0">
            <div id="tabs-notifications" class="tab-pane active feed">
                <div class="list-group">
                    <div class="media list-group-item m0 br0"
                         ng-repeat="foo in posts" ng-click="viewPost($index)">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <a class="pull-left" href="#">
                            <img class="media-object icon" ng-src="{{foo.icon}}" alt="Brian">
                        </a>

                        <div class="media-body">
                            <h5 class="media-heading">{{foo.fields[0].label}} - {{foo.fields[0].value}} </h5>
                            {{foo.fields[1].label}} - {{foo.fields[1].value}}
                            {{foo.fields[2].label}} - {{foo.fields[2].value}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-8 col-md-8 slideRight" id='mainView'>
    <div class="pageGroup">

        <div id="tabs">
            <ul id='appTabs' class="nav nav-tabs">
                <li class="active"><a data-target="#tabs-myapps" data-toggle="tab">My Dates</a></li>
                <li><a data-target="#tabs-download" data-toggle="tab">Global Calendar</a></li>
            </ul>
            <div class="tab-content white p5">
                <div id="tabs-myapps" class="tab-pane active">

                    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>

                </div>


                <div id="tabs-download" class="tab-pane">
                    <h3>Download Apps</h3>

                </div>


            </div>

        </div>


    </div>
</div>

