.panel-foo-post{

}
.panel-foo-post .post-user-img {
  width: 32px;
  height: 32px;
  box-shadow:   1px 1px 1px  rgba(0,0,0,.4)  ;
  float: left;
  vertical-align: middle;
  margin-right: 5px;
}

.panel-foo-post .panel-heading{
color: #fff;
  background: #3d4b5b;
  line-height: 16px;
}
.panel-foo-post label{
  color: #63768C !important;
  font-weight: 400;
}

.panel-foo-feed{
display: block;
  margin: 0px 0px 20px 5px !important;
  border-radius: 0px;
  word-wrap: break-word;
  box-shadow: none;
  border: none !important;
  border-right: 1px solid rgba(0, 0, 0, .12) !important;
}

.panel-foo-list {
  display: block;
  margin: 0px 0px 1px 5px !important;
  border-radius: 0px;
  word-wrap: break-word;
  box-shadow: none;
  border: none !important;
  border-right: 1px solid rgba(0, 0, 0, .12) !important;
  min-height: 50px;
}

.panel-foo-feed .feed-title, .panel-foo-list .feed-title {
  font-weight: 400;
  font-size: 1.1em;
  color: #6e85a5 !important;
  text-shadow: none;
}

.panel-foo-feed .text-smaller, .panel-foo-list .text-smaller {
  font-weight: 300;
  font-size: .9em;
  color: #5a6d8d !important;
  text-shadow: none;
}

.panel-foo-feed .text-smaller i, .panel-foo-list .text-smaller i {
  color: rgba(110, 133, 165, 0.53) !important;
}

.panel-foo-feed .post-user-img, .panel-foo-list .post-user-img {
  width: 38px;
  height: 38px;
  float: left;
  background: #fff;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: -6px;
  margin-top: -3px;
  border-radius: 50%;
  border: 1px solid #efefef;
}

.panel-foo-feed .panel-heading, .panel-foo-list .panel-heading {
  color: #63768C !important;
min-height: 30px;
  line-height: 16px;
  display: block;
}

.panel-foo-feed label, .panel-foo-list label {
  color: #63768C !important;
  font-weight: 400;

}

.panel-foo-feed:hover, .panel-foo-list:hover {
box-shadow: 1px 1px 7px rgba(255,255,255,.3);
}

.panel-feed-selected{
  border-left: 10px solid #9bd843 !important;
}

.panel-foo-light{
  background:  transparent !important;
}
.panel-foo-light .panel-heading{
  color: #3d4b5b;
  background: rgba(76, 94, 116, 0.1);
}
.gridWrapper {
  position: absolute;
  display: block;
  top: 0px;
  bottom: 0px;
  overflow: scroll;
  background: #fff;
  right: 10px;
  left: 10px;
}



.foo-grid th {
  padding: 6px 12px;
  display: table-cell;
  background: #3d4b5b;
  color: #fff;
  font-weight: 300;
  border: 1px solid #fff !important;
  @media screen and (max-width: 580px) {
    padding: 2px 12px;
    display: block;
}
}

.foo-grid th .text-muted {
  font-size: .8em;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  float: right;

}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f7f7f7;
}

.foo-grid tr.active, .foo-grid tr.active td {
  background-color: #9bd843 !important;
  color: #fff;
}

.foo-grid td {
  vertical-align: middle;
  padding: 6px 12px !important;
  display: table-cell;
  border-color: #fff !important;
  @media screen and (max-width: 580px) {

    padding: 2px 12px;
    display: block;
  }
}

.foo-grid th input {
  padding: 2px;
  font-size: 10px;
  line-height: 10px;
  height: 16px;

}

.ta-editor {
  height: auto !important;
  min-height: 200px !important;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  margin: 5px 0;
  padding: 10px;
}

.ta-bind {
  min-height: 200px !important;
}