.panel-foo-post{

}
.panel-foo-post .post-user-img {
  width: 32px;
  height: 32px;
  box-shadow:   1px 1px 1px  rgba(0,0,0,.4)  ;
  float: left;
  vertical-align: middle;
  margin-right: 5px;
}

.panel-foo-post .panel-heading{
color: #fff;
  background: #3d4b5b;
  line-height: 16px;
}
.panel-foo-post label{
  color: #63768C !important;
  font-weight: 400;
}

.panel-foo-feed{
display: block;
  margin: 8px 5px 5px 5px !important;
  border-radius: 0px;
  word-wrap: break-word;
  box-shadow: none;
  border: 1px solid #d8d8d8 !important;
  border-top-width: 0 !important;
  border-left: 5px solid #fff !important;

}

.panel-foo-feed .feed-title {
  font-weight: 400;
  font-size: 1.1em;
}
.panel-foo-feed .post-user-img {
  width: 28px;
  height: 28px;
  float: left;
  background: #fff;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: -6px;
  margin-top: -3px;
  border-radius: 50%;
  border: 1px solid #efefef;
}
.panel-foo-list .post-user-img{
  width: 30px;
  height: 30px;
  box-shadow:   -1px -1px 1px  rgba(0,0,0,.3)  ;
  vertical-align: top;
  margin-right: 5px;
}

.panel-foo-feed .panel-heading{
  color: #63768C !important;
min-height: 30px;
  line-height: 16px;
  display: block;
}
.panel-foo-feed label{
  color: #63768C !important;
  font-weight: 400;

}

.panel-foo-feed:hover{
box-shadow: 1px 1px 7px rgba(255,255,255,.3);
}

.panel-feed-selected{
border-left: 5px solid #9bd843 !important;
}

.panel-feed-selected .feed-title{
  color: #4c5e74 !important;
}

.panel-foo-light{
  background:  transparent !important;
}
.panel-foo-light .panel-heading{
  color: #3d4b5b;
  background: rgba(76, 94, 116, 0.1);
}
.gridWrapper {
  position: absolute;
  display: block;
  top: 0px;
  bottom: 30px;
  overflow: scroll;
  background: #fff;
  right: 10px;
  left: 10px;
}



.foo-grid th {
  color: #263042;
  background: -webkit-linear-gradient(#fff, #f2f6f9);
  background: -moz-linear-gradient(#fff, #f2f6f9);
  background: -ms-linear-gradient(#fff, #f2f6f9);
  background: -o-linear-gradient(#fff, #f2f6f9);
  background: linear-gradient(#fff, #f2f6f9);
  font-weight: 400;

}

.foo-grid th .text-muted {
  font-size: .8em;
  color: #263042;
  display: inline-block;
  font-weight: 600;
}

.foo-grid td {
  vertical-align: middle;

}

.foo-grid th input {
  padding: 2px;
  font-size: 10px;
  line-height: 10px;
  height: 16px;

}

.ta-editor {
  height: auto !important;
  min-height: 200px !important;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  margin: 5px 0;
  padding: 10px;
}

.ta-bind {
  min-height: 200px !important;
}