#spinner {
  position: fixed;
  z-index: 100000;
    background: rgba(0, 0, 0, 1);
  top: 50%;
  left: 50%;
  display: block;
  height: 100px;
  width: 100px;
}

.ng-invalid-required.ng-touched {
    border: 1px solid #c84041;
    background: rgba(200, 64, 65, 0.05) !important;
    box-shadow: 0px 0px 3px 1px rgba(200, 64, 65, 0.76);
}

label i.fa.foo-required {
    font-size: 1em;
    color: #c84041;
    -ms-transform: scale(.55, .55); /* IE 9 */
    -webkit-transform: scale(.55, .55); /* Safari */
    transform: scale(.55, .55);
    margin: 0px;
    padding: 0px;
}

.inlineFormFields div.form-group label, .inlineFormFields fieldset div.form-group label {
    display: inline-block;
    text-align: right;
    width: 20%;
    margin-top: 8px;
}

.inlineFormFields div.form-group div.input-group, .inlineFormFields fieldset div.form-group div.input-group {
    display: inline-block;
    float: right;
    width: 79% !important;
}

.panel-foo-post {
    border: 1px solid rgb(204, 200, 185);
    border-bottom-width: 2px;

}
.panel-foo-post .post-user-img {
  width: 32px;
  height: 32px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  float: left;
  vertical-align: middle;
  margin-right: 5px;
}

.panel-foo-post .panel-heading {
    color: #fff;
    background: #738e96;
  line-height: 16px;
}

.panel-foo-post label {
  color: #63768C !important;
  font-weight: 400;
}

.panel-foo-feed {
    display: block;
  margin: 10px !important;
  border-radius: 0px;
  word-wrap: break-word;

  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;

  border: 1px solid rgba(222, 223, 225, 0.58) !important;
  border-top: 0px !important;
  border-bottom: 1px solid #dedfe1 !important;
  vertical-align: top;
}

.panel-foo-feed .panel-body {
  margin: 0px 38px 0px 42px;
  padding: 0px;
  font-weight: 400;
  font-size: 1.0em;
  color: #5b5b5b !important;
  text-shadow: none;
}

.panel-foo-feed .panel-footer {
  display: block;
    margin: 10px 0px 0px 0px !important;
    color: #888;
  font-weight: 400;
  line-height: 18px;
  border-radius: 0px;
  box-shadow: none;
  background: #f7f9fa !important;

    border-top: 1px dashed #ced7da !important;;
}

.panel-foo-feed .panel-footer a {
  color: #6b8cff;
}

.panel-foo-list {
  display: block;
  margin: 0px 0px 1px 5px !important;
  border-radius: 0px;
  word-wrap: break-word;
  box-shadow: none;
  border: none !important;
  border-right: 1px solid rgba(0, 0, 0, .12) !important;
  min-height: 50px;
}

.panel-foo-list .feed-title {
  font-weight: 400;
  font-size: 1.1em;
  color: #6e85a5 !important;
  text-shadow: none;
  display: table-cell;
}


.panel-foo-feed .feed-title {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 22px;
  color: #6e85a5 !important;
  text-shadow: none;
  display: table-cell;
  vertical-align: middle;
  height: 44px !important;
}

.panel-foo-feed .feed-title h3 {
  font-weight: 300;
  display: inline;
}


.panel-foo-feed .text-smaller, .panel-foo-list .text-smaller {
  font-weight: 300;
  font-size: .9em;
  color: #5a6d8d !important;
  text-shadow: none;
}

.panel-foo-list .post-user-img {
    width: 38px;
    height: 38px;
    float: left;
    background: #fff;
    vertical-align: middle;
    margin-right: 0px;
    margin-left: -6px;
    margin-top: -3px;
    border-radius: 50%;
    border: 1px solid #DAE3E5;
}
.panel-foo-feed .post-user-img {
  width: 38px;
  height: 38px;
  float: left;
  background: #fff;
  vertical-align: middle;
  margin-right: 0px;
  margin-left: -6px;
  margin-top: 3px;
  border: 1px solid #DAE3E5;

}

.panel-foo-feed .thumbnail {
  padding: 0px !important;
    box-shadow: none !important;
}

.panel-foo-feed .thumbnail img {
  border-radius: 12px !important;
  padding: 0px !important;
  border: 1px solid rgba(204, 200, 185, .7);
}
.panel-foo-feed .panel-heading, .panel-foo-list .panel-heading {
  color: #63768C !important;
    min-height: 30px;
  line-height: 16px;
  display: block;
}

.panel-foo-feed label, .panel-foo-list label {
  color: #6e85a5 !important;
  font-weight: 400;
}

label.label-foo-title {
  margin-left: 0px;
  margin-right: 2px;
  color: #404040 !important;
  font-size: .9em;
  padding: 4px;
  background: #efefef;
  border: 1px solid rgba(206, 206, 206, 0.32);
  border-radius: 4px;
    text-shadow: 1px 1px rgba(255, 255, 255, .5);
}

label.label-foo-title i {
  margin-left: 0px;
  font-size: 1em;
  color: $state-success-text !important;
}

.panel-foo-list label.label-foo-title {
  padding: 1px 4px !important;
}

.panel-foo-feed .postStatusLabels {
  display: block;
  margin-top: 5px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
}

.panel-foo-list .postStatusLabels {
  display: block;
  margin-top: 5px;
  margin-left: 42px;
  padding-top: 5px;
  font-weight: 600;
}

.panel-foo-feed:hover, .panel-foo-list:hover {
    box-shadow: 1px 1px 7px rgba(255, 255, 255, .3);
}

.panel-feed-selected {
  border-left: 10px solid #9bd843 !important;
}

.panel-feed-deleted {
  border-left: 10px solid #d84344 !important;
    position: relative;
  display: block;
  -webkit-animation: delete 1.6s forwards;
  -webkit-animation-delay: 0.1s;
  animation: delete 1.6s forwards;
  animation-delay: 0.1s;
  overflow: hidden;
}


@keyframes delete {
  50% {
    left: 0;
      transform: scale(.9, .7);

  }
  100% {
      transform: scale(.5, .7);
    left: -200%;
  }
}
@-webkit-keyframes delete {
  50% {
    left: 0;
      transform: scale(.9, .7);

  }
  100% {
      transform: scale(.5, .7);
      left: -200%;
  }
}

.panel-foo-light {
  background: transparent !important;
}

.panel-foo-light .panel-heading {
  color: #3d4b5b;
  background: rgba(76, 94, 116, 0.1);
}

.panel-comments {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.comment {
  display: block;
    border-radius: 8px;
    padding: 8px;
  padding-top: 0px;
  margin-left: 45px;
  margin-bottom: 10px;
  background: #fff;
  font-weight: 300 !important;
  border: 1px solid #DAE3E5;

}
.comment .text-muted {
  font-size: .9em;
}

.comment-label {
  color: #3d4b5b;
  font-size: .9em;
  font-weight: 300;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}

.comment-label-dark {
  color: #fff;
    text-shadow: 1px 1px 1px rgba(61, 75, 91, .2);
}

.comment-label strong {

  font-weight: 400;

}
.comment .post-user-img {
  width: 38px;
  height: 38px;
  float: left;
  background: #fff;
  vertical-align: middle;
  margin-right: 0px;
  margin-left: -54px;
  margin-top: -3px;
  border-radius: 50%;
  border: 1px solid rgba(14, 41, 57, 0.15);
}

.comment .speechbubble {
  font-size: 1.5em;
    color: #fff;
  margin-left: -14px;
  margin-top: 2px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  margin-right: 5px;
  vertical-align: top;
}

.foo-grid {
  padding-left: 5px;
  padding-right: 5px;
    display: block;
}

.foo-grid thead {
  vertical-align: middle;
  position: fixed;
  z-index: 6;
  display: block;
  background: #c0c0c0 !important;
  height: 31px !important;
  white-space: nowrap;

}

.foo-grid > tbody {
  clear: both;
  position: absolute;
  top: 32px;
  z-index: 5;
}

.foo-grid tr th {
  padding: 0px 4px !important;
  display: table-cell;
  background: #efefef !important;
  color: #888;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .7);
  font-weight: 400;
  height: 30px !important;
  border: 1px solid rgba(171, 206, 255, 0.20) !important;
  @media screen and (max-width: 580px) {
    padding: 2px 12px;
    display: block;
}
}

.foo-grid th .text-muted {
  font-size: .8em;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  float: right;

}

.foo-grid td {
  vertical-align: middle;
  padding: 4px !important;
  border: 1px solid #DAE3E5;
    background: #fff !important;
  font-weight: 400;
  color: #666;
    // background: #FFF !important;
  //color: #6e85a5 !important;
  text-shadow: none;
  @media screen and (max-width: 580px) {

    padding: 2px 12px;
    display: block;
  }
}

.foo-grid tr.active th {

  background: rgba(226, 244, 198, 0.36) !important;
}
.foo-grid tr.active {


  border-left: 3px solid rgb(138, 223, 33) !important;

}
.foo-grid th input {
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  height: 16px;

}

.foo-grid tr td div table {
  position: relative;
  font-size: .9em;
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.foo-grid tr td div table tr th {
  padding: 0px 4px !important;
  display: table-cell !important;
  background: #efefef !important;
  color: #888;
  font-weight: 400;
  line-height: 15px !important;
  height: 20px !important;
  border: 1px solid rgba(171, 206, 255, 0.20) !important;
}

.foo-grid tr td div table tr td {
  padding: 0px 4px !important;
  display: table-cell !important;
  background: #fff !important;
  color: #666;
  font-weight: 300 !important;
  line-height: 20px !important;
  height: 20px !important;
  border: 1px solid rgba(171, 206, 255, 0.20) !important;
}

.ta-editor {
  height: auto !important;
  min-height: 200px !important;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  margin: 5px 0;
  padding: 10px;
}

.ta-bind {
  min-height: 200px !important;
}

.ta-hidden-input {
  display: none;
}

.toggleSwitch {
  position: relative;
  border-radius: 4px;
  border: 1px solid #cecece !important;
  display: inline-block;
  min-height: 20px;
  padding: 0px !important;
  margin: 0px !important;
  background: #fff;
}

.toggleSwitch div {
  display: inline-block;
  line-height: 20px;
  padding: 0px !important;
  margin: 0px !important;
  margin-left: 6px !important;
  margin-right: 6px !important;
  position: relative;
}

.toggleSwitch button {
  min-height: 20px;
  line-height: 20px;
  border-radius: 4px;
  margin: 0px;
  position: absolute;
}

.toggleSwitch button:focus {
    outline-style: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.toggleOn button {
  right: 0;
  margin-left: 20px !important;
}

.toggleOn div {
    left: 0;
    margin-right: 20px !important;
  opacity: 1 !important;
}

.toggleOff button {
    left: 0;
  margin-right: 20px !important;
}

.toggleOff div {
    right: 0;
  margin-left: 20px !important;
}

.panel-commentBox .panel-body {
  text-align: left !important;
}

textarea.commentsMax {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
    height: 120px !important;
}

textarea.commentsMin {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
    height: 52px !important;
}
