<div class="col-sm-12">

    <!-- Navigation Buttons -->
    <div class="col-md-3 slideLeft">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a class="btn btn-success" href="/formBuilder"><i class="fa fa-plus"></i> Create a
                    New
                    App</a>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked" id="category-tabs">
                    <li ng-class="{active: activeCategory==='yourForms'}">
                        <a data-toggle="tab" data-target="#yourForms" ng-click="setCategory({displayName: 'yourForms'})"
                           >My Apps</a>
                    </li>
                    <li ng-repeat="category in categories track by $index"
                        ng-class="{active: activeCategory===category.displayName}">
                        <a data-toggle="tab" data-target="#{{category.displayName}}" ng-click="setCategory(category)"
                           >{{category.displayName ||
                            category.displayName}}</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!-- Content -->
    <div class="col-md-9 slideRight">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane"
                         ng-class="{active: activeCategory==='yourForms'}" id="yourForms">
                        <h4>My Apps</h4>

                        <div class="row m5 p5">
                            <div class="col-sm-3 col-md-3"
                                 ng-repeat="form in user.defaultFolder.forms">
                                <div class="thumbnail">
                                    <a href="/{{user.displayName}}/{{form.displayName}}">
                                        <img ng-src="{{form.icon}}" alt="{{form.displayName}}">
</a>
                                        <div class="caption">
                                            {{form.displayName | uppercase}}<br>
                                            <div class="btn-group btn-group-justified">
                                            <a class="btn btn-sm btn-default" href="/{{user.displayName}}/{{form.displayName}}">View</a>
                                            <a class="btn btn-sm btn-default" href="/{{user.displayName}}/{{form.displayName}}/edit">Edit</a>
                                        </div></div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-repeat="category in categories" class="tab-pane"
                         ng-class="{active: activeCategory===category.displayName}" id="{{category.displayName}}">
                        <h4>{{category.displayName || category.displayName}}</h4>

                        <div class="row m5 p5">
                            <div class="col-sm-3 col-md-3"
                                 ng-repeat="form in category.folders[0].forms">
                                <div class="thumbnail align-center">

                                        <img ng-src="{{form.icon}}" alt="{{form.displayName}}">

                                        <div class="caption  align-center">
                                           <p>
                                               {{form.title | uppercase}}<br>
                                               {{form.description}}
                                           </p>
                                            <a class="btn btn-sm btn-success" ng-click="installForm(form)">Install</a>
                                        </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>





