<div class="col-xs-12 col-sm-4 col-md-4 tall">


    <div id="postViewer" class="pageGroup">

        <div class="alert alert-info">
            <button class="btn btn-default pull-right" ng-click="newPost()">{{app.btnLabel}}</button>
            <img class="icon pull-left" ng-src="{{app.icon}}">
            <h4 class="inline">{{app.name}}</h4>

            <p id='appDescription'>{{postObj.description}} </p>

            <div class="input-group">
                <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
            </div>
            <!-- /input-group -->
            <a class="text-muted" href="appBuilder" ng-click="updateApp(app)">[App Admin]</a>
        </div>
        <div class="tab-content white m0 p5">
            <div id="tabs-notifications" class="tab-pane active">
                <div class="list-group">
                    <div class="media list-group-item m0"
                         ng-repeat="foo in posts" ng-click="viewPost($index)">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <a class="pull-left" href="#">
                            <img class="media-object icon" ng-src="{{foo.icon}}" alt="Brian">
                        </a>

                        <div class="media-body">
                            <h5 class="media-heading">{{foo.fields[0].label}} - {{foo.fields[0].value}} </h5>
                            {{foo.fields[1].label}} - {{foo.fields[1].value}}
                            {{foo.fields[2].label}} - {{foo.fields[2].value}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-xs-12 col-sm-8 col-md-8" id='mainView'>
    <div class="pageGroup">

        <div id='msgCenter' class="hide">
            <div class="alert alert-block alert-info fade in m5">
                <p>Saving your post, please stand by...</p>
            </div>
        </div>

        <div id="tabs">

            <div class="tab-content white p5">
                <div id="tabs-newApp" class="tab-pane active">

                    <div id='appLayout' class="container">

                        <div class="row">
                            <div class='col-sm-{{appField.boxSize}} under'
                                 ng-repeat="appField in postObj.fields track by $index"
                                 ng-show="appField.name"
                                    >

                                <div ng-include='appField.template'></div>
                            </div>


                        </div>


                    </div>


                </div>
            </div>
            <div class="p5 alert-info">
                <button id='saveApp' ng-click="savePost(postObj)" class="btn btn-primary">Save Post
                </button>
            </div>
        </div>


    </div>

</div>





