<div class="col-xs-12 col-sm-4 col-md-4 tall">


    <div id="postViewer" class="pageGroup">

        <div class="alert alert-info">

            <img class='icon' ng-src="{{app.icon}}">
            <h4 class="inline">{{app.name}}</h4>


            <button class="btn btn-default">{{app.btnLabel}}</button>
            <a class="btn btn-xs btn-primary" href="appBuilder"
               ng-click="updateApp(app)">Update</a>
            <button type="button" class="btn btn-xs btn-danger" ng-click="deleteApp(app)">Delete
            </button>


            <div class="input-group">
                <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
            </div>
            <!-- /input-group -->

        </div>
        <div class="tab-content white m0 p5">
            <div id="tabs-notifications" class="tab-pane active">
                <div class="list-group">
                    <div class="media list-group-item m0"
                         ng-repeat="foo in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/assets/images/photo.jpg" alt="Brian">
                        </a>

                        <div class="media-body">
                            <h5 class="media-heading">New Task Assignment</h5>
                            Brian has created a task with your name on it...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-xs-12 col-sm-8 col-md-8" id='mainView'>
    <div class="pageGroup">

        <div id='msgCenter' class="hide">
            <div class="alert alert-block alert-info fade in m5">
                <p>Saving your post, please stand by...</p>
            </div>
        </div>

        <div id="tabs">

            <div class="tab-content white p5">
                <div id="tabs-newApp" class="tab-pane active">
                    <div id='appHeading'>


                    <p id='appDescription'>{{app.description}} </p>
                    </div>
                    <div id='appLayout' class="container">

                        <div class="row">
                            <div class='col-sm-{{appField.boxSize}} under'
                                 ng-repeat="appField in app.fields track by $index"
                                 ng-show="appField.name"
                                    >

                                <div ng-include='appField.template'></div>
                            </div>


                        </div>


                    </div>


                </div>


                <div id="tabs-settings" class="tab-pane">
                    <div class='alert alert-warning'><h4>Settings</h4>
                            <pre class="ng-binding">
     {{app | json}}
 </pre>

                    </div>

                </div>


                <div id="tabs-events" class="tab-pane">

                    <h4 class="fooHeading">Form Events</h4>

                </div>


                <div id="tabs-publish" class="tab-pane">
                    <div class='alert alert-warning'><h4>Publish</h4>

                        <p>Choose one or more ways to publish your app.</p>
                    </div>
                    <div class='m10 alert alert-info'>
                        <h5>Add it to one or more clouds</h5>

                        <p>Your app will be displayed in each of the following clouds</p>

                        <div id='cloudList'>

                        </div>
                        <hr>

                        <h5>Add it to a Website or Blog</h5>

                        <p>Copy the following code to your page on your website.</p>
                        <textarea class='large'>

                        </textarea>
                    </div>

                </div>
            </div>
            <div id='saveAppForm'>

                <button id='saveApp' ng-click="savePost(post)" class="btn btn-success">Save Post
                </button>
            </div>
        </div>


    </div>

</div>





