<div class="col-xs-12 col-sm-4 col-md-4 tall slideLeft">
    <% include includes/appBuilderMenu.html %>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 slideRight" id='mainView'>
<div class="pageGroup">

<div id='msgCenter' class="hide">
    <div class="alert alert-block alert-info fade in m5">
        <p>Saving your app, please stand by...</p>
    </div>
</div>

<div id="tabs">
<div class="btn-group pull-right m5">
    <button ng-click="deleteApp(postObj)"
            class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> Delete
    </button>
    <button ng-click="copyApp(postObj)"
            class="btn btn-default btn-sm"><i class="fa fa-copy"></i> Copy
    </button>
    <button ng-click="dontSaveApp(postObj)"
            class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Cancel
    </button>
    <button ng-click="saveApp(app)" class="btn btn-default btn-sm"><i class="fa fa-save"></i> Save</button>
</div>
<ul id='appTabs' class="nav nav-tabs">
    <li class="active"><a id="designTab" data-target="#tabs-newApp" data-toggle="tab"
                          ng-click="openDesignTab()">Design</a></li>
    <li><a data-target="#tabs-settings" data-toggle="tab">Sharing</a></li>
    <li><a id="eventsTab" data-target="#tabs-events" data-toggle="tab" ng-click="openEventTabs()">Form Events</a></li>
    <li><a data-target="#tabs-publish" data-toggle="tab">Preview</a></li>
</ul>
<div class="tab-content white p5">
    <div id="tabs-newApp" class="tab-pane active">
        <div id='appHeading'
             ng-class="{ 'selected': showAppSettings}"
             ng-click="editField(null,null,'Application', $event)"><img class='icon'
                                                                        ng-src="{{app.icon}}">

            <h2 id='appName'>{{app.name}}</h2>

            <p id='appDescription'>{{app.description}} </p>
        </div>
        <div id='appLayout' class="container"
             ng-class="{ 'newForm': app.fields.length==0}">

            <div id='appFields' class="row"
                 droppable='app.fields'
                 ng-update='updateObjects(from, to)'
                 ng-create='createObject(object, to)'
                    >
                <div class='appFormObject col-sm-{{appField.boxSize}} under'
                     ng-repeat="appField in app.fields track by $index"
                     ng-show="appField.name"
                     ng-border="showBorders(show)"
                     ng-click="editField($index,null,'Field', $event)"
                     ng-class="{ 'selected': $index == nowEditing ,'dragging' : dragging}">
                    <div class="btn-group pull-right onTop">

                        <button ng-click="editField($index, null, 'Field', $event)"
                                class='btn btn-xs btn-default'
                                >{{$index}}
                        </button>
                        <button ng-click='deleteItem(appField.id)'
                                class='btn btn-xs btn-danger'
                                ng-show="$index == nowEditing">X
                        </button>
                    </div>
                    <div ng-include='appField.template' class="under"></div>
                </div>


            </div>


        </div>


    </div>


    <div id="tabs-settings" class="tab-pane">
        <h4 class="text-info">User Access</h4>
        <ul class="list-group">
            <li class="list-group-item"
                ng-class="{'list-group-item-success' : app.sharing.type =='Private'}">
                <h4 class="list-group-item-heading"><input type="radio" ng-model="app.sharing.type"
                                                           value="Private"> Private</h4>

                <p class="list-group-item-text">
                    Your form will be visible to just you. Good for personal ToDo Lists, Notes, etc.
                </p>
            </li>
            <li class="list-group-item"
                ng-class="{'list-group-item-success' : app.sharing.type =='Shared'}">
                <h4 class="list-group-item-heading"><input type="radio" ng-model="app.sharing.type"
                                                           value="Shared"> Shared</h4>

                <p class="list-group-item-text">
                    Users with access to the selected shared cloud will have access to your form.
                    <br>Good for things like Helpdesks, Invoices, Tasks, Holiday Requests, etc.</p>

                <div ng-show="app.sharing.type =='Shared'">

                    <div ng-show="clouds.length==0" class="alert">

                        <h5>You haven't created any shared folders yet.</h5>
                        <button class="btn btn-small btn-success" href="clouds">Create a Shared Folder
                        </button>
                    </div>
                </div>
                <div ng-show="app.sharing.type =='Shared' && clouds.length>0" class="alert">
                    <h5>Choose a Folder</h5>

                    <div ng-repeat="cloud in clouds">
                        <input type="radio" ng-model="app.sharing.cloud" value="{{cloud.name}}">
                        {{cloud.name}}
                    </div>

                    <h5>Privileges</h5>
                    <h6><input type="radio" ng-model="app.privileges" value="User"> Users can see just their
                        own posts.</h6>
                    <h6><input type="radio" ng-model="app.privileges" value="All"> Users can see all posts.
                    </h6>


                </div>
            </li>

            <li class="list-group-item">
                <h4 class="list-group-item-heading text-primary">External Website or Blog</h4>

                <p class="list-group-item-text">
                    Both your private and shared forms can be published on external websites or blogs.
                    <br><strong>Note:</strong> If you publish a private form on a website or blog, anyone
                    can use the form but only you can see the form submissions.
                </p>
                <textarea class='form-control'>
                    <iframe src="{{app.url}}"></iframe>
                </textarea>

            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading text-primary">Form URL</h4>

                <p class="list-group-item-text">
                    Share the link below in emails, etc. to give anyone access to your form.<br>

                </p>
                <h5><a href="{{app.url}}" target="_new">{{app.url}}</a></h5>


            </li>


        </ul>
    </div>


    <div id="tabs-events" class="tab-pane">

        <h4 class="text-info">Form Events</h4>

        <div class="appLayout container"
             ng-class="{ 'newForm': app.formEvents.length==0}">

            <div id='appEvents' class="row"
                 droppable='app.formEvents'
                 ng-update='updateEvents(from, to)'
                 ng-create='createEvent(object, to)'
                    >
                <div class='col-sm-12 under'
                     ng-repeat="event in app.formEvents track by $index"
                     ng-show="event.name"
                     ng-border="showBorders(show)"
                     ng-click="editEvent($index,null,'Field', $event)"
                     ng-class="{ 'selected': $index == nowEditing ,'dragging' : dragging}">
                    <div class="btn-group pull-right onTop">

                        <button ng-click="editEvent($index, null, 'Field', $event)"
                                class='btn btn-xs btn-default'
                                >{{$index}}
                        </button>
                        <button ng-click='deleteEvent(event.id)'
                                class='btn btn-xs btn-danger'
                                ng-show="$index == nowEditing">X
                        </button>
                    </div>
                    <div ng-include='event.template' class="under"></div>
                </div>
            </div>

        </div>
    </div>


    <div id="tabs-publish" class="tab-pane">
        <div class='alert alert-warning'><h4>Preview</h4>

            <p>Choose one or more ways to publish your app.</p>
        </div>


                     <pre class="ng-binding">
     {{app | json}}
 </pre>

    </div>
</div>
<div id='saveAppForm'>
    <button id='newApp' ng-click="newApp(app)" class="btn btn-warning">New App
    </button>
    <button id='saveApp' ng-click="saveApp(app)" class="btn btn-success">Save App
    </button>
</div>
</div>


</div>

</div>





