<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
<script type="text/javascript" src=" //cdn.jsdelivr.net/underscorejs/latest/underscore-min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/restangular/latest/restangular.min.js"></script>

<% if( scripts ) { %>
<% for(var i=0; i
<scripts.length; i++) {%>
<script type="text/javascript" src="<%= scripts[i] %>"></script>
<% } %>
<% } %>


<script>
    //Temporary solution here. Will move to external file once I figure out the structure for the client code.
    $(function () {
        var path = window.location.pathname;
        $('nav li a[href$="' + path + '"]').parents('li').addClass('active');
    });
</script>
