<div id="options" class=''>
    <div id='nowViewingProfile' class='hide'>

    </div>

    <div class="accordion" id="leftMenu">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#rightMenu" href="#Notifications">
                    Notifications
                </a>
            </div>
            <div id="Notifications" class="accordion-body collapse in">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Whenever you have new notifications they will appear here.<br>

                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Favourites
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div id='myApps' class="accordion-inner">

                </div>
            </div>
        </div>


        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#rightMenu" href="#menuClouds">
                    Clouds
                </a>
            </div>
            <div id="menuClouds" class="accordion-body collapse">
                <div class="accordion-inner">

                    <div id='myClouds'></div>


                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Settings
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>


    </div>


</div>
