<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/restangular/latest/restangular.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/js/common/textAngular.js"></script>

<!-- Calendar Scripts -->
<script type="text/javascript" src="/js/calendar/fullcalendar.js"></script>
<script type="text/javascript" src="/js/calendar/directives/calendar.js"></script>


<!-- Dashboard Scripts -->
<script type="text/javascript" src="/js/dashboard/dashboardControllers.js"></script>

<!-- User Scripts -->
<script type="text/javascript" src="/js/user/userControllers.js"></script>

<!-- Cloud Scripts -->
<script type="text/javascript" src="/js/cloud/cloudControllers.js"></script>

<!-- App Builder Scripts -->
<script type="text/javascript" src="/js/appBuilder/directives/directives.js"></script>
<script type="text/javascript" src="/js/appBuilder/filters/filters.js"></script>
<script type="text/javascript" src="/js/appBuilder/controllers/controllers.js"></script>
