<div class="form-group clearfix">
    <label for="{{appField.id}}">{{appField.label}}
        <i class="fa fa-question-circle"
           ng-hide="!appField.userInstructions"
           popover="{{appField.userInstructions}}"
           popover-trigger="mouseenter"></i>
    </label>

    <div class="input-group" ng-style="{'width': appField.size+'%'}">
        <a class="pull-left" href="#" ng-src="appField.src">
            <img class="media-object" ng-show="appField.src">
        </a>
        <span class="input-group-addon" ng-show="appField.required">*</span>



        <input type="file" name="uploadFile" id="uploadFile" class="hidden" ng-model="uploadFile"
               ng-file-select="onFileSelect($files, appField)">

        <div class="input-group">
            <input type="text" class="form-control" ng-model="uploadFile.name" placeholder="Choose a File">
      <span class="input-group-btn">
        <button class="btn btn-default"
                id="browseBtn"
                type="button"
                onclick="$('#uploadFile').click();"><i class="fa fa-search-plus"></i> Browse
        </button>

      </span>
        </div>
        <div class="progress mt5 progress-striped" ng-class="{'fadeOutDelayed' : uploadProgress==100}" ng-show="uploadProgress>0">
            <div class="progress-bar" ng-class="{'progress-bar-success' : uploadProgress==100}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{uploadProgress+'%'}}">
                {{uploadProgress+'%'}}
            </div>
        </div>

        <div class="alert alertBlock mt5 wiggle" ng-show="message.show" ng-class="message.alertStyle">
            <h4>{{message.title}} !</h4>
            {{message.body}}
        </div>







    </div>
</div>