<div class="form-group clearfix">
    <label for="{{formField.id}}">{{formField.label}}
        <i class="fa fa-question-circle"
           ng-hide="!formField.userInstructions"
           popover="{{formField.userInstructions}}"
           popover-trigger="mouseenter"></i>
    </label>

    <div class="input-group" ng-style="{'width': formField.size+'%'}">
        <form id="{{formField.id}}" action="" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                    data-amount="2000"
                    data-name="Demo Site"
                    data-description="2 widgets ($20.00)"
                    data-image="/128x128.png">
            </script>
        </form>
    </div>
</div>