<div class="form-group clearfix" ng-show="isAuthorized">
    <label>{{appField.label}}
        <i class="fa fa-question-circle"
           ng-hide="!appField.userInstructions"
           popover="{{appField.userInstructions}}"
           popover-trigger="mouseenter"></i>
    </label>

    <div class="input-group" ng-style="{'width': appField.size+'%'}">
        <label class="btn m5"
               ng-class="{ 'btn-success disabled': appField.selected == option.label ,'btn-default' : appField.selected != option.label}"
               ng-repeat='option in appField.options'>
            <input type="radio" name="appField.id" ng-model="appField.selected" ng-value="option.label">
            {{option.label}}
        </label>

    </div>
</div>