<div class="feed-fixed hidden-print" ng-show="postView!='grid'"
     ng-class="{ percentageScreen : sideMenuVisible, halfScreen :!sideMenuVisible}">


    <div class="panel panel-transparent p0 b0">
        <!--Feed Header for dashboard, teams and forms-->
        pp={{printPreview}}
        <div class="panel-body" id="feedHeader">

            <!--Users Dashboard - ie, it's not a form and it's not a team-->

            <form ng-show="!form && !team" class="form">

                <a href="/profile"><img class="form-icon" ng-src="{{user.photo}}"></a>
                <h4 ng-if="user.name.givenName">{{user.name.givenName + ' ' + user.name.familyName}}</h4>
                <h4 ng-if="!user.name.givenName">{{user.displayName}}</h4>

                    <span class="label label-default cursor-hand"
                          ng-click="postView='feed';"><i
                            class="fa fa-square"></i></span>
                    <span class="label label-default cursor-hand"
                          ng-click="postView='list';"><i
                            class="fa fa-bars"></i></span>

            </form>

            <!--Team Header -->
            <form ng-show="team" class="form">

                <div class="form-icon">
                    <i class="fa fa-group fa-lg"></i>
                </div>
                <p>{{team.title || team.displayName}}
                </p>

                    <span class="label label-default cursor-hand"
                          ng-click="postView='feed';"><i
                            class="fa fa-square"></i></span>
                    <span class="label label-default cursor-hand"
                          ng-click="postView='list';"><i
                            class="fa fa-bars"></i></span>
            </form>

                <span ng-show="form">
                    <img class="form-icon" ng-src="{{form.icon}}">
                    <p>{{form.displayName}}
                        <a href="{{location}}/edit"><i class="fa fa-edit"></i>
                        </a></p>
    <button class="btn btn-success pull-right" ng-click="newPost()">
        {{form.btnLabel}} <i class="fa fa-plus fa-lg"></i></button>


                    <span ng-show="form.settings.displayOptions.feed" class="label label-default cursor-hand"
                          ng-click="postView='feed';"><i
                            class="fa fa-square"></i></span>
                    <span ng-show="form.settings.displayOptions.list" class="label label-default cursor-hand"
                          ng-click="postView='list';"><i
                            class="fa fa-bars"></i></span>
                    <span ng-show="form.settings.displayOptions.grid" class="label label-default cursor-hand"
                          ng-click="postView='grid';"><i
                            class="fa fa-table"></i></span>
                    <span ng-show="form.settings.displayOptions.customDashboard || true"
                          class="label label-default cursor-hand"
                          ng-click="postView='custom';"><i class="fa fa-file-o"></i></span>

                     <span class="label cursor-hand"
                           ng-class="{'label-success' : selectedStatus === 'All', 'label-default' : selectedStatus !== 'All'}"
                           ng-click="filterStatus('All')">All</span>


                    <div class="m5 p0 inline" ng-repeat="field in form.fields" ng-if="field.type=='status'">
                        <span class="label ml5 cursor-hand"
                              ng-class="{'label-success' : selectedStatus === option.label, 'label-default' : selectedStatus !== option.label}"
                              ng-repeat="option in field.options"
                              ng-click="filterStatus(option.label)">
                             {{option.label}}</span>
                    </div>
                </span>
        </div>

    </div>

    <!--Feed LIST for dashboard, teams and forms-->


    <div id='foo-post-collection' class="scroll m0 b0" ng-style="setFeedHeight()" ng-show="postView=='list' || postView=='feed'"
         ng-hide="post.hide" ng-cloak>

        <foo-post-collection view="{{postView}}" streams="{{postStreams}}" active-post="activePost"  active-form="activeForm"  posts="posts"
                             team="team"
                             grid-data="gridData" status="{{selectedStatus}}">
        </foo-post-collection>

    </div>


</div>


<div class="feed-fixed-wide hidden-print"
     ng-show="(postView=='feed' || postView=='list')"
     ng-class="{percentageScreenWide : sideMenuVisible,
      halfScreenWide :!sideMenuVisible}"
     ng-cloak>

    <div class="row" ng-if="activePost">
        <div class="col-sm-12">

            <foo-post active-post="activePost"  active-form="activeForm"  members="org.members" delete-post="deletePost()" copy-post="copyPost()"
                      save-post="savePost()" print-preview="printPreview" print-post="printPost()" cancel-print="closePrintPreview()"
                      cancel-post="cancelPost()" add-repeat="addRepeat()"></foo-post>

        </div>

    </div>
    <div class="row" ng-if="activePost.commentStream && (form.settings.allowComments || activeForm.settings.allowComments )">
        <div class="col-sm-12">
            <foo-comment-collection active-post="activePost"></foo-comment-collection>
        </div>
    </div>


</div>

<div class="feed-fixed-grid hidden-print" ng-cloak ng-show="postView=='grid'"
     ng-class="{ percentageScreen : sideMenuVisible, halfScreen :!sideMenuVisible}">

    <div class="panel panel-transparent p0 b0 mt10">
        <div class="panel-body" id="gridHeader">
            <span ng-show="form">

                    <img class="form-icon" ng-src="{{form.icon}}">
                    <p>{{form.displayName}}
                        <a href="{{location}}/edit"><i class="fa fa-edit fa-lg"></i>
                        </a></p>
    <button class="btn btn-default pull-right" ng-click="newPost()">
        {{form.btnLabel}} <i class="fa fa-plus fa-lg"></i></button>


                    <span ng-show="form.settings.displayOptions.feed" class="label label-default"
                          ng-click="postView='feed';"><i
                            class="fa fa-square"></i></span>
                    <span ng-show="form.settings.displayOptions.list" class="label label-default"
                          ng-click="postView='list';"><i
                            class="fa fa-bars"></i></span>
                    <span ng-show="form.settings.displayOptions.grid" class="label label-default"
                          ng-click="postView='grid';"><i
                            class="fa fa-table"></i></span>
                    <span ng-show="form.settings.displayOptions.customDashboard || true" class="label label-default"
                          ng-click="postView='custom';"><i class="fa fa-file-o"></i></span>

                     <span class="label label-success" ng-click="filterStatusOff()">All</span>


                    <div class="m5 p0 inline" ng-repeat="field in form.fields" ng-show="field.type=='status'">
                        <span class="label darker m5" ng-repeat="option in field.options"
                              ng-click="filterStatus(option)">
                             {{option.label}}</span>
                    </div>
                </span>

        </div>
    </div>
</div>
<div class="feed-fixed-small hidden-print" ng-show="postView=='grid' && posts.length>0"
     ng-class="{percentageScreenWide : sideMenuVisible,
      halfScreenWide :!sideMenuVisible}">
    <div class="gridOptions"></div>
</div>

<div class="clearfix scroll-grid hidden-print" ng-show="postView=='grid' || postView=='custom'"
     ng-class="{ percentageFullScreen : sideMenuVisible, fullScreen :!sideMenuVisible}"
     ng-style="setFeedHeight()">


    <div ng-show="postView=='grid'" class="gridWrapper">

        <table class="table table-responsive foo-grid" tr-ng-grid="" items="gridData"
               fields="gridFields"
               enable-filtering="false"
               selection-mode="SingleRow"
               selected-items="gridSelectedPost"
                >

        </table>

    </div>

    <div ng-show="postView=='custom'" compile="form.settings.customDashboardHtml"></div>

</div>


<div class="panel-slider hidden-print" ng-show="postView=='grid' && showPostForm"
     ng-class="{slidePanelIn: gridSelectedPost.length>0,
    slidePanelOut: gridSelectedPost.length==0}">

    <foo-post active-post="activePost" members="org.members" delete-post="deletePost()" copy-post="copyPost()"
              save-post="savePost()"
              cancel-post="cancelPost()"></foo-post>

</div>

<div class="feed-fixed-wide hidden-print" ng-cloak ng-show="posts.length===0 && !activePost"
     ng-class="{percentageScreenWide : sideMenuVisible, halfScreenWide :!sideMenuVisible}">
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-foo-dark">
                <div class="panel-heading">
                    <h5>Quick Start Guide</h5>
                </div>
                <div class="panel-body" ng-show="team">
                    <h4>OK, you've got a team called <span class="text-primary">{{team.displayName}}</span></h4>

                    <p>Now you need to create one or more forms for the team to use.</p>

                    <ul class="icon-list clearfix">
                        <li>
                            <div class="form-icon-wrapper">
                                <div class="form-icon yellow">
                                    <a href="/formBuilder"> <i class="fa fa-edit fa-lg"></i></a>
                                </div>
                                <a href="/formBuilder">Create New Forms with Form Builder</a>
                            </div>
                        </li>
                        <li>
                            <div class="form-icon-wrapper">
                                <div class="form-icon purple">
                                    <a href="/forms"> <i class="fa fa-th fa-lg"></i></a>
                                </div>
                                <a href="/forms">Browse Form Templates in the Catalog</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-body" ng-hide="team">

                    <h4>How it works</h4>

                    <p>
                        Fooforms let's you share posts with your team just like any other social network.<br>
                        You can share basic posts like you get in Twitter but you can create and share more complex
                        forms too.
                        <br>
                    </p>
                    <h4>Quick Start Links</h4>
                    <ul class="icon-list clearfix">
                        <li>
                            <div class="form-icon-wrapper">
                                <div class="form-icon yellow">
                                    <a href="/formBuilder"> <i class="fa fa-edit fa-lg"></i></a>
                                </div>
                                <a href="/formBuilder">Create New Forms with Form Builder</a>
                            </div>
                        </li>
                        <li>
                            <div class="form-icon-wrapper">
                                <div class="form-icon purple">
                                    <a href="/forms"> <i class="fa fa-th fa-lg"></i></a>
                                </div>
                                <a href="/forms">Browse Form Templates in the Catalog</a>
                            </div>
                        </li>

                        <li>
                            <div class="form-icon-wrapper">
                                <div class="form-icon red">
                                    <a href="/organisations"> <i class="fa fa-group fa-sitemap"></i></a>
                                </div>
                                <a href="/organisations">Manage your Organisation, Add members, etc.</a>
                            </div>
                        </li>
                        <li>
                            <div class="form-icon-wrapper">
                                <div class="form-icon blue">
                                    <a href="/teams"> <i class="fa fa-group fa-lg"></i></a>
                                </div>
                                <a href="/teams">Create Teams, Add & Remove Members</a>
                            </div>
                        </li>
                        <li>
                            <div class="form-icon-wrapper">
                                <div class="form-icon green">
                                    <a href="/profile"> <i class="fa fa-user fa-lg"></i></a>
                                </div>
                                <a href="/profile">Manage your profile picture, name and preferences </a>
                            </div>
                        </li>


                    </ul>
                    <p><strong>Form Builder</strong><br>
                        Use the form builder to create form templates for everything and anything. Here's a few ideas.
                    <ul>
                        <li>Helpdesk</li>
                        <li>Team Collaboration</li>
                        <li>Bug Tracker</li>
                        <li>Holiday Requests</li>
                        <li>Sales Leads</li>
                    </ul>
                    </p>


                    <p><strong>Sharing Forms</strong><br>
                        Each form you create can be private, shared with a team or published to your website, blog or
                        facebook page.
                    </p>


                    <p><strong>Form Catalog</strong><br>We've already made a bunch of useful form templates that you can
                        take and modify to your exact requirements. It's the easiest way to get up and running.
                    </p>

                    <p><strong>Teams and members</strong><br>
                        You can use teams to give users access only to the forms that are useful to them.
                    </p>


                    <div class="m10 p10">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="printPreview hidden-print slideExpandUp" ng-show="printPreview">
    <div class="row" ng-if="activePost">
        <div class="col-sm-12">

            <foo-post active-post="activePost"  active-form="activeForm"  members="org.members" delete-post="deletePost()" copy-post="copyPost()"
                      save-post="savePost()" print-preview="printPreview" print-post="printPost()" cancel-print="closePrintPreview()"
                      cancel-post="cancelPost()" add-repeat="addRepeat()"></foo-post>

        </div>

    </div>
</div>

<div class="printPost visible-print-block container" ng-show="printPreview">
    <div class="row" ng-if="activePost">
        <div class="col-sm-12">

            <foo-post active-post="activePost"  active-form="activeForm"  members="org.members" delete-post="deletePost()" copy-post="copyPost()"
                      save-post="savePost()" print-post="printPost()" print-preview="printPreview" print-post="printPost()" cancel-print="closePrintPreview()"
                      cancel-post="cancelPost()" add-repeat="addRepeat()"></foo-post>

</div></div>
</div>


