<div class="feed-fixed hidden-print animated"
     ng-class="{
     'leftScreen-small' : sideMenuVisible && (postView=='list'),
     'leftScreen-small-noMenu': !sideMenuVisible && (postView=='list'),
     'fullScreen' : sideMenuVisible && (postView=='grid' || postView=='custom' || postView=='calendar' ),
     'fullScreen-noMenu':!sideMenuVisible && (postView=='grid' || postView=='custom' || postView=='calendar' ),
     'leftScreen' : sideMenuVisible && (postView=='feed'),
     'leftScreen-noMenu' :!sideMenuVisible && (postView=='feed')
      }">
    <div class="panel panel-transparent p0 b0 ml5 mr10">
        <!--Feed Header for dashboard, teams and forms-->

        <div class="panel-body" id="feedHeader">

            <!--Users Dashboard - ie, it's not a form and it's not a team-->

            <form ng-show="!form && !team" class="form">

                <a href="/profile"><img class="form-icon" ng-src="{{user.photo}}"></a>
                <h4 ng-if="user.name.givenName">{{user.name.givenName + ' ' + user.name.familyName}}</h4>
                <h4 ng-if="!user.name.givenName">{{user.displayName}}</h4>


                   <span class="label cursor-hand"
                         ng-class="{'label-success' : postView=='feed' , 'label-default':postView!='feed'}"
                         ng-click="postView='feed';"><i class="fa fa-square"></i></span>

                <span class="label cursor-hand"
                      ng-class="{'label-success' : postView=='list' , 'label-default':postView!='list'}"
                      ng-click="postView='list';"><i class="fa fa-bars"></i></span>


            </form>

            <!--Team Header -->
            <form ng-show="team" class="form">

                <div class="form-icon">
                    <i class="fa fa-group fa-lg"></i>
                </div>
                <p>{{team.title || team.displayName}}
                </p>

                    <span class="label cursor-hand"
                          ng-class="{'label-success' : postView=='feed' , 'label-default':postView!='feed'}"
                          ng-click="postView='feed';"><i class="fa fa-square"></i></span>
                     <span class="label cursor-hand"
                           ng-class="{'label-success' : postView=='list' , 'label-default':postView!='list'}"
                           ng-click="postView='list';"><i class="fa fa-bars"></i></span>

            </form>

                <span ng-show="form">
                    <img class="form-icon" ng-src="{{form.icon}}"/>
                    <p>{{form.displayName}}
                        <a href="{{location}}/edit"><i class="fa fa-edit"></i>
                        </a></p>
    <button class="btn btn-success pull-right" ng-click="newPost()">
        {{form.btnLabel}} <i class="fa fa-plus fa-lg"></i></button>


                                        <span ng-show="form.settings.displayOptions.feed" class="label cursor-hand"
                                              ng-class="{'label-success' : postView=='feed' , 'label-default':postView!='feed'}"
                                              ng-click="postView='feed';"><i class="fa fa-square"></i></span>

                    <span ng-show="form.settings.displayOptions.list" class="label cursor-hand"
                          ng-class="{'label-success' : postView=='list' , 'label-default':postView!='list'}"
                          ng-click="postView='list';"><i class="fa fa-bars"></i></span>



                    <span ng-show="form.settings.displayOptions.grid" class="label cursor-hand"
                          ng-class="{'label-success' : postView=='grid' , 'label-default':postView!='grid'}"
                          ng-click="postView='grid';"><i class="fa fa-table"></i></span>

                   <!-- <span ng-show="form.settings.displayOptions.grid" class="label cursor-hand"
                          ng-class="{'label-success' : postView=='calendar' , 'label-default':postView!='calendar'}"
                          ng-click="postView='calendar';"><i class="fa fa-calendar"></i></span>-->

                    <span ng-show="form.settings.displayOptions.customDashboard || true"
                          class="label label-default cursor-hand"
                          ng-class="{'label-success' : postView=='custom' , 'label-default':postView!='custom'}"
                          ng-click="postView='custom';"><i class="fa fa-file-o"></i></span>

                     <span class="label cursor-hand"
                           ng-class="{'label-success' : isFilter('All','All'), 'label-default' : !isFilter('All','All')}"
                           ng-click="filterStatus('All','All')">All</span>


                    <div class="m5 p0 inline" ng-repeat="field in form.fields" ng-if="field.type=='status'">
                        <span class="label ml5 cursor-hand"
                              ng-class="{'label-success' : isFilter(option.label,field.id), 'label-default' : !isFilter(option.label,field.id)}"
                              ng-repeat="option in field.options"
                              ng-click="filterStatus(option.label, field)">
                             {{option.label}}</span>
                    </div>
                </span>
        </div>

    </div>

    <!--Feed LIST for dashboard, teams and forms-->


    <div id='foo-post-collection' class="scroll m0 b0" ng-style="feedPosition"
         ng-show="postView=='list' || postView=='feed' || postView=='grid' || postView=='calendar'"
         ng-hide="post.hide" ng-cloak
         ng-class="{
              slideFeedIn: (!showPostForm && postView=='feed'),
             slideFeedOut: (showPostForm && postView=='feed')
             }">

        <div class="m10 p10 block text-center" ng-show="fetching">
            <i class="fa fa-circle-o-notch fa-spin fa-2x text-muted m10 p10"></i>
        </div>
        <foo-post-collection view="{{postView}}" streams="{{postStreams}}" active-post="activePost"
                             active-form="activeForm" posts="posts"
                             team="team" status="selectedStatus"
                             grid-headings="gridHeadings"
                             copy-post="copyPost()"
                             save-post="savePost()"
                             show-post-form="showPostForm"
                             deleting-post-id="deletingPostId">
        </foo-post-collection>

        <div class="panel-slider hidden-print animated animated-slow ng-cloak" ng-show="postView=='grid'"
             ng-class="{
             slidePanelIn: showPostForm,
             slidePanelOut: !showPostForm
             }"
             ng-style="feedPosition">

            <foo-post active-post="activePost" active-form="activeForm" members="org.members" delete-post="deletePost()"
                      copy-post="copyPost()"
                      save-post="savePost()" print-preview="printPreview" full-screen="fullScreen"
                      print-post="printPost()" show-full-screen="showFullScreen()"
                      cancel-full-screen="cancelFullScreen()"
                      cancel-post="cancelPost()" add-repeat="addRepeat()"
                      doing-post-api="doingPostApi"
                      ng-show="activePost"></foo-post>


        </div>


    </div>
    <div class="scroll hidden-print animated animated-slow ng-cloak initOffScreen" ng-show="postView=='feed'"
         ng-class="{
             slideFeedPanelIn: showPostForm ,
             slideFeedPanelOut: !showPostForm
             }"
         ng-style="feedPosition"
        >

        <foo-post active-post="activePost" active-form="activeForm" members="org.members" delete-post="deletePost()"
                  copy-post="copyPost()"
                  save-post="savePost()" print-preview="printPreview" full-screen="fullScreen"
                  print-post="printPost()" show-full-screen="showFullScreen()"
                  cancel-full-screen="cancelFullScreen()"
                  cancel-post="cancelPost()" add-repeat="addRepeat()"
                  doing-post-api="doingPostApi"></foo-post>

    </div>

</div>


<div class="feed-fixed-wide hidden-print animated ng-cloak"
     ng-show="(postView=='list' || postView=='feed')"
     ng-class="{
     'rightScreen-wide' : sideMenuVisible && (postView=='list'),
     'rightScreen-wide-noMenu': !sideMenuVisible && (postView=='list'),
     'rightScreen' : sideMenuVisible && (postView=='feed'),
     'rightScreen-noMenu' :!sideMenuVisible && (postView=='feed')
      }"
     ng-cloak>

    <div class="row" ng-show="activePost && postView=='list'">
        <div class="col-sm-12">
            <foo-post active-post="activePost" active-form="activeForm" members="org.members" delete-post="deletePost()"
                      copy-post="copyPost()"
                      save-post="savePost()" print-preview="printPreview" full-screen="fullScreen"
                      print-post="printPost()" show-full-screen="showFullScreen()"
                      cancel-full-screen="cancelFullScreen()"
                      cancel-post="cancelPost()" add-repeat="addRepeat()"
                      doing-post-api="doingPostApi"></foo-post>

        </div>

    </div>
    <div class="row"
         ng-if="activePost.commentStream && (form.settings.allowComments || activeForm.settings.allowComments )">
        <div class="col-sm-12">
            <foo-comment-collection active-post="activePost" active-form="form"></foo-comment-collection>
        </div>
    </div>


</div>


<div class="clearfix scroll-grid hidden-print animated ng-cloak" ng-show="postView=='custom'"
     ng-class="{ percentageFullScreen : sideMenuVisible, fullScreen :!sideMenuVisible}"
     ng-style="feedPosition">
    <div ng-show="postView=='custom'" compile="form.settings.customDashboardHtml"></div>

</div>


<div class="printPreview hidden-print slideExpandUp ng-cloak" ng-show="fullScreen">
    <div class="row" ng-if="activePost">
        <div class="col-sm-12">

            <foo-post active-post="activePost" active-form="activeForm" members="org.members" delete-post="deletePost()"
                      copy-post="copyPost()"
                      save-post="savePost()" print-preview="printPreview" full-screen="fullScreen"
                      print-post="printPost()" show-full-screen="showFullScreen()"
                      cancel-full-screen="cancelFullScreen()"
                      cancel-post="cancelPost()" add-repeat="addRepeat()"></foo-post>

        </div>

    </div>
</div>

<div class="printPost visible-print-block container ng-cloak">
    <div class="row" ng-if="activePost">
        <div class="col-sm-12">

            <foo-post active-post="activePost" active-form="activeForm" members="org.members" delete-post="deletePost()"
                      copy-post="copyPost()"
                      save-post="savePost()" print-preview="printPreview" full-screen="fullScreen"
                      print-post="printPost()" show-full-screen="showFullScreen()"
                      cancel-full-screen="cancelFullScreen()"
                      cancel-post="cancelPost()" add-repeat="addRepeat()"></foo-post>

        </div>
    </div>
</div>


