<div class="feed-fixed" ng-show="postView!='grid'" ng-class="{ percentageScreen : sideMenuVisible, halfScreen :!sideMenuVisible}">



        <div class="panel panel-transparent p0 b0 mt10">
            <div class="panel-body">

                <form ng-show="!form && !team" class="form">

                        <a href="/profile"><img class="form-icon" ng-src="{{user.photo}}"></a>
                        <h4>{{(user.name.givenName + ' ' + user.name.familyName) || user.displayName}}
                           </h4>

                    <button class="btn btn-default pull-right" ng-click="newPost()">
                        New Post <i class="fa fa-plus fa-lg"></i></button>

                    <span class="label label-default"><i class="fa fa-search"></i></span>
                    <span class="label label-default"
                          ng-click="postView='feed';"><i
                            class="fa fa-square"></i></span>
                    <span class="label label-default"
                          ng-click="postView='list';"><i
                            class="fa fa-bars"></i></span>

                </form>


                <form ng-show="team" class="form">

                    <div class="form-icon">
                    <i class="fa fa-group fa-lg">
                        </i></div>
                    <h4>{{team.title || team.displayName}}
                        </h4>
                    <button class="btn btn-default pull-right" ng-click="newPost()">
                        New Team Post <i class="fa fa-plus fa-lg"></i></button>

                    <!--<span class="label label-default"><i class="fa fa-search"></i></span>-->
                    <span class="label label-default"
                          ng-click="postView='feed';"><i
                            class="fa fa-square"></i></span>
                    <span class="label label-default"
                          ng-click="postView='list';"><i
                            class="fa fa-bars"></i></span>


                </form>
                <span ng-show="form">

                    <img class="form-icon" ng-src="{{form.icon}}">
                    <h4>{{form.displayName}}
                        <a href="{{location}}/edit"><i class="fa fa-edit fa-lg"></i>
                        </a></h4>
    <button class="btn btn-default pull-right" ng-click="newPost()">
        {{form.btnLabel}} <i class="fa fa-plus fa-lg"></i></button>

                    <span class="label label-default"><i class="fa fa-search"></i></span>
                    <span ng-show="form.settings.displayOptions.feed" class="label label-default"
                          ng-click="postView='feed';"><i
                            class="fa fa-square"></i></span>
                    <span ng-show="form.settings.displayOptions.list" class="label label-default"
                          ng-click="postView='list';"><i
                            class="fa fa-bars"></i></span>
                    <span ng-show="form.settings.displayOptions.grid" class="label label-default"
                          ng-click="postView='grid';"><i
                            class="fa fa-table"></i></span>
                    <span ng-show="form.settings.displayOptions.customDashboard || true" class="label label-default"
                          ng-click="postView='custom';"><i class="fa fa-file-o"></i></span>

                     <span class="label"
                           ng-class="{'label-success' : selectedStatus === 'All', 'label-default' : selectedStatus !== 'All'}"
                           ng-click="filterStatus('All')">All</span>


                    <div class="m5 p0 inline" ng-repeat="field in form.fields" ng-show="field.type=='status'">
                        <span class="label"
                              ng-class="{'label-success' : selectedStatus === option.label, 'label-default' : selectedStatus !== option.label}"
                              ng-repeat="option in field.options"
                              ng-click="filterStatus(option.label)">
                             {{option.label}}</span>
                    </div>
                </span>
            </div>

        </div>



    <div class="scroll m0 b0" ng-show="postView=='list' || postView=='feed'" ng-hide="post.hide">

        <foo-post-collection view="{{postView}}" streams="{{postStreams}}" active-post="activePost" posts="posts"
                             grid-data="gridData" status="{{selectedStatus}}">
        </foo-post-collection>

    </div>



</div>



<div class="feed-fixed-wide"
     ng-show="postView=='feed' || postView=='list'"
     ng-class="{percentageScreenWide : sideMenuVisible,
      halfScreenWide :!sideMenuVisible}">


    <div class="alert fade-in br0 m0 {{msgStatus}} " ng-show="activeMsgBox=='formViewer'">
        <p ng-bind="msg"></p>
    </div>


        <div class="row">
            <div class="col-sm-12">

                <foo-post active-post="activePost" members="org.members" delete-post="deletePost()" copy-post="copyPost()" save-post="savePost()"
                          cancel-post="cancelPost()" add-repeat="addRepeat()"></foo-post>

            </div>

        </div>

        <div class="row" ng-if="activePost.commentStream">
            <div class="col-sm-12">
                <foo-comment-collection active-post="activePost"></foo-comment-collection>
            </div>
        </div>

    </div>

<div class="feed-fixed-grid" ng-show="postView=='grid'" ng-class="{ percentageScreen : sideMenuVisible, halfScreen :!sideMenuVisible}">

    <div class="panel panel-transparent p0 b0 mt10">
        <div class="panel-body">
            <span ng-show="form">

                    <img class="form-icon" ng-src="{{form.icon}}">
                    <h4>{{form.displayName}}
                        <a href="{{location}}/edit"><i class="fa fa-edit fa-lg"></i>
                        </a></h4>
    <button class="btn btn-default pull-right" ng-click="newPost()">
        {{form.btnLabel}} <i class="fa fa-plus fa-lg"></i></button>

                    <span class="label label-default"><i class="fa fa-search"></i></span>
                    <span ng-show="form.settings.displayOptions.feed" class="label label-default"
                          ng-click="postView='feed';"><i
                            class="fa fa-square"></i></span>
                    <span ng-show="form.settings.displayOptions.list" class="label label-default"
                          ng-click="postView='list';"><i
                            class="fa fa-bars"></i></span>
                    <span ng-show="form.settings.displayOptions.grid" class="label label-default"
                          ng-click="postView='grid';"><i
                            class="fa fa-table"></i></span>
                    <span ng-show="form.settings.displayOptions.customDashboard || true" class="label label-default"
                          ng-click="postView='custom';"><i class="fa fa-file-o"></i></span>

                     <span class="label label-success" ng-click="filterStatusOff()">All</span>


                    <div class="m5 p0 inline" ng-repeat="field in form.fields" ng-show="field.type=='status'">
                        <span class="label darker m5" ng-repeat="option in field.options"
                              ng-click="filterStatus(option)">
                             {{option.label}}</span>
                    </div>
                </span>

            </div>
        </div>
</div>
<div class="feed-fixed-small"  ng-show="postView=='grid'"
      ng-class="{percentageScreenWide : sideMenuVisible,
      halfScreenWide :!sideMenuVisible}">
    <div glass="gridOptions">Grid options</div>
</div>

    <div class="clearfix scroll-grid" ng-show="postView=='grid' || postView=='custom'" ng-class="{ percentageFullScreen : sideMenuVisible, fullScreen :!sideMenuVisible}" >


        <div ng-show="postView=='grid'" class="gridWrapper">

            <table class="table table-responsive foo-grid" tr-ng-grid="" items="gridData"
                   fields="gridFields"
                   enable-filtering="false"
                   selection-mode="SingleRow"
                   selected-items="gridSelectedPost"
                   >

                   </table>

        </div>

        <div ng-show="postView=='custom'" compile="form.settings.customDashboardHtml"></div>

    </div>


<div class="panel-slider hidden-print" ng-show="postView=='grid' && showPostForm"
     ng-class="{slidePanelIn: gridSelectedPost.length>0,
    slidePanelOut: gridSelectedPost.length==0}">

            <foo-post active-post="activePost" members="org.members" delete-post="deletePost()" copy-post="copyPost()" save-post="savePost()"
                      cancel-post="cancelPost()"></foo-post>

</div>



<div class="feed-fixed-wide" ng-if="postStreams.length==0"
     ng-class="{percentageScreenWide : sideMenuVisible, halfScreenWide :!sideMenuVisible}">
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>Welcome {{user.displayName}}</h5>
                </div>
                <div class="panel-body">
                    <p>We're so happy you decided to try FOOFORMS.</p>
                    <h4>Getting started</h4>

                    <p>Jump right in and get your first forms up and running.
                        Choose to build your own or browse from the selection of ready-to-go forms</p>
                    <a class="btn btn-success" href="/forms">Browse Ready-to-go Forms</a> - or -
                    <a class="btn btn-success" href="/formBuilder">Open the Form Builder</a>
                    <h4>Next</h4>

                    <p class="pt5">Next : Create some teams. Teams help you define who sees which forms.</p>
                    <a class="btn btn-primary" href="/teams">Create Teams</a>

                    <p class="pt5">Be sure to get in touch if you have any questions, we're always delighted to
                        assist.</p>

                </div>
            </div>
        </div>
    </div>
</div>


