<div id="tabs-newForm" class="tab-pane active panel panel-foo-dark">
    <div class="panel-heading"
         ng-class="{ 'bg-warning': showFormSettings}"
         ng-click="editField(null,null,'Form', $event)"><img class='icon pull-left'
                                                             ng-src="{{form.icon}}">

        <h4 id='formName'>{{form.title || 'Click Here to Edit the Form Name'}}</h4>

        <p id='formDescription'>{{form.description || 'A word or two to describe this form to others.'}} </p>

    </div>
    <div class="container-fluid p10"
         ng-class="{ 'newForm': form.fields.length==0}">
        <form role="form" class="fooform">

            <div ui-sortable="sortableOptions"
                 ng-model="form.fields"
                 id='formFields'
                 class="connected-apps-container row">

                <div class='formObject plr5 col-sm-{{formField.boxSize}}'
                     ng-repeat="formField in form.fields track by $index"
                     ng-show="formField.name"
                     ng-click="editField($index,null,'Field', $event)"
                     ng-class="{ 'bg-info': $index == nowEditing , 'dropped' : $index == dropped, 'inlineFormFields': form.settings.displayOptions.inlineFormFields}">
                    <div class="btn-group pull-right onTop">

                        <button ng-click="editField($index, null, 'Field', $event)"
                                class='btn btn-xs btn-default'
                                >{{$index}}
                        </button>
                        <button ng-click='deleteItem(formField.id)'
                                class='btn btn-xs btn-danger'
                                ng-show="$index == nowEditing">X
                        </button>
                    </div>
                    <div ng-include='"/template/formFields/" + formField.type + ".html"'></div>
                </div>


            </div>
        </form>
    </div>


</div>