<div class="row">
<div class="col-sm-12 scrollPanel">

<div class="panel panel-foo">
<div class="panel-heading p0">
    <ul id='optionTabs' class="nav nav-tabs">
        <li class="active"><a id='formTabFields' data-target="#formTabs-fields" data-toggle="tab">Add a New Field</a>
        </li>
        <li><a id='formTabSettings' data-target="#formTabs-settings" data-toggle="tab">Field Settings</a></li>
    </ul>
</div>
<div class="panel-body m0">
<div class="tab-content">
<div id="formTabs-fields" class="tab-pane active appear">


    <div class="row">

        <!-- Navigation Buttons -->
        <div class="col-sm-6">

            <ul class="nav nav-pills nav-stacked" id="myTabs">
                <li class="active"><a class="br0" id='standardFieldTab' data-toggle="tab" data-target="#standard"
                                      ng-click="openDesignTab()">Standard</a>
                </li>
                <li><a class="br0" data-toggle="tab" data-target="#users" ng-click="openDesignTab()">Users & People</a>
                </li>
                <li><a class="br0" data-toggle="tab" data-target="#numbers" ng-click="openDesignTab()">Numbers &
                    Money</a>
                </li>
                <li><a class="br0" data-toggle="tab" data-target="#images" ng-click="openDesignTab()">Images & Files</a>
                </li>
                <li><a class="br0" data-toggle="tab" data-target="#advanced" ng-click="openDesignTab()">Advanced</a>
                </li>
                <li><a class="br0" id='sideEventTab' data-toggle="tab" data-target="#events" ng-click="openEventTabs()">Events</a>
                </li>

            </ul>
        </div>

        <!-- Content -->
        <div class="col-sm-6">
            <div class="tab-content m0 p0">
                <div class="tab-pane active" id="standard">


                    <div ui-sortable="sortableOptions"
                         ng-model="standardInputTypes"
                         class="first list-group apps-container">
                        <div class='fieldObject btn btn-default b0 p10 m5'
                             ng-mousedown="openDesignTab()"
                             ng-repeat="inputType in standardInputTypes"
                             ng-show="inputType.name"
                                >
                            {{inputType.name}}
                        </div>
                    </div>


                </div>
                <div class="tab-pane" id="users">

                    <div ui-sortable="sortableOptions"
                         ng-model="userInputTypes"
                         class="first list-group apps-container">
                        <div class='fieldObject btn btn-default b0 p10 m5'

                             ng-mousedown="openDesignTab()"
                             ng-repeat="inputType in userInputTypes"
                             ng-show="inputType.name"
                             ng-border="showBorders(show)"
                                >
                            {{inputType.name}}
                        </div>
                    </div>


                </div>

                <div class="tab-pane" id="numbers">
                    <div ui-sortable="sortableOptions"
                         ng-model="numberInputTypes"
                         class="first list-group apps-container">
                        <div class='fieldObject btn btn-default b0 p10 m5'
                             ng-mousedown="openDesignTab()"
                             ng-repeat="inputType in numberInputTypes"
                             ng-show="inputType.name"
                             ng-border="showBorders(show)"
                                >
                            {{inputType.name}}
                        </div>
                    </div>


                </div>
                <div class="tab-pane" id="images">
                    <div ui-sortable="sortableOptions"
                         ng-model="fileInputTypes"
                         class="first list-group apps-container">
                        <div class='fieldObject btn btn-default b0 p10 m5'
                             ng-mousedown="openDesignTab()"
                             ng-repeat="inputType in fileInputTypes"
                             ng-show="inputType.name"
                             ng-border="showBorders(show)"
                                >
                            {{inputType.name}}
                        </div>
                    </div>


                </div>
                <div class="tab-pane" id="advanced">
                    <div ui-sortable="sortableOptions"
                         ng-model="advancedInputTypes"
                         class="first list-group apps-container">
                        <div class='fieldObject btn btn-default b0 p10 m5'
                             ng-mousedown="openDesignTab()"
                             ng-repeat="inputType in advancedInputTypes"
                             ng-show="inputType.name"
                             ng-border="showBorders(show)"
                                >
                            {{inputType.name}}
                        </div>
                    </div>


                </div>
                <div class="tab-pane" id="events">
                    <div ui-sortable="eventSortableOptions"
                         ng-model="formEvents"
                         class="first list-group events-container">
                        <div class='fieldObject btn btn-default b0 p10 m5'
                             ng-mousedown="openEventTabs()"
                             ng-repeat="eventType in formEvents"
                             ng-show="eventType.name"
                             draggable="eventType"
                             ng-border="showBorders(show)">
                            {{eventType.name}}
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>


</div>


<div id="formTabs-settings" class="tab-pane">
    <div class="panel panel-foo-dark">
        <div class='panel-heading appear' ng-show="nowEditing>=0 && (showFieldSettings || showGroupSettings)" >
            <h5><span class="badge">{{nowEditing}}</span> <span>{{form.fields[nowEditing].label}}</span>
                <span class="text-muted"> ({{form.fields[nowEditing].name}}) </span>
            <span ng-show="nowSubEditing>=0 && showGroupSettings">
                 <i class="fa fa-caret-right"></i>

                <span class="badge">{{nowSubEditing}}</span>
             <span>{{form.fields[nowEditing].fields[nowSubEditing].label}} </span>

            <span class="text-muted"> ({{form.fields[nowEditing].fields[nowSubEditing].name}})</span>
            </span>
            </h5>
        </div>

        <div class='panel-heading appear' ng-show="nowEditing>=0 && showEventSettings">
            <h6><span class="badge">{{nowEditing}}</span> <span>{{form.formEvents[nowEditing].name}} </span>


            </h6>
        </div>


        <!-- Settings Block for Standard Fields -->
        <div  class="appear alert alert-warning"
              ng-hide="showFieldSettings || showGroupSettings || showEventSettings || showFormSettings">

            <h4>Nothing Selected to Edit</h4>

            <p>Please Select a <strong>Form Field</strong> or the <strong>Form Title</strong> from the Design Tab or an
                <strong>Event</strong> from the Form Events Tab to Edit Settings.<strong> &raquo;</strong></p>


        </div>


        <div id="FieldSettings" class="panel-body" ng-if="showFieldSettings===true">
            <div ng-include="'/template/formFields/options/' + form.fields[nowEditing].type + '.html'"  class="appear"></div>
        </div>
        <!-- Settings Block for Group Fields -->

        <div id="groupSettings" class="panel-body" ng-if="showGroupSettings===true">
            <div ng-include="'/template/formFields/groupOptions/' + form.fields[nowEditing].fields[nowSubEditing].type + '.html'" class="appear"></div>
        </div>


        <div id="EventSettings" class="panel-body m0 p0" ng-if="showEventSettings===true">
            <div ng-include="form.formEvents[nowEditing].template" class="appear"></div>
        </div>
        <!-- Settings Block for Basic Form Settings -->

        <div id="formSettings" class="appear panel-body" ng-show="showFormSettings">
            <form class="form form-horizontal container-fluid" role="form" name="form" novalidate="novalidate">
                <div class="form-group">


                    <label class="col-sm-4 control-label">App Name</label>

                    <div class="col-sm-8">
                        <input type="text" ng-model="form.title" name="name"
                               id="name" folder="{{form.folder._id || form.folder}}"
                               required form-name="form-name"
                               class="form-control"
                                placeholder="Name your App"/>
                        <input type="text" ng-show="false" ng-model="form.displayName">
                        <i ng-show="formNameBusy"
                           class="halflings-icon refresh rotating"></i>
                    </div>
                    <div ng-show="ctrl.$dirty &amp;&amp; ctrl.$error.required"
                         class="help-block">You need a form name
                    </div>
                    <div ng-show="ctrl.$dirty &amp;&amp; ctrl.$error.isTaken"
                         class="help-block alert alert-danger">Form name already taken
                    </div>
                    <div ng-show="ctrl.$dirty &amp;&amp; ctrl.$error.error"
                         class="help-block alert alert-danger">Invalid form name
                    </div>
                </div>






                <div class="form-group">
                    <label class="col-sm-4 control-label">Description</label>

                    <div class="col-sm-8">

                        <input type='text' class="form-control" ng-model="form.description"/>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-4 control-label">Icon</label>

                    <div class="col-sm-8">
                        <img class='icon' ng-src="{{form.icon}}"/>
                        <button class="btn btn-default" ng-click="open();">Change!</button>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-4 control-label">New Post - Button</label>

                    <div class="col-sm-8">
                        <input type='text' class="form-control" ng-model="form.btnLabel"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Allow Comments</label>

                    <div class="col-sm-8">

                       <toggle-switch off-text="No" on-text="Yes" off-style="danger" on-style="success"
                                                              ng-model="form.settings.allowComments"></toggle-switch>


                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Display Options</label>

                    <div class="col-sm-8">

                        <label class="checkbox-inline"><input type="checkbox"
                                                              ng-model="form.settings.displayOptions.feed">Feed</label>
                        <label class="checkbox-inline"><input type="checkbox"
                                                              ng-model="form.settings.displayOptions.list">List</label>

                        <label class="checkbox-inline"><input type="checkbox"
                                                              ng-model="form.settings.displayOptions.grid">Grid</label>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Label Layout</label>

                    <div class="col-sm-8">

                        <toggle-switch off-text="Top" on-text="Left" off-style="info" on-style="info"
                                       ng-model="form.settings.displayOptions.inlineFormFields"></toggle-switch>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Custom Dashboard</label>

                    <div class="col-sm-8">

                        <toggle-switch off-text="No" on-text="Enabled" off-style="danger" on-style="success"
                                       ng-model="form.settings.displayOptions.customDashboard"></toggle-switch>
                        <button class="btn btn-xs btn-default pull-right"
                                ng-click="openCodeEditor('customDashboardHtml')"
                                ng-show="form.settings.displayOptions.customDashboard">Open Editor
                        </button>
                    </div>
                </div>
                <h5 class="text-info optionsTitle"><i class="fa fa-caret-right"></i>Display Options for Published
                    (External) Forms</h5>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Background Color</label>

                    <div class="col-sm-4">

                        <input type="color" class="form-control" ng-model="form.settings.displayOptions.color">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="form.settings.displayOptions.color">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Custom Header</label>

                    <div class="col-sm-8">

                        <toggle-switch off-text="No" on-text="Enabled" off-style="danger" on-style="success"
                                       ng-model="form.settings.displayOptions.customForm"></toggle-switch>

                        <button class="btn btn-xs btn-default pull-right" ng-click="openCodeEditor('customFormHtml')"
                                ng-show="form.settings.displayOptions.customForm">Open Editor
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Custom Submit Message</label>

                    <div class="col-sm-8">

                        <toggle-switch off-text="No" on-text="Enabled" off-style="danger" on-style="success"
                                       ng-model="form.settings.displayOptions.customSubmitMsg"></toggle-switch>

                        <button class="btn btn-xs btn-default pull-right" ng-click="openEditor('customSubmitHtml')"
                                ng-show="form.settings.displayOptions.customSubmitMsg">Open Editor
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Terms & Conditions</label>

                    <div class="col-sm-8">

                        <toggle-switch off-text="No" on-text="Enabled" off-style="danger" on-style="success"
                                       ng-model="form.settings.tandcWeb"></toggle-switch>

                        <button class="btn btn-xs btn-default pull-right" ng-click="openEditor('tandcHtml')"
                                ng-show="form.settings.tandcWeb">Edit T&C's
                        </button>
                    </div>
                </div>


            </form>
        </div>
    </div>


</div>
</div>

</div>
</div>
</div>


</div>

