<div id="tabs-settings" class="tab-pane">
    <div class="panel panel-default">
        <div class="panel-body">


            <h4 class="text-info">Who can use this form?</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row mb10">
                        <div class="col-sm-12 col-md-6 col-lg-3 m0 p0">


                            <button class="btn btn-block"
                                    ng-class="{ 'btn-success': form.folder == user.defaultFolder._id ,'btn-default' : form.folder != user.defaultFolder._id}"
                                    ng-click="updateFolder(user.defaultFolder._id)">
                                <i class="fa fa-check" ng-show="form.folder == user.defaultFolder._id"></i>
                                Private
                            </button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mb10">
                            <p class="list-group-item-text">
                                Your form will be visible to just you. Good for personal ToDo Lists, Notes, etc.
                            </p>
                        </div>
                    </div>
                    <hr class="hr-foo">

                    <div class="alert alert-warning" ng-if="!form.url">
                        <i class="fa fa-warning"></i> You'll need to Save this form before you can share it with a team.
                    </div>

                    <div ng-repeat="team in user.teams | filter:{ _id: '!' + organisation.owners}"
                         class="form-group row m2 p0"
                         ng-if="form.url">

                        <div ng-repeat="folder in team.folders" class="col-sm-12 col-md-6 col-lg-3 m0 p0">


                            <button class="btn btn-block"
                                    ng-class="{ 'btn-success': form.folder == folder._id ,'btn-default' : form.folder != folder._id}"
                                    ng-click="updateFolder(folder._id)">
                                <i class="fa fa-check" ng-show="form.folder == folder._id"></i>
                                {{team.displayName}}
                            </button>


                        </div>


                    </div>

                    <p class="list-group-item-text pt10"
                       ng-if="form.url">
                        Members of the selected team will have access to this form.
                        <br>Good for Shared Tasks, Helpdesks, Invoices, Holiday Requests, etc.</p>

                    <div class="alert"
                         ng-if="form.url">
                        <h5>Privileges</h5>
                        <h6><input type="radio" ng-model="form.sharing.type" value="USER"> Users can see just
                            their
                            own posts.</h6>
                        <h6><input type="radio" ng-model="form.sharing.type" value="ALL"> Users can see all
                            posts.
                        </h6>

                    </div>
                </li>


            </ul>
        </div>


    </div>
</div>