<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-4 control-label">Field Label</label>

        <div class="col-sm-8">
            <input type='text' class="form-control" ng-model="form.fields[nowEditing].label"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Box size</label>

        <div class="col-sm-8">
            <input type="range" name="points" min="1" max="12"
                   ng-model="form.fields[nowEditing].boxSize">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Field size</label>

        <div class="col-sm-8">
            <input type="range" name="points" min="10" max="100" ng-model="form.fields[nowEditing].size">

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Repeatable</label>

        <div class="col-sm-8">
            <input type='checkbox' ng-model="form.fields[nowEditing].repeatable">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Link fields to a list</label>

        <div class="col-sm-8">
            <input type='checkbox' ng-model="form.fields[nowEditing].list.enabled">
            <button class="btn btn-xs btn-default pull-right" ng-click="openListManager()"
                    ng-show="form.fields[nowEditing].list.enabled">Manage List
            </button>
        </div>
    </div>

{{Session.forms | json}}

    <table class="table table-bordered">
        <tr>
            <td>
                <select ng-model="form.fields[nowEditing].options.formId"
                        class="form-control">
                    <option ng-repeat="formData in formFolder.forms"
                            value="{{formData.id}}"
                            ng-selected="form.fields[nowEditing].options.formID==formData.id"> {{formData.title}}
                    </option>
                </select>

            </td>

            <td>
                <select ng-model="form.fields[nowEditing].options.field2.item"
                        class="form-control">
                    <option ng-repeat="field in form.fields"
                            value="{{field.id}}"
                            ng-selected="form.fields[nowEditing].options.field2.item==field.id">{{field.label}} - [ {{field.name}} ]
                    </option>
                </select>
                <input type="text"
                       ng-model="form.fields[nowEditing].options.field2.value"
                       ng-show="form.fields[nowEditing].options.field2.item=='Specified Value'"
                       class="form-control mt10">
            </td>
        </tr>
    </table>


</form>
