$fa-font-path: "/fonts";

@import '../../bower/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../../bower/bootstrap-sass-official/assets/stylesheets/bootstrap/theme';

body {
    background-color: transparent !important;
  padding: 0px;
  margin: 0px;
}

body.renderForm {
    background: #94b5c3;
    padding-top: 10px;
}

.container {
    max-width: 1000px;
}
.br0 {
  border-radius: 0;
}

.b0 {
  border: 0;
}

.mr10 {
  margin-right: 10px;
}

form.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

form.fooForm.panel.panel-default {
    background-color: transparent !important;
}

form.fooForm.panel.panel-default div.panel-body {
    background-color: rgba(255, 255, 255, .8);
}

form.fooForm.panel.panel-default div.panel-footer {
    background-color: rgba(255, 255, 255, .4);
    border: 0px;
}

.foo-header.panel-heading {
    background: rgba(0, 0, 0, .1);
    border: 0px;
}

.foo-header h4 {
    font-weight: 300;
    margin-top: 18px;
    line-height: 1em;
    font-size: 1.4em;
  padding: 0px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, .6);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .3);
}

.foo-header p {
  padding: 0px;
    margin: 0px;
    color: rgba(255, 255, 255, .8);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .3);
}


.inline {
  display: inline-block;
}

#formLayout, .formLayout {
  display: block;
  padding-bottom: 0px;

}

.ng-invalid-required.ng-touched {
    border: 1px solid #c84041;
    background: rgba(200, 64, 65, 0.05) !important;
    box-shadow: 0px 0px 3px 1px rgba(200, 64, 65, 0.76);
}

label i.fa.foo-required {
    font-size: 1em;
    color: #c84041;
    -ms-transform: scale(.55, .55); /* IE 9 */
    -webkit-transform: scale(.55, .55); /* Safari */
    transform: scale(.55, .55);
    margin: 0px;
    padding: 0px;
}

.inlineFormFields div.form-group label {
    display: inline-block;
    text-align: right;
    width: 20%;
    margin-top: 8px;
}

.inlineFormFields div.form-group div.input-group {
    display: inline-block;
    float: right;
    width: 79% !important;
}

.modal.fade {
  bottom: -100%;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.fade.in {

  top: auto;
  bottom: 150px;

}

select.form-control {
  margin-right: 10px !important;
}

/*placeholder for draggies*/
#formFields div.fieldObject, #formEvents div.fieldObject {
  clear: both !important;
  padding: 30px !important;
  border-radius: 0px !important;
  border: 1px solid #EFE3AE;
}

textarea.tandc {
  display: block;
  min-height: 400px;
  min-width: 540px !important;
}

.icons a {
  border: 3px solid #fff;
  display: inline-block;
  padding: 4px;
  margin: 0px;
}

.icons a:hover {
  border: 3px solid #D2E5F7;

}

img.icon {
  max-width: 48px;
  margin: 4px;
}

label i.fa {
  font-size: 1.4em;
  color: #185aa7;
  margin-left: 5px;
}

img.icon {
  max-height: 48px !important;
  display: inline-block;
  vertical-align: middle;
}

.inline {
  display: inline;
}

.ta-editor {
  height: auto !important;
  min-height: 200px !important;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  margin: 5px 0;
  padding: 10px;
}

.ta-bind {
  min-height: 200px !important;

}

.slideExpandUp {
  animation-name: slideExpandUp;
  -webkit-animation-name: slideExpandUp;

    animation-duration: .6s;
    -webkit-animation-duration: .6s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  visibility: visible !important;
}

@keyframes slideExpandUp {
  0% {
      transform: translateY(100%) scaleX(0.8);
  }

  90% {
    transform: translateY(0%) scaleX(1.02);
  }
  100% {
    transform: translateY(0%) scaleX(1);
  }
}

@-webkit-keyframes slideExpandUp {
  0% {
      -webkit-transform: translateY(100%) scaleX(0.8);
  }

  90% {
    -webkit-transform: translateY(0%) scaleX(1.02);
  }
  100% {
    -webkit-transform: translateY(0%) scaleX(1);
  }
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;

    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}
.fadeInSlow {
    animation-name: fadeInSlow;
    -webkit-animation-name: fadeInSlow;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}



@keyframes fadeIn {
  0% {
      transform: scale(.9);
    opacity: 0.0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
      -webkit-transform: scale(.9);
    opacity: 0.0;
  }

  100% {
    -webkit-transform: scale(1);
      opacity: 1;
  }
}

@keyframes fadeInSlow {
    0% {
        opacity: 0.0;
    }
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInSlow {
    0% {
        opacity: 0.0;
    }
    60% {
        opacity: 0;
    }

    100% {
    opacity: 1;
  }
}

/*
See README.md or https://github.com/fraywing/textAngular/wiki for requirements and use.
*/

.ta-hidden-input {
  width: 1px;
  height: 1px;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -10000px;
  left: -10000px;
  opacity: 0;
  overflow: hidden;
}

/* add generic styling for the editor */
.ta-root.focussed > .ta-scroll-window.form-control {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ta-editor.ta-html, .ta-scroll-window.form-control {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.ta-scroll-window.form-control {
  position: relative;
  padding: 0;
}

.ta-scroll-window > .ta-bind {
  height: auto;
  min-height: 300px;
  padding: 6px 12px;
}

.ta-editor:focus {
  user-select: text;
}

/* add the styling for the awesomness of the resizer */
.ta-resizer-handle-overlay {
  z-index: 100;
  position: absolute;
  display: none;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-info {
  position: absolute;
  bottom: 16px;
  right: 16px;
  border: 1px solid black;
  background-color: #FFF;
  padding: 0 4px;
  opacity: 0.7;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-background {
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  top: 5px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner {
  width: 10px;
  height: 10px;
  position: absolute;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tl {
  top: 0;
  left: 0;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tr {
  top: 0;
  right: 0;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-bl {
  bottom: 0;
  left: 0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-br {
  bottom: 0;
  right: 0;
  border: 1px solid black;
  cursor: se-resize;
  background-color: white;
}

/* copy the popover code from bootstrap so this will work even without it */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.popover.top {
  margin-top: -10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 9px 14px;
}

.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover > .arrow {
  border-width: 11px;
}

.popover > .arrow:after {
  content: "";
  border-width: 10px;
}

.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}

.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}

.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}

.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
