<div class="form-group clearfix">
    <label>{{formField.label}}
        <i class="fa fa-question-circle"
           ng-hide="!formField.userInstructions"
           popover="{{formField.userInstructions}}"
           popover-trigger="mouseenter"></i>
    </label>
<div class="input-group alert alert-info" ng-show="formField.value.name">
    <a class="pull-left" target="_new" href="/api/file/{{formField.value._id}}" ng-src="formField.value._id" >
        <img class="media-object" ng-show="formField.value._id">
        <h6>{{ formField.value.name + " : "+ formField.value.mimeType }}</h6>
    </a>

</div>
    <div class="input-group" ng-style="{'width': formField.size+'%'}">

        <span class="input-group-addon" ng-show="formField.required">*</span>



        <input type="file" name="uploadFile" id="uploadFile" class="hidden" ng-model="uploadFile"
               ng-file-select="onFileSelect($files, formField)">

        <div class="input-group">
            <input type="text" class="form-control" ng-model="uploadFile.name" placeholder="Choose a File">
      <span class="input-group-btn">
        <button class="btn btn-default"
                id="browseBtn"
                type="button"
                onclick="$('#uploadFile').click();"><i class="fa fa-search-plus"></i> Browse
        </button>

      </span>
        </div>
        <div class="progress mt5 progress-striped" ng-class="{'fadeOutDelayed' : formField.progress==100}" ng-show="formField.progress>0">
            <div class="progress-bar" ng-class="{'progress-bar-success' : formField.progress==100}" role="progressbar" aria-valuenow="{{formField.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{formField.progress+'%'}}">
                {{formField.progress+'%'}}
            </div>
        </div>


    </div>
</div>
