<% include globalHeader.html %>


<div class="row-fluid">
    <% include leftMenu.html %>
    <div class="span8 boxed">
        <div id='appView' class='hide'>
            <div id='nowViewing'>
                <img src=''/>

                <h1></h1>
<span id='formAction'><span>
            </div>
            <div id='theFormDescription' class='alert alert-success m5'>
            </div>
            <div id='theForm' class='alert alert-info m5'>
            </div>
            <div id='theFormPostVars'>
            </div>
            <div id='posts'>
            </div>

        </div>
        <div id='tabs'>
            <ul id='mainTabs' class="nav nav-tabs">
                <li><a href="#tabs-1" data-toggle="tab">My Apps</a></li>
                <li><a href="#tabs-2" data-toggle="tab">App Store</a></li>
                <li><a href="#tabs-3" data-toggle="tab">Create an App</a></li>
                <li style="float: right"><a href='#' id='itemTitlelink'><span id='itemTitle'></span></a></li>
            </ul>
            <div class="tab-content">
                <div id="tabs-1" class="tab-pane active">


                </div>
                <div id="tabs-2" class="tab-pane">

                    <div class='well'>
                        <a class='btn' href='clouds'>Find more clouds</a>
                        <button class='btn'>Create a cloud</button>
                    </div>
                </div>
                <div id="tabs-3" class="tab-pane">


                </div>
            </div>
        </div>


    </div>

    <div class="span2 boxed">

        <%include rightMenu.html %>


    </div>
</div>
</div>

<% include footer.html %>

 