<div class="span3 boxed">


    <div id='nowViewingProfile' class='hide'>
    </div>

    <div id="leftMenu">
        <ul id='optionTabs' class="nav nav-tabs">
            <li class="active"><a href="#appTabs-fields" data-toggle="tab">Fields</a></li>
            <li><a id='appTab2' href="#appTabs-settings" data-toggle="tab">Settings</a></li>
            <li><a id='appTab3' href="#appTabs-app" data-toggle="tab">App</a></li>
        </ul>
        <div class="tab-content">
            <div id="appTabs-fields" class="tab-pane active">

                <div class='fieldObject appTextbox'>Text Field</div>
                <div class='fieldObject appTextarea'>Text Area</div>
                <div class='fieldObject appParagraph'>Paragraph</div>
                <div class='fieldObject appDropdown'>Dropdown</div>
                <div class='fieldObject appListbox'>Listbox</div>
                <hr>
                <div class='fieldObject appDatePicker'>DatePicker</div>
                <div class='fieldObject appFileUpload'>File Attachment</div>
                <div class='fieldObject appImageUpload'>Image</div>
                <div class='fieldObject appVideoUpload'>Video</div>
                <hr>
                <div class='fieldObject appUserSelectTo'>Users List</div>
                <hr>
                <div class='fieldObject appLineBreak'>Line Break</div>


            </div>


            <div id="appTabs-settings" class="tab-pane alert alert-info">
                <div class='info'>
                    No Field Items have beem selected. Drag fields to the form, the edit.
                </div>
            </div>


            <div id="appTabs-app" class="tab-pane alert alert-success">

                <label>App Name</label>
                <input type='text' name='appName' id='txbxAppName' value='Untitled App'/>
                <label>Description</label>
                <textarea name='appDescription' id='txareaAppDescription'>This is the app that I built to get stuff
                    done.</textarea>

                <label>Icon</label>

                <div>
                    <input type='hidden' name='icon' id='icon' value='1'/>
                    <img id='img_icon' class='icon' src='http://www.cloudthingy.com/app/dispatch.php?id=95'/>

                    <input class='fileuploader btn' name="file_icon" id='file_icon' type="file"/>
                    <progress id='progress' style='display:none;'></progress>
                </div>
                <fieldset>
                    <legend>Display Options</legend>
                    <label>Menu Label</label>
                    <input type='text' name='menuLabel' id='menuLabel' value='Untitled App'/>
                    <label>New Button Label</label>
                    <input type='text' name='newButtonLabel' id='newButtonLabel' value='Create New'/>
                    <label>Display Posts as</label>
                    <select name='feedDisplayStyle' id='feedDisplayStyle'>
                        <option>Feed</option>
                        <option>Grid</option>
                        <option>Bucket</option>
                    </select>
                </fieldset>

                <fieldset>
                    <legend>Engagement</legend>
                    <label>Allow Comments</label>
                    Yes<input type='radio' name='allowComments' id=allowComments checked value='1'/> No<input
                        type='radio' name='allowComments' id=noallowComments value='0'/>
                    <label>Minimum level to View</label>
                    <select name='minimumViewLevel' id='minimumViewLevel'>
                        <option>Visitor</option>
                        <option>Fan</option>
                        <option>Staff</option>
                        <option>Manager</option>
                        <option>Admin</option>
                    </select>
                    <label>Minimum level to Post</label>
                    <select name='minimumPostLevel' id='minimumPostLevel'>
                        <option>Visitor</option>
                        <option>Fan</option>
                        <option>Staff</option>
                        <option>Manager</option>
                        <option>Admin</option>
                    </select>
                </fieldset>

            </div>
        </div>
    </div>
</div>