<div class="feed-fixed" ng-class="{percentageScreen : sideMenuVisible, halfScreen :!sideMenuVisible}">
    <% include includes/formBuilderMenu.html %>
</div>
<div class="feed-fixed-wide" ng-class="{percentageScreenWide : sideMenuVisible, halfScreenWide :!sideMenuVisible}">
    <div class=" container-fluid">

        <div id='msgCenter' class="hide">
            <div class="alert alert-block alert-info fade in m5">
                <p></p>
            </div>
        </div>

        <div id="tabs">
            <div class="btn-group pull-right m5">
                <button ng-click="deleteForm()"
                        class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> Delete
                </button>
                <button ng-click="copyForm()"
                        class="btn btn-default btn-sm"><i class="fa fa-copy"></i> Copy
                </button>
                <button ng-click="dontSaveForm()"
                        class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Cancel
                </button>
                <button ng-click="saveForm()" class="btn btn-default btn-sm"><i class="fa fa-save"></i> Save</button>
            </div>
            <ul id='formTabs' class="nav nav-tabs">
                <li class="active"><a id="designTab" data-target="#tabs-newForm" data-toggle="tab"
                                      ng-click="openDesignTab()">Design</a></li>
                <li><a data-target="#tabs-settings" data-toggle="tab">Share</a></li>
                <li><a data-target="#tabs-publishing" data-toggle="tab">Publish</a></li>
                <li ng-if="false"><a id="eventsTab" data-target="#tabs-events" data-toggle="tab" ng-click="openEventTabs()">Form
                    Events</a>
                </li>
                <!-- TODO: temporary removal until some updates are made -->
                <!--<li><a data-target="#tabs-publish" data-toggle="tab">Preview</a></li>-->
            </ul>
            <div class="tab-content">
                <% include includes/formBuilderEditor.html %>

                <% include includes/formBuilderSharing.html %>

                <% include includes/formBuilderEvents.html %>

                <% include includes/formBuilderPublishing.html %>


            </div>
        </div>

    </div>


</div>





