<div class="form-group clearfix">
    <label for="{{formField.id}}">{{formField.label}}<i class="fa fa-asterisk foo-required"
                                                        ng-show="formField.required"></i>
        <i class="fa fa-question-circle"
           ng-hide="!formField.userInstructions"
           popover="{{formField.userInstructions}}"
           popover-trigger="mouseenter"
           popover-append-to-body="true"></i>
    </label>

    <div class="input-group" ng-style="{'width': formField.size+'%'}">
        <label ng-class="{ 'checkbox-inline': formField.settings.display == 'Inline' ,'checkbox' : formField.settings.display == 'Stacked'}"
               ng-repeat='option in formField.options'>
            <input type="checkbox" ng-model="option.selected"
                   ng-required="formField.required"
                   id="{{formField.id}}">{{option.label}}
        </label>


    </div>
</div>
