<div class="form-group clearfix">
    <label for="{{formField.id}}">{{formField.label}}<i class="fa fa-asterisk foo-required"
                                                        ng-show="formField.required"></i>
        <i class="fa fa-question-circle"
           ng-hide="!formField.userInstructions"
           popover="{{formField.userInstructions}}"
           popover-trigger="mouseenter"
           popover-append-to-body="true"></i>
    </label>

    <div class="input-group" ng-style="{'width': formField.size+'%'}">
        <button pikaday
                class="form-control text-align-left p5"
                id="{{formField.id}}" ng-model="formField.value">{{ formField.value | date:'EEEE, MMM d, y' }}
        </button>

    </div>
</div>
