<div class="form-group clearfix">
    <label for="{{formField.id}}">{{formField.label}}<i class="fa fa-asterisk foo-required"
                                                        ng-show="formField.required"></i>
        <i class="fa fa-question-circle"
           ng-hide="!formField.userInstructions"
           popover="{{formField.userInstructions}}"
           popover-trigger="mouseenter"
           popover-append-to-body="true"></i>
    </label>

    <div class="input-group" ng-style="{'width': formField.size+'%'}">
        <input type="number"
               class="form-control"
               id="{{formField.id}}"
               placeholder="{{formField.placeholder}}"
               ng-model="formField.value"/>
    </div>
</div>
