<div class="form-group clearfix">
    <label for="{{formField.id}}">{{formField.label}}<i class="fa fa-asterisk foo-required"
                                                        ng-show="formField.required"></i>
        <i class="fa fa-question-circle"
           ng-hide="!formField.userInstructions"
           popover="{{formField.userInstructions}}"
           popover-trigger="mouseenter"
           popover-append-to-body="true"></i>
    </label>

    <div foo-progress-bar class="progress" ng-click="editProgress=!editProgress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{formField.value}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: {{formField.value}}%">
            {{formField.value}}%
        </div>
    </div>

    <div class="input-group appear col-sm-3" ng-show="editProgress && !formField.options.updateMethod">
        <input type="number" min="0" max="100"
               class="form-control"
               id="{{formField.id}}"
               ng-model="formField.value"
               ng-required="formField.required"
            />
        <span class="input-group-addon">%</span>
         <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="editProgress=!editProgress"><i class="fa fa-caret-up text-primary"></i></button>
      </span>
    </div>
</div>
