<div class="form-group clearfix">
    <label>{{formField.label}}<i class="fa fa-asterisk foo-required" ng-show="formField.required"></i>
        <i class="fa fa-question-circle"
           ng-hide="!formField.userInstructions"
           popover="{{formField.userInstructions}}"
           popover-trigger="mouseenter"
           popover-append-to-body="true"></i>
    </label>

    <div class="input-group" ng-style="{'width': formField.size+'%'}">
        <label ng-class="{ 'radio-inline': formField.settings.display == 'Inline' ,'radio ml5' : formField.settings.display == 'Stacked'}"
               ng-repeat='option in formField.options track by $index'>
            <input type="radio"
                   ng-required="formField.required"
                   name="{{formField.id}}"
                   ng-model="formField.selected"
                   ng-value="option.label">{{option.label}}
        </label>


    </div>
</div>