<!DOCTYPE html>
<html ng-app="FooForm">
<head lang="en">
    <meta charset="UTF-8">
    <title><%= formName %></title>
    <link rel="stylesheet" href="/css/embedded-form.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="/js/embedded-form.min.js"></script>

</head>
<body ng-controller="FormCtrl">

<div id='formLayout' class="container">
    <div ng-if="post.settings.customForm">
        <div compile="post.settings.customFormHtml"></div>
    </div>
    <form role="form" class="panel panel-info b0">

        <div class="foo-header panel-heading text-info">
            <img class="icon pull-left" ng-src="{{post.icon}}" alt="">
            <h4 class="inline p0 text-info">{{post.title || post.displayName}}</h4>

            <p class="text-primary">{{post.description}}</p>
        </div>
        <div class="foo-body panel-body">

            <div class="row" ng-hide="sorted">
                <div class='col-sm-{{formField.boxSize}} under viewFormObject'
                     ng-repeat="formField in post.fields track by $index"
                     ng-show="!formField.adminOnly">

                    <div ng-include='formField.template'></div>
                </div>
            </div>
        </div>
    </form>
    <div class="row" ng-show="errorPosting">
        <div class="col-sm-12 p5 alert alert-danger">
            <h4>Oops!</h4>

            <p>There seems to have been an error processing your form. Please review and try again.<br>{{status}}</p>
        </div>
    </div>


    <div class="modal fade" id="tandc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
                </div>
                <div class="modal-body input-group">
                    <textarea ng-model="post.settings.tandcHtml" class="tandc form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="post.settings.tandcWeb" ng-hide="sorted">
        <div class="col-sm-12 p5 alert alert-info">
            <input type="checkbox" ng-model="tandcAccepted"> I accept the <a data-toggle="modal" data-target="#tandc">Terms
            & Conditions</a>
            <button id='savePost' ng-click="submit()" ng-disabled="!tandcAccepted"
                    class="btn btn-primary pull-right">Submit
            </button>
        </div>
    </div>
    <div class="row" ng-hide="post.settings.tandcWeb || sorted">
        <div class="col-sm-12 p5">

            <button id='savePostNoTC' ng-click="submit()"
                    class="btn btn-primary">Submit
            </button>
        </div>
    </div>
    <div class="row" ng-show="sorted">
        <div class="col-sm-12 p5 alert alert-success br0">
            <h4>Thank you</h4>
        </div>
    </div>

</div>

</body>
</html>
