<div class="feed-fixed" ng-class="{percentageScreen : sideMenuVisible, halfScreen :!sideMenuVisible}">


        <div class="panel panel-default ml5">
            <div class="panel-heading">
            <button class="btn btn-primary pull-right" ng-click="newPost()">
                {{form.btnLabel}} <i class="fa fa-plus fa-lg"></i></button>
            <img class="icon  pull-left" ng-src="{{form.icon}}">
            <h4 class="inline">{{form.name}}
                <a href="formBuilder" ng-click="updateForm(form)"><i class="fa fa-edit fa-lg"></i>
                </a></h4>

            <p id='formDescription'>{{form.description}} </p> <span class="label label-default">All</span>
                <span class="label label-default">Pending</span>
                <span class="label label-info">Active</span>
                <span class="label label-default">Complete</span> <span class="label label-default">
       <i class="fa fa-search"></i>
      </span>
</div>


        </div>

<div class="scroll">

                <div class="panel panel-default panel-feed"
                     ng-repeat="foo in posts" ng-click="viewPost($index)">

                    <div class="panel-heading">
                        <a class="pull-left" ng-click="viewPost($index)">
                            <img class="media-object icon icon-feed" ng-src="{{foo.icon}}" alt="">

                        </a>&nbsp;{{foo.fields[0].value}}
                    </div>

                            <div class="panel-body">
                                {{foo.fields[0].label}}:
                                {{foo.fields[0].value}}<br>
                                {{foo.fields[1].label}}: {{foo.fields[1].value}}<br>
                                {{foo.fields[2].label}}: {{foo.fields[2].value}}
                            </div>


                </div>


</div>

</div>


<div class="feed-fixed-wide"  ng-class="{percentageScreenWide : sideMenuVisible, halfScreenWide :!sideMenuVisible}">




    <div class="alert fade in m0 br0 {{msgStatus}} "ng-show="activeMsgBox=='formViewer'">
        <p ng-bind="msg"></p>
    </div>




    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <form role="form" class="panel panel-default">

                    <div class="panel-heading">{{form.name}}
                        <div class="btn-group pull-right">
                            <button id='deletePost' ng-click="deletePost(postObj)"
                                    class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i> Delete
                            </button>
                            <button id='copyPost' ng-click="copyPost(postObj)"
                                    class="btn btn-default btn-xs"><i class="fa fa-copy"></i> Copy
                            </button>
                            <button id='cancelPost' ng-click="cancelPost(postObj)"
                                    class="btn btn-default btn-xs"><i class="fa fa-reply"></i> Cancel
                            </button>
                            <button id='savePost' ng-click="savePost(postObj)"
                                    class="btn btn-default btn-xs"><i class="fa fa-save"></i> Save
                            </button>
                        </div></div>
                    <div class="panel-body">  <fieldset>
                        <div class='col-xs-12 col-sm-{{formField.boxSize}}'
                             ng-repeat="formField in postObj.fields track by $index"
                             ng-show="formField.name"
                             ng-include='formField.template'>
                        </div>

                    </fieldset>
                    </div>
                </form>
            </div>

        </div>


    </div>




</div>





