<div class="span2 boxed">

    <div id="options" class='col span_1_of_4'>
        <div id='nowViewingProfile' class='hide'>
            <img src='/images/pixel.png'/>
        </div>

        <div class="accordion" id="leftMenu">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#cloudApps">
                        <%= cloud %> Apps
                    </a>
                </div>
                <div id="cloudApps" class="accordion-body collapse in">

                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#myApps">
                        Favourite Apps
                    </a>
                </div>
                <div id="myApps" class="accordion-body collapse in">

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#rightMenu"
                               href="#menuClouds">
                                Clouds
                            </a>
                        </div>
                        <div id="menuClouds" class="accordion-body collapse">
                            <div class="accordion-inner">

                                <div id='myClouds'></div>
                                <button class='btn small btnNewCloud'>Create a New Cloud</button>
                                <br>
                                <button id='btnFindClouds' class='btn small'>Find Clouds</button>

                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               href="#collapseTwo">
                                Settings
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Anim pariatur cliche...
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                        Calendar
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Anim pariatur cliche...
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
                        Calendar
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Anim pariatur cliche...
                    </div>
                </div>
            </div>

        </div>


    </div>


</div>