<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#rightMenu" href="#Notifications">
            Notifications
        </a>
    </div>
    <div id="Notifications" class="accordion-body collapse in">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            No Tom just farted noise here, just important notifications that you control.<br>

        </div>
        <button id='btnNotificationSettings' class='btn btn-mini btn-block m5'>Notification Settings</button>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#rightMenu" href="#menuClouds">
            Clouds
        </a>
    </div>
    <div id="menuClouds" class="accordion-body collapse">
        <div class="accordion-inner">

            <div id='myClouds'></div>
            <button class='btn small btnNewCloud'>Create a New Cloud</button>
            <br>
            <button id='btnFindClouds' class='btn small'>Find Clouds</button>

        </div>
    </div>
</div>

  
