<% include globalHeader.html %>


<div class="row-fluid">
    <% include leftMenu.html %>
    <div class="span8 boxed">

        <div id='tabs'>
            <ul id='mainTabs' class="nav nav-tabs">
                <li><a href="#tabs-1" data-toggle="tab">My Profile</a></li>
                <li><a href="#tabs-2" data-toggle="tab">Security Settings</a></li>
                <li><a href="#tabs-3" data-toggle="tab">Promote</a></li>
                <li style="float: right"><a href='#' id='itemTitlelink'><span id='itemTitle'></span></a></li>
            </ul>
            <div class="tab-content">
                <div id="tabs-1" class="tab-pane active">


                </div>
                <div id="tabs-2" class="tab-pane">

                    <div class='well'>
                        <a class='btn' href='clouds'>Find more clouds</a>
                        <button class='btn'>Create a cloud</button>
                    </div>
                </div>
                <div id="tabs-3" class="tab-pane">

                    <? var_dump($_SERVER)?>
                </div>
            </div>
        </div>


    </div>

    <div class="span2 boxed">

        <%include rightMenu.html %>


    </div>
</div>
</div>

<% include footer.html %>

 