$fa-font-path: "/fonts";

@import '../../bower/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../../bower/bootstrap-sass-official/assets/stylesheets/bootstrap/theme';

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding: 0px;
  color: #212930;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

.T09 {
  opacity: .95;
}

.p0 {
  padding: 0px !important;
}

.pt10 {
  padding-top: 10px;
}

.m0 {

  margin: 0px;

}

.m2 {

  margin: 2px;

}

.mt20 {
  margin-top: 20px !important;
}

.text-shadow-light {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, .3) !Important;
}

.text-shadow-dark {
  text-shadow: 1px 1px rgba(0, 0, 0, .3) !important;
}

.align-center {
  text-align: center;
}
.text-center{
  text-align: center;
}
img.logo {
  padding: 0px;
  background: #fff;
  margin: 0px 0px 0px 0px;
  height: 50px;
}

.page-content {
  max-width: 1000px;
  margin: 0 auto 0;
  margin-top: 20px;
}

iframe {
  width: 100%;
  border: 0px !important;
  height: auto;
  min-height: 250px;
}

.iframe-large {
  width: 100%;
  border: 0px;
  height: 650px;

}

iframe div.alert {
  border-radius: 0px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.text-foo {
  color: #3B8686;
}
.text-white {
  color: #fff;
}
.navbar-default{
  border-bottom: 2px rgba(14, 41, 57, 0.15);
}

.navbar-foo > .container-fluid .navbar-brand {
  padding: 0px;
  height: 50px;
}

.navbar-foo {
  padding-left: 140px;
  padding-right: 140px;
  background: #fff !important;
}

.foo-menu {
  margin-left: 10px;
}

.foo-menu, .foo-menu li {
  height: 50px;
  line-height: 50px;
  padding: 0px;


}

.foo-menu li {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;

}
 .foo-menu li a{
   display: inline-block;
   padding: 0px !important;
   padding-left: 20px!important;
   padding-right: 20px!important;
   margin-top: 10px;
   color: #424d66 !important;
   height: 30px !important;
   line-height: 30px !important;
   background: -webkit-linear-gradient(#fff, #f2f6f9);
   background: -moz-linear-gradient(#fff, #f2f6f9);
   background: -ms-linear-gradient(#fff, #f2f6f9);
   background: -o-linear-gradient(#fff, #f2f6f9);
   background: linear-gradient(#fff, #f2f6f9);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.044), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
   -moz-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.044), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
   -ms-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.044), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
   -o-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.044), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
   box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.044), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
  }
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


.rounded-top {
  background: rgba(255, 255, 255, 0.4);
  padding: 8px;
  border-radius: 5px 5px 0px 0px;
  display: inline-block;
  margin: 0 auto 0;
  border: 1px solid rgba(255, 255, 255, .5);
  border-bottom: 0px;
}

.rounded-full {
  background: rgba(255, 255, 255, 0.4);
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  margin: 0 auto 0;
  border: 1px solid rgba(255, 255, 255, .5);
  border-bottom: 0px;
}

.bordered-light {
  border: 1px solid rgba(255, 255, 255, .5);
}

.btn-huge {
  border-radius: 6px;
  font-size: 1em;
}


.fa-huge {
  font-size: 12em !important;
  color: #f6f6f6;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.50);
}

.fa-big {
  margin: 10px;
  font-size: 50px;
  line-height: 50px;
  color: #68B3AF;
}

.highlight {
  color: #f6f6f6;
  background: #263042 url('/assets/images/tile-bg2.png');
  padding: 20px 0px;
  border-top: 20px solid #1f2736;
  border-bottom: 20px solid #1f2736;

}

.highlight {
  margin: 0 auto 0;
}

.highlight a {
  text-align: justify;
}

.highlight h2 {
  color: #1f2736;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .3);
}

.highlight div.col-sm-4 {

  margin-bottom: 5px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
.container {
  width: 100%;

}

/* Pad the edges of the mobile views a bit */
.marketing {
  position: relative;
  clear: both;
  margin-top: 50%;
  padding-left: 0px;
  padding-right: 0px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}

.marketing h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}

.marketing .col-lg-4 p {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.marketing .col-sm-4 img {
  width: 95%;
  margin-left: 2.5%;
}

/* Featurettes
------------------------- */
.featurette {
  margin: 0 auto 0;
  padding: 20px 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #fff url('/assets/images/tile-bg3.png');;
}

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  margin-top: 30px;
  font-weight: 300 !important;
  line-height: 1.1em;
  letter-spacing: -1px;
  font-size: 2.2em;
}

.text-highlight {
    color: #94b5c3;
}

.lightOnDark {
  font-family: 'Open Sans Condensed', sans-serif;

  color: #fff;
    background: #738e96 url('/assets/images/tile-bg2.png');
  padding: 20px 0px;
  font-weight: 300 !important;
}

.lightOnDark2 {
  color: #efefef;
  background: #5D4157;
  padding: 20px 0px;

  font-weight: 300 !important;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {


  /* Remove the edge padding needed for mobile */
  .marketing {
    padding: 0px;
    background: #ffffff;
  }

  .featurette-heading {
    margin-top: 60px;
    font-weight: 300;
    font-size: 2.5em;
  }

  .highlight div.col-sm-4 {
    border-bottom: 0px;
    margin-bottom: 0px;
  }

}

@media (min-width: 992px) {

  .featurette-heading {
    margin-top: 120px;
    font-size: 3.2em;
  }

  .content-secondary .ui-collapsible {
    padding: 0 15px 10px;

  }

  .content-secondary .ui-collapsible-content {
    padding: 0;
    background: none;
    border-bottom: none;
  }

  .content-secondary .ui-listview {
    margin: 0;
  }

  .content-secondary {
    text-align: left;
    float: left;
    width: 25%;
    background: none;
  }

  .content-secondary,
  .type-interior .content-secondary {
    margin: 30px 0 20px 2%;
    padding: 20px 4% 0 0;
    background: none;
    border-top: none;
  }

  .type-index .content-secondary {
    padding: 0;
  }

  .content-secondary .ui-collapsible {
    margin: 0;
    padding: 0;
  }

  .content-secondary .ui-collapsible-content {
    border: none;
  }

  .type-index .content-secondary .ui-listview {
    margin: 0;
  }

  .ui-mobile #jqm-homeheader {
    padding: 0;
  }

  .content-primary {
    width: 65%;
    float: right;
    margin-top: 30px;
    margin-right: 1%;
    padding-right: 1%;
  }

  .content-primary ul:first-child {
    margin-top: 0;
  }

  .content-secondary h2 {
    position: absolute;
    left: -9999px;
  }

  .type-interior .content-primary {
    padding: 1.5em 6% 3em 0;
    margin: 0;
  }

  /* fix up the collapsibles - expanded on desktop */
  .content-secondary .ui-collapsible-heading {
    display: none;
  }

  .content-secondary .ui-collapsible-contain {
    margin: 0;
  }

  .content-secondary .ui-collapsible-content {
    display: block;
    margin: 0;
    padding: 0;
  }

  .type-interior .content-secondary .ui-li-divider {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .type-interior .content-secondary {
    margin: 0;
    padding: 0;
  }

}

@media all and (max-width: 1024px) {
  .navbar-foo {
    padding-left: 60px;
    padding-right: 60px;

  }
}

@media all and (max-width: 800px) {
  .navbar-foo {
    padding-left: 0px;
    padding-right: 0px;

  }
}



