<div class="form-group clearfix">
    <label for="{{subField.id}}">{{subField.label}}
        <i class="fa fa-question-circle"
           ng-hide="!subField.userInstructions"
           popover="{{subField.userInstructions}}"
           popover-trigger="mouseenter"></i>
    </label>

    <div class="input-group" ng-style="{'width': subField.size+'%'}">
        <label ng-class="{ 'checkbox-inline': subField.settings.display == 'Inline' ,'checkbox' : subField.settings.display == 'Stacked'}"
               ng-repeat='option in subField.options'>
            <input type="checkbox" ng-model="option.selected"
                   id="{{subField.id}}">{{option.label}}
        </label>


    </div>
</div>