<div class="form-group clearfix">
    <label for="{{subField.id}}">{{subField.label}}
        <i class="fa fa-question-circle"
           ng-hide="!subField.userInstructions"
           popover="{{subField.userInstructions}}"
           popover-trigger="mouseenter"></i>
    </label>

    <div class="input-group" ng-style="{'width': subField.size+'%'}">
        <label ng-class="{ 'radio-inline': subField.settings.display == 'Inline' ,'radio' : subField.settings.display == 'Stacked'}"
               ng-repeat='option in subField.options track by $index'>
            <input type="radio" name="{{subField.id}}" id="{{subField.id}}" ng-model="subField.selected"
                   ng-value="option.label">{{option.label}}
        </label>


    </div>
</div>