

#appTabs-fields {
    max-width: 100%;
    overflow: hidden;
}

#appHeading {
    display: block;
    border: 1px solid #efefef;
    margin: 5px;
    padding: 5px;
}

#appHeading.selected {
    border-color: #d4ebaf;
    background: #edfcd5;
}


#appHeading h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin: 0px;
    padding: 0px;
}

#appHeading p {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-weight: normal;
    line-height: 14px;
}

#appTitle {
    display: block;
}





.fieldObject {

    cursor: move;
}


div.fieldObject:hover {
    border: 1px solid #0073ea;
}



#appLayout {
    display: block;
}

.appFormObject {
    margin: 0px;
    padding: 5px;
border: 1px solid #fff;

}

.appFormObject.selected {
    background: #F1FBFF;
    border: 1px solid #D2E5F7;
}

.appFormObject:hover {
    background: #F1FBFF;
    border: 1px solid #D2E5F7;
}




#saveAppForm {
    display: block;
    background: #FEF6D2;
    border-top: 1px solid #EFE3AE;
    border-bottom: 1px solid #EFE3AE;
    margin-top: 20px;
    padding-right: 20px;
    line-height: 50px;
    height: 50px;
    text-align: right;
}

#saveApp {

}




label i.fa{
    font-size: 1.4em;
    color: #185aa7;
    margin-left: 5px;
}