.white {
    background-color: #fff;
}

.blockInsert {
    background-color: #E5F1FD;
    margin: 5px;
    border: 1px solid #D2E5F7;
    display: block;
}

#appTabs-fields {
    max-width: 100%;
    overflow: hidden;
}

#appHeading {
    display: block;
    border: 1px solid #efefef;
    margin: 5px;
    padding: 5px;
}

#appHeading.selected {
    border-color: #d4ebaf;
    background: #edfcd5;
}

#appHeading h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

#appHeading p {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-weight: normal;
    line-height: 14px;
}

#appTitle {
    display: block;
}

.fieldObject {

    cursor: move;
}

div.fieldObject:hover {
    background: #f8efc0;
}

#appLayout {
    display: block;
    padding-bottom: 100px;
}

#appFields {
    padding-bottom: 100px;
}

.appFormObject {
    margin: 0px;
    padding: 5px;
    border: 1px solid #fff;
    background: #fff;
}

.appFormObject.selected {
    background: #F1FBFF;
    border: 1px solid #D2E5F7;
}

/*placeholder for draggies*/
#appFields div.fieldObject {
    clear: both !important;
    padding: 30px !important;
    border-radius: 0px !important;
    border: 1px solid #0073ea;
}

.ui-sortable-placeholder {
    visibility: visible !important;
    border: 1px solid #0073ea;
    display: block;
    background: #dff0d8 !important;
}

.dragging {
    border: 1px solid #D2E5F7 !important;
    background: #EDF4FA;

}

.appFormObject:hover {
    border: 1px solid #D2E5F7;
}

#saveAppForm {
    display: block;
    background: #FEF6D2;
    border-top: 1px solid #EFE3AE;
    border-bottom: 1px solid #EFE3AE;
    margin-top: 20px;
    padding-right: 20px;
    line-height: 50px;
    height: 50px;
    text-align: right;
}

#saveApp {

}

label i.fa {
    font-size: 1.4em;
    color: #185aa7;
    margin-left: 5px;
}