<div class="col-xs-12 col-sm-4 col-md-4 slideLeft">
    <div id="pageViewer" class="pageGroup">

        <div class="br0 alert alert-info b0 m0">


            <img class="icon pull-left" ng-src="{{app.icon}}">
            <h4 class="inline">{{user.displayName}}<a href="/profile/"><i class="fa fa-edit fa-lg"></i></a></h4>


            <div class="input-group clear">
                <div class="input-group-btn">
                    <button class='btn btn-default' ng-click="setView('feed')"><i
                            class="fa fa-list fa-lg"
                            data-toggle="tooltip" data-placement="top" title="Display Posts as a regular feed"></i>
                    </button>

                    <button class='btn btn-default' ng-click="setView('grid')"><i
                            class="fa fa-table fa-lg"
                            data-toggle="tooltip" data-placement="top" title="Display Posts as a regular feed"></i>
                    </button>
                    <button class='btn btn-default' ng-click="setView('card')"><i
                            class="fa fa-th fa-lg"></i>
                    </button>
                    <a class='btn btn-default' href="userGuide"><i class="fa fa-rocket fa-lg"></i>
                    </a>

                </div>
                <input type="text" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
            </div>


        </div>
        <div class="tab-content  m0 p0">
            <div id="tabs-notifications" class="tab-pane active">
                <div class="list-group">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 slideRight" id='mainView'>
    <div class="pageGroup">

        <div id="tabs">
            <ul id='appTabs' class="nav nav-tabs">
                <li class="active"><a data-target="#tabs-myapps" data-toggle="tab">People</a></li>

            </ul>
            <div class="tab-content white p5">
                <div id="tabs-myapps" class="tab-pane fade in active">

                    <div class="row m5 p5">

                    </div>

                </div>


            </div>

        </div>


    </div>
</div>
