<div class="col-sm-8">

    <div class="pageGroup" id='mainView'>

        <div id="tabs">
            <ul id='appTabs' class="nav nav-tabs">
                <li class="active"><a data-target="#tabs-myapps" data-toggle="tab">Profile</a></li>

            </ul>
            <div class="tab-content white p5">
                <div id="tabs-myapps" class="tab-pane active">


                    <form novalidate class="css-form">
                        <div class="form-group">
                            <label> Display Name:</label>
                            <input class="form-control" type="text" ng-model="user.displayName" required/>
                        </div>
                        <div class="form-group"><label>First Name:</label>
                            <input class="form-control" type="text" ng-model="user.name.givenName" required/>
                        </div>
                        <div class="form-group"><label>Middle Name:</label>
                            <input class="form-control" type="text" ng-model="user.name.middleName" required/>
                        </div>
                        <div class="form-group"><label>Family Name:</label>
                            <input class="form-control" type="text" ng-model="user.name.familyName" required/>
                        </div>
                        <div class="form-group"><label>E-mail:</label>
                            <input class="form-control" type="email" ng-model="user.email" required/>
                        </div>
                        <button class="btn btn-success" ng-click="update(user)">SAVE</button>
                    </form>


                </div>


            </div>

        </div>


    </div>

</div>
<div class="col-xs-4 col-sm-4 col-md-4 tall ">
    <%include postView.html %>
</div>


