<% layout('../../../views/layouts/globalLayout.html') -%>
<h1>Profile</h1>

<div ng-controller="ProfileCtrl">
    <form novalidate class="css-form">
        Display Name:
        <input type="text" ng-model="user.displayName" required/><br/>
        First Name:
        <input type="text" ng-model="user.name.givenName" required/><br/>
        Middle Name:
        <input type="text" ng-model="user.name.middleName" required/><br/>
        Family Name:
        <input type="text" ng-model="user.name.familyName" required/><br/>
        E-mail: <input type="email" ng-model="user.email" required/><br/>
        <button ng-click="update(user)">SAVE</button>
    </form>
</div>
</div>

