<div class="col-xs-12 col-sm-8 col-md-8 pageGroup" id='mainView'>
<div class="pageGroup">
<div id="tabs">
<ul id='folderTabs' class="nav nav-tabs" droppable="tabs"
    ng-update='updateObjects(from, to)'
    ng-create='createObject(object, to)'>
    <li ng-repeat="tab in tabs" ng-class="{'active' : tab.active}"><a data-target="#{{tab.name}}_content"
                                                                      id="{{tab.name}}"
                                                                      data-toggle="tab">{{tab.name}}</a>
    </li>
</ul>
<div class="tab-content white p5">

<div id="Folders_content" class="tab-pane fade in active">

    <div class="row m5 p5">
        <div class="col-sm-4 col-md-3"
             ng-repeat="privateFolder in privateFolders">
            <div class="thumbnail">
                <img src="/assets/icons/color/folder.png" alt="{{folder.name}} {{folder.description}}">



                   {{privateFolder.name}}


            </div>
        </div>
        <div class="col-sm-4 col-md-3"
             ng-repeat="publicFolder in publicFolders">
            <div class="thumbnail">
                <img src="/assets/icons/color/folder.png" alt="{{folder.name}} {{folder.description}}">



                {{publicFolder.name}}


            </div>
        </div>
    </div>
</div>

<div id="New_content" class="tab-pane fade">

    <div class="row">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">New Folder</h3>
                        </div>
                        <div class="panel-body">
                            <form novalidate class="css-form" role="form" name="createFolderForm">
                                <div class="form-group">
                                    <label for="folderName">Name</label>
                                    <input type="text" class="form-control" id="folderName"
                                           ng-model="newFolder.name" required
                                           placeholder="Some awesome folder name"/><br/>
                                </div>
                                <div class="form-group">
                                    <label for="folderDescription">Description</label>
                                    <input type="text" class="form-control" id="folderDescription"
                                           ng-model="newFolder.description"
                                           placeholder="A detailed description that everyone will read"/>
                                </div>
                                <div class="form-group">
                                    <label for="folderLabel">Label</label>
                                    <input type="text" class="form-control" id="folderLabel"
                                           ng-model="newFolder.menuLabel"
                                           placeholder="Not sure about this one"/>
                                </div>
                                <div class="form-group">
                                    <label for="folderIcon">Icon</label>
                                    <input uploadable type="file" id="folderIcon" ng-model="newFolder.icon"/>

                                    <p class="help-block">Whatever you do, don't try to upload a file.
                                        We haven't implemented that
                                        yet!.</p>
                                </div>
                                <button ng-click="createFolder(newFolder)" class="btn btn-success">Save
                                </button>
                            </form>
                            <div id="createFolderForm-error" class="alert alert-danger alert-dismissable"
                                 ng-show="createFolderFormError">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;</button>
                                {{createFolderFormError}}
                            </div>

                        </div>
                    </div>

                </div>




            </div>
        </div>

    </div>
</div>





</div>
</div>
</div>
</div>

