
<div class="col-sm-12 hidden-xs" id='mainView'>





                        <!-- Navigation Buttons -->
                        <div class="col-md-3">


                          <div class="well">
                                &nbsp;<a class="btn btn-success" href="formBuilder" ng-click="newForm()">New Form</a>
                          </div>

                            <ul class="nav nav-pills nav-stacked" id="myTabs">
                                <li class="active"><a data-toggle="tab" data-target="#featured">Featured Apps</a></li>
                                <li><a data-toggle="tab" data-target="#communication">Communication</a></li>
                                <li><a data-toggle="tab" data-target="#finance">Finance</a></li>
                                <li><a data-toggle="tab" data-target="#contact">Contact</a></li>
                                <li><a data-toggle="tab" data-target="#hr">HR</a></li>
                                <li><a data-toggle="tab" data-target="#facebook">Facebook</a></li>
                                <li><a data-toggle="tab" data-target="#software">Software Development</a></li>
                                <li><a data-toggle="tab" data-target="#events">Events</a></li>
                                <li><a data-toggle="tab" data-target="#dates">Calendar & Dates</a></li>
                            </ul>
                        </div>

                        <!-- Content -->
                        <div class="col-md-9">
                            <div class="tab-content">
                                <div class="tab-pane active" id="featured"><h4>Featured Apps</h4>

                                    <div class="row m5 p5">
                                        <div class="col-sm-3 col-md-3"
                                             ng-repeat="form in forms">
                                            <div class="thumbnail">
                                                <a href="formBuilder" ng-click="updateForm(form)">
                                                <img src="{{form.icon}}" alt="{{form.name}}">

                                                <div class="caption">
                                                   {{form.name | uppercase}}
                                                </div>
</a>
                                                <i class="fa fa-star fa-fw"></i>
                                                <i class="fa fa-star fa-fw"></i>
                                                <i class="fa fa-star fa-fw"></i>
                                                <i class="fa fa-star fa-fw"></i>
                                                <i class="fa fa-star fa-fw"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="communication"><h4>Communication</h4>

                                    <div class="row m5 p5">
                                        <div class="col-sm-3 col-md-3"
                                             ng-repeat="form in forms">
                                            <div class="thumbnail">
                                                <img src="{{form.icon}}" alt="{{form.name}}">

                                                <div class="caption">
                                                    <a class="center-block">{{form.name | uppercase}}</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="finance">Messages</div>
                                <div class="tab-pane" id="contact">Messages</div>
                                <div class="tab-pane" id="hr">Messages</div>
                                <div class="tab-pane" id="facebook">Messages</div>
                                <div class="tab-pane" id="software">Messages</div>
                                <div class="tab-pane" id="events">Messages</div>
                                <div class="tab-pane" id="dates">Messages</div>
                            </div>
                        </div>

                    </div>


                </div>




