.membership .bordered {
  border: 5px solid #efefef;
}

.membership .rounded-image-border {
  border: 5px solid #e8ebef;
  border-radius: 60px;
  display: block;
  overflow: hidden;
  padding: 5px 5px 5px 10px;
  background: #263042;
  position: absolute;
  left: 50%;
  top: -60px;
  text-align: left;
  width: 120px;
  height: 120px;
  z-index: 3;
  margin-left: -60px;
  -webkit-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
  -moz-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
  -ms-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
  -o-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
  box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);

}

.membership .rounded-image-border img {
  width: 90px;
  height: 90px;
}

.membership input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #FFF !important;
  background-image: none;
  color: rgb(0, 0, 0);
}

.membership input:-webkit-autofill {
  background: #FFF;
}

.membership.text-foo {
  color: #3B8686;
}

.membership {
  text-align: left;
  width: 300px;
  margin-top: 75px;
  padding-top: 65px;
  z-index: 2;
  color: #263042;
  background: -webkit-linear-gradient(#fff, #f2f6f9);
  background: -moz-linear-gradient(#fff, #f2f6f9);
  background: -ms-linear-gradient(#fff, #f2f6f9);
  background: -o-linear-gradient(#fff, #f2f6f9);
  background: linear-gradient(#fff, #f2f6f9);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
  -moz-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
  -ms-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
  -o-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
  box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);

}

.membership h4 {
  text-align: center;
  margin-bottom: 10px;
}

.membership .form-control {
  display: block;
  width: 100%;
  line-height: 36px;
  height: 36px;
  padding: 0px 8px;
  border-radius: 6px;
}

.membership input[type=text], .membership input[type=password], .membership input[type=email] {
  font-size: 1.4em;
}

.login-footer {
  margin-top: 10px;
  display: block;
  padding: 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(14, 41, 57, 0.1);
  color: #263042;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.membership .panel, .panel-body {

  background: transparent !important;
  font-weight: 300 !important;
}

.membership label, .label {
  font-weight: 300 !important;
}

.membership .input-inline input {
  width: 49%;
  display: inline;
}

#invite {
  position: relative;
  left: 50%;
  top: 385px;
  text-align: left;
  width: 350px;
  height: 75px;
  margin-left: -175px; /*half width*/
  opacity: .9;
  color: #404040;
  z-index: 1;
}

.modal-trans .modal-content {
  background: transparent !important;
  box-shadow: none !important;
  bordeR: none;
}

.auth-window {
  font-weight: normal;
  font-family: arial;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-color: #e8ebef !important;
}

#signup-form {
  width: 400px;
  margin-left: -50px;
  @media (max-width: 800px) {
    width: 300px;
    margin-left: 200px;
  }
  @media (max-width: 400px) {
    width: 300px;
    margin-left: 30px;
  }

}

