/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e8ebef !important;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));

}

::-webkit-scrollbar {
  width: 8px; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  // background: #aadef0;
  background: #3d4b5b;
  border-radius: 4px;
}

.roundy-border {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(14, 41, 57, 0.1);
}

.memberList {
  list-style: none;
}

.memberList {
  list-style: none;
}

#footer {
  height: 21px;
  position: fixed;
  margin: 0 auto 0;
  width: 100%;
  bottom: 0;
}

footer {
  padding: 0px;
  padding-top: 30px;
}

/*
 * Main
 * --------------------------------------------------
 */

body {
  margin: 0px;
  //background: #566574;
  //background:  #353E46;
  padding: 0px 0 0 0px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -22px;
}

/*
/ pageGroup
/ default container for any group of items.
/ White background, no padding or margin, etc.
*/

/*
/ Styles for Tabs within pageGroup
*/

.feed {
  border: 0px !important;
  padding: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}

.feed-fixed {
  position: fixed;
  bottom: 22px;
  top: 0px;

  overflow: hidden;
  padding: 40px 0px 0px 0px;
  z-index: 1000;
}

.feed-fixed-wide {
  position: fixed;
  bottom: 22px;
  top: 48px;
  overflow: auto;
  padding: 0px 10px 100px 10px !important;
}

.feed-fixed-small {
  position: fixed;

  top: 48px;
  overflow: auto;
  padding: 0px 10px 10px 10px !important;
}

.feed-fixed-grid {
  position: fixed;
  top: 0px;
  overflow: hidden;
  padding: 40px 0px 0px 0px;
  z-index: 1000;
}

.relative {
  position: relative;
  display: block;
  height: 100%;
}

.scroll {
  position: absolute;
  top: 142px;
  bottom: 0px;
  left: 10px;
  right: 0;
  display: block;
  overflow: auto;
  height: auto;
  width: auto;
}

.scroll-grid {
  position: absolute;
  top: 150px;
  bottom: 0px;
  right: 0;
  display: block;
  overflow: auto;
  height: auto;
  width: auto;

}

.scrollSidebar {
  position: absolute;
  top: 101px;
  bottom: 0px;
  left: 0px;
  right: 0;
  display: block;
  overflow: auto;
  height: auto;
  width: auto;
  margin: 0px !important;
  border-radius: 0px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.company {
  display: block;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
  margin-bottom: 0px;
  height: 100px;
  line-height: 100px;
  border: 5px solid #FFF;
  background: #fff;
  color: #263042;
  padding: 0px;
  overflow: hidden;
}

.company div h2 a {
  line-height: 20px;
  padding: 0px;
  margin: 0px;
  color: #424d66;
}

.company div {
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}

.company div a {
  color: #1f2736;
}

.company div a:hover {
  background: #fff !important;
  text-decoration: none;
  color: #424d66;
}

.company img {
  padding: 0px;
  margin: 0px;
  padding: 0px;
  max-height: 100px;
  max-width: 100%;
}

.scrollPanel {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 10px;
  right: 0;
  display: block;
  overflow: auto;
  height: auto;
  width: auto;
}

.scroll2 {
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 10px;
  right: 0;
  display: block;
  overflow: auto;
  height: auto;
  width: auto;

}

.panel-transparent {
  background: none !important;
margin-top: 8px;
}

.panel-transparent .panel-body {
  background: transparent;
  margin: 0px;
  display: block;
  padding: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(14, 41, 57, 0.1);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) !important;
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  color: #424d66;;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.panel-transparent .panel-body h4 {
  color: rgba(0, 0, 0, .6);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
  font-weight: 400;
  letter-spacing: .2em;
}

.panel-transparent .panel-body img.form-icon {
  border: 3px solid rgba(255, 255, 255, 1);
  margin: 0 auto 0;
  margin-top: -54px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: block;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

div.form-icon {
  border: 3px solid rgba(255, 255, 255, 1);
  margin: 0 auto 0;
  margin-top: -54px;
  border-radius: 50%;
  line-height: 75px;
  text-align: center;
  width: 75px;
  height: 75px;
  display: block;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  background: #424d66;
  color: #efefef;
}

div.form-icon i.fa {
  font-size: 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);

}

.form-icon-wrapper {
  margin-top: 54px;
  display: block;
  padding: 10px 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(236, 236, 236, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(236, 236, 236, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -ms-box-shadow: inset 0 1px 0 rgba(236, 236, 236, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0 1px 0 rgba(236, 236, 236, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(236, 236, 236, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(14, 41, 57, 0.1);
  background: -webkit-linear-gradient(rgba(236, 236, 236, 0.50), rgba(255, 255, 255, 0)) !important;
  background: -moz-linear-gradient(rgba(236, 236, 236, 0.5), rgba(255, 255, 255, 0));
  background: -ms-linear-gradient(rgba(236, 236, 236, 0.5), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(rgba(236, 236, 236, 0.5), rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(236, 236, 236, 0.5), rgba(255, 255, 255, 0));
  color: #424d66;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  min-height: 120px;
}

.form-icon-wrapper div.form-icon i.fa {
  color: #fff;
}

.form-icon-wrapper div.red {
  background: #ff6469;
}

.form-icon-wrapper div.blue {
  background: #67b0ff;
}

.form-icon-wrapper div.green {
  background: #9bd843;
}

.form-icon-wrapper div.purple {
  background: #af7ac9;
}

.form-icon-wrapper div.yellow {
  background: #3bc9d0;
}
.panel-transparent .panel-body .btn {
  margin-top: -56px;

}

.panel-foo {
  background: transparent;
  border: 0px !important;
}

.panel-foo .panel-heading {
  background: transparent;
  border: 0px !important;
}

.panel-foo .panel-body {
  border: 0px !important;
  background: #fff !important;
}

.panel-foo-dark .panel-heading {
  color: #fff;
  background: #3d4b5b;
  line-height: 16px;
}

.panel-foo-dark label {
  color: #63768C !important;
  font-weight: 400;
}

input[type=text], input[type=date], input[type=email], textarea, select, input[type=checkbox] {
  background: #FFF !important;
  border-width: 1px;
}

.radio, .checkbox {
  position: relative;
  display: block;
  min-height: 21px;
  margin: 5px 15px;
}

.feedTable {
  background: none;

}

.feedOdd {
  background: #FFF;

}

.feedEven {
  background: rgba(255, 255, 255, .9);

}

.feedOdd:hover, .feedEven:hover {
  background: #E7FAE9 !important;
  border: 0px !important;
}

.feedTable span.text-muted {
  color: rgba(0, 0, 0, 0.6) !important;
}

.panel {
  border: 0px !important;
}

input[type=text], input[type=date], input[type=email], textarea, select, input[type=checkbox] {
  background: #fff !important;

  border-width: 1px;
}

input[type=text]:focus,
input[type=date]:focus,
textarea:focus,
select:focus,
input[type=checkbox]:focus {

  border-width: 1px;
}

/*
/ Simple / Common Overrides
*/
.iframe-large {
  width: 100%;
  border: 0px;
  height: 650px;

}

.odd {
  padding: 4px 0px;
  background: #fff !important;

}

.even {
  padding: 4px 0px;
  background: #fff !important;

}

.odd .form-group, .even .form-group {
  margin-bottom: 0px;
}

.cursor-hand {
  cursor: pointer;
}
.bg-white{
  background: #fff;
}
.inline{
  display: inline !important;
}
.inline-block{
  display: inline-block !important;
}
.block{
  display: block !important;
}
.m0 {
  margin: 0px !important;
}

.p0 {
  padding: 0px !important;
}

.pl15p {
  padding-left: 15%;
}

.plr5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.m2 {
  margin: 2px;
}

.m5 {
  margin: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mt10 {
  margin: 10px !important;
}


.p5 {
  padding: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.p10 {
  padding: 10px !important;
}

.br0 {
  border-radius: 0px !important;
}

.br10 {
  border-radius: 10px !important;
}

.br15 {
  border-radius: 15px !important;
}

.b0 {
  border: 0px;
}
.b1{
  border: 1px solid #efefef;
}

.ml2 {
  margin-left: 2px;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}
.mb10{
  margin-bottom: 10px;
}

.light-gray {
  background: transparent !important;
}

.text-opacity-5 {
  opacity: 0.5 !important;
}

.clear {
  clear: both;
}

.l0 {
  left: 0 !important;
}
.mh100{
  min-height: 100px;
}
.mh200{
  min-height: 200px;
}

.mh300{
  min-height: 300px;
}

.btn-nav {
  margin-left: 100px;
  margin-top: 10px !important;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.hr-condensed {
  padding: 0px;
  margin: 4px 0px;
}

.darker {
  background: rgba(0, 0, 0, .2);
}

.bg-highlight {
  background: rgba(255, 255, 255, 0.2);
}

.fixed-top {
  position: fixed !important;
  top: 76px;
}

.fooHeading {

  text-shadow: 0px 1px 0px #ffffff;
  margin: 0px;
  margin-bottom: 10px;

}

.alert-foo {
  background: #B7DEE2;
  border: 0px solid #ffffff;
  border-bottom: 1px solid #68B3AF !important;
  margin: 0px;
}

.bg-foo-light {

}

.text-foo {
  display: inline-block;
  margin-left: -12px;
  padding-top: 4px;
  color: rgba(0, 0, 0, .3);
  font-size: 1em !important;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, .3);
}

.icon-list {
  display: block;
  padding: 0px;
  width: 100%;
  margin: 10px 0px;
}

.icon-list li {
  display: block;
  width: 18%;
  margin: 1%;
  float: left;
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  margin: 0 auto 0;
  // border-top: 5px solid #68B3AF;
  // border-bottom: 1px solid #e7e7e7;
  display: block;
  //background: #fff;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .3);
  color: #3d4b5b;
}

.navbar-wrapper .fa {
  font-size: 1.2em;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .7);
}

.navbar-foo {
  box-shadow: none !important;
}

.navbar-foo .navbar-collapse {
  margin-left: 5px;
  background: none;

}

.foo-menu, .foo-menu li, .foo-menu li a {
  height: 50px;
  line-height: 50px;
  padding: 0px;
  font-family: 'Play', sans-serif;
  color: #3B8686;
}

.foo-menu li {
  height: 50px;
  line-height: 50px;
  // border-left: 1px solid #fff;
  // border-right: 1px solid #e7e7e7;
  padding-left: 20px;
  padding-right: 20px;

}

.navbar-right .dropdown {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(14, 41, 57, 0.1);
  color: #263042;
  padding: 0px !important;
  margin-top: 5px;
  margin-right: 10px;
}

.navbar-right .dropdown a {
  padding: 5px 10px !important;
}

.navbar-right .dropdown img {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  margin-right: 6px;
}
div.nav-profile, div.nav-search {
  display: inline;
  min-width: 100px;
  margin: 0 !important;
  padding-top: 1px;
  padding: 0px;
}

.profile-icon{
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
}

.profile-icon-sm{
  height: 24px;
  width: 24px;
}

.input-search {
  padding: 0px;
  border-radius: 15px;
  line-height: 28px;
  margin: 2px;
  padding-left: 12px;
  color: #3B8686;
  background: #fff;
  border: 1px solid #3B8686;
  margin-top: 10px;
  padding-left: 20px;
  margin-left: 20px;
  font-weight: 300;
}

.in .input-search {
  padding: 0px;
  border-radius: 15px;
  line-height: 35px;
  margin: 2px;
  padding-left: 12px;
  color: #3B8686;
  background: #fff;
  border: 1px solid #1d1d1d;
  display: block;
  width: 95%;
}

.sideMenu {
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 22px;
  width: 15%;
  background: #3d4b5b;
  overflow: auto;
  z-index: 10001;

}

.sideMenu ul li {
  font-weight: 300 !important;
  text-shadow: none;
  padding: 0px;
  margin: 0px !important;


}

.sideMenu ul li a {
  padding-left: 5%;
  display: block;
  color: #D9E5F4;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, .2);
}

.sideMenu a:hover, .sideMenu a:focus {
  background: #3d4b5b !important;
  color: #fff;
  font-weight: 900;
}

.sideMenu ul li ul li ul li {
  font-weight: 300 !important;
  color: #fff;
  padding-left: 10px;
  border: 0px;
  background: rgba(0, 0, 0, .1)
}

.sideMenu ul li ul li {
  background: #3d4b5b;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sideMenu ul li ul li a {
  font-weight: 300 !important;
  color: #fff;

}

.sideMenu ul li ul li ul li a {
  font-weight: 300 !important;
  color: #D9E5F4;
}

.sideMenu i.fa {
  vertical-align: middle;

}

.nav .nav-icon {
  height: 20px;
}

.sideMenu .text-muted {
  font-weight: 300 !important;
  font-style: oblique;
}

.showMenu {
  left: 0;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.hideMenu {
  left: -300px;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.withSideMenu {
  padding-left: 15% !important;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.withoutSideMenu {
  padding-left: 0px !important;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.halfScreen {
  width: 40% !important;
  padding-left: 15px;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.percentageScreen {
  width: 35% !important;
  padding-left: 10px;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.fullScreen {
  width: 100% !important;
  padding-left: 10px;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.percentageFullScreen {
  width: 85% !important;
  padding-left: 10px;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.halfScreenWide {
  padding: 0px;
  left: 40%;
  width: 60% !important;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.percentageScreenWide {
  left: 50%;
  padding: 0px;
  width: 50% !important;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

video {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border: 1px solid #efefef;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.slideRight {
  position: relative;
  right: -20px;
  top: 50px;
  -webkit-animation: slideRight 0.5s forwards;
  -webkit-animation-delay: 0.1s;
  animation: slideRight 0.5s forwards;
  animation-delay: 0.1s;
}

// Animations
.slideLeft {
  position: relative;
  left: -20px;
  top: 50px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.1s;
  animation: slide 0.5s forwards;
  animation-delay: 0.1s;
}

.panel-slider {
  position: fixed;
  right: 100%;
  left: 100%;
  top: 50px;
  bottom: -20px;
  width: 50%;
  overflow: scroll;
  z-index: 200;
  background: #fff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: .9em;
  -moz-box-shadow: -5px 10px 21px rgba(39, 50, 57, .29);
  -webkit-box-shadow: -5px 10px 21px rgba(39, 50, 57, .29);
  box-shadow: -5px 10px 21px rgba(39, 50, 57, .29);

  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.panel-slider .panel-body {
  background: #fff;
  position: absolute;
  top: 60px;
  bottom: 60px;
  overflow: scroll;
}

.panel-slider .panel-footer {
  position: absolute;
  height: 60px;
  padding: 10px;
  bottom: 0px;
  display: block;
  width: 100%;

}

.slidePanelIn {

  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  right: 0 !important;
  left: 50%;
}

.slidePanelOut {

  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  right: 100% !important;

}

.appear {
  opacity: .5;
  -webkit-animation: appear 0.3s forwards;
  -webkit-animation-delay: 0.1s;
  animation: appear 0.3s forwards;
  animation-delay: 0.1s;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

.slideUp {
  margin-left: 0px;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.slideUp.ng-hide {
  opacity: 0;
  margin-left: -100px;
}

.slideUp.ng-show {
  margin-left: 0px;
  opacity: 1;
}

.slideDown {
  margin-left: -20px;

}

.slideDown.ng-hide {
  margin-left: -20px;
  opacity: 0;
}

.slideDown.ng-show {
  margin-left: 0px;
  opacity: 1;
}

@-webkit-keyframes slide {
  0% {
    opacity: .5;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideRight {
  100% {
    right: 0;
  }
}

@keyframes slideRight {
  100% {
    right: 0;
  }
}

.zoomBox:hover {

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  -moz-box-shadow: 0 9px 21px rgba(39, 50, 57, .29);
  -webkit-box-shadow: 0 9px 21px rgba(39, 50, 57, .29);
  box-shadow: 0 9px 21px rgba(39, 50, 57, .29);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.zoomBox {
  margin: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;

  /* float: left; */
  overflow: hidden;
  display: inline-block;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;

  -webkit-animation: slide .3s forwards;
  -webkit-animation-timing-function: ease-out;
  animation: slide .3s forwards;

}

.fadeOutDelayed {
  -webkit-animation: fadeOut 1s forwards;
  -webkit-animation-delay: 3s;
  animation: fadeOut 1s forwards;
  animation-delay: 0.1s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    height: 0px;
    width: 0px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    height: 0px;
    width: 0px;
  }
}

.comment {
  background: #fff;
}

.beta-tag {
  margin-left: 4px;
  color: #dca7a7;
}

.printPreview{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto 0;
  width: 100%;
  z-index: 99999;
  background: rgba(0,0,0,.7);
  min-height: 100%;
  height: auto;
  padding: 0px;
  overflow: scroll;
  padding: 30px;
}
.printPost{
  margin: 0 auto 0;
  width: 100%;
  background: #fff;
  min-height: 300%;
  height: auto;
  padding: 0px;
  overflow: scroll;
}



.slideExpandUp{
  animation-name: slideExpandUp;
  -webkit-animation-name: slideExpandUp;

  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  visibility: visible !important;
}

@keyframes slideExpandUp {
  0% {
    transform: translateY(100%) scaleX(0.5);
  }
  30%{
    transform: translateY(-8%) scaleX(0.5);
  }
  40%{
    transform: translateY(2%) scaleX(0.5);
  }
  50%{
    transform: translateY(0%) scaleX(1.1);
  }
  60%{
    transform: translateY(0%) scaleX(0.9);
  }
  70% {
    transform: translateY(0%) scaleX(1.05);
  }
  80%{
    transform: translateY(0%) scaleX(0.95);
  }
  90% {
    transform: translateY(0%) scaleX(1.02);
  }
  100%{
    transform: translateY(0%) scaleX(1);
  }
}

@-webkit-keyframes slideExpandUp {
  0% {
    -webkit-transform: translateY(100%) scaleX(0.5);
  }
  30%{
    -webkit-transform: translateY(-8%) scaleX(0.5);
  }
  40%{
    -webkit-transform: translateY(2%) scaleX(0.5);
  }
  50%{
    -webkit-transform: translateY(0%) scaleX(1.1);
  }
  60%{
    -webkit-transform: translateY(0%) scaleX(0.9);
  }
  70% {
    -webkit-transform: translateY(0%) scaleX(1.05);
  }
  80%{
    -webkit-transform: translateY(0%) scaleX(0.95);
  }
  90% {
    -webkit-transform: translateY(0%) scaleX(1.02);
  }
  100%{
    -webkit-transform: translateY(0%) scaleX(1);
  }
}