/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb
{
  // background: #aadef0;
  background: #ddd;
}


#footer {
  height: 21px;
  position: fixed;
  margin: 0 auto 0;
  width: 100%;
  bottom: 0;
}
footer {
  padding: 0px;
  padding-top: 30px;
}

/*
 * Main
 * --------------------------------------------------
 */

body {
  margin: 0px;
 //background: #566574;
  //background:  #353E46;
  padding: 56px 0 0 0px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -22px;
}



.company{
  display: block;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 0px;
  min-height: 150px;
  padding: 5%;
}
.company img{
  padding: 2px;
border: 4px solid #FFF;
  border-radius: 15px;
width: 100%;
}
/*
/ pageGroup
/ default container for any group of items.
/ White background, no padding or margin, etc.
*/



/*
/ Styles for Tabs within pageGroup
*/


.feed {
  border: 0px !important;
  padding: 0px;
  border-radius:  0px;
  margin-bottom: 0px;
}

.feed-fixed{
  position: fixed;
bottom: 22px;
  top: 55px;
  overflow: hidden;
  padding:0px;
}

.feed-fixed-wide{
  position: fixed;
  bottom: 22px;
  top: 55px;
  overflow: auto;

  padding:0px;
  padding-bottom: 100px;
}
.relative{
  position: relative;
  display: block;
  height: 100%;
}

.scroll{
   position: absolute;
   top: 99px;
   bottom: 0px;
   left: 10px;
   right: 0;
   display: block;
   overflow: auto;
   height: auto;
   width: auto;
 }
.scrollSidebar{
  position: absolute;
  top: 136px;
  bottom: 0px;
  left: 10px;
  right: 0;
  display: block;
  overflow: auto;
  height: auto;
  width: auto;
  background: rgba(255,255,255,.5);
  margin: 5% !important;
  border-radius: 10px;
}
.scrollPanel{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 10px;
  right: 0;
  display: block;
  overflow: auto;
  height: auto;
  width: auto;
}

.scroll2{
   position: absolute;
   top: 105px;
   bottom: 0px;
   left: 10px;
   right: 0;
   display: block;
   overflow: auto;
   height: auto;
   width: auto;

 }

.panel-feed{
width: 100%;
  display: block;
  margin-bottom: 5px;
}
.panel-feed .panel-heading{
background: transparent !important;
}
.panel-feed:hover{
  border-left: 1px solid #bf5a16;
}

.icon-feed{
  margin-top: -10px;
  margin-left: -10px;
  width: 24px;
  padding: 0px;
}

.feed .feed-item:last-child {
  border-bottom: none;
  border-radius:  0px;
}
.feed .feed-item:first-child {
  border-radius:  0px;
}

.feed .feed-item {
  //background: #fff;
  margin: 4px;
  border-radius: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.feed .feed-item:hover {
  cursor: pointer;
 color: #fff;
}
input[type=text], input[type=date], input[type=email], textarea, select, input[type=checkbox] {
  background: #FFF !important;
  border-width: 1px;
}

.radio,.checkbox {
  position: relative;
  display: block;
  min-height: 21px;
  margin: 5px 15px;
}
.feedTable{
  background: none;

}
.feedOdd{
  background: #FFF;

}
.feedEven{
  background: rgba(255,255,255,.5);

}

.feedOdd:hover, .feedEven:hover{
  border-left: 1px solid #bf5a16;
}
.feedTable span.text-muted{
  color: rgba(0,0,0,0.6) !important;
}

.panel{
  border: 0px !important;
}

input[type=text], input[type=date], input[type=email], textarea, select, input[type=checkbox]{
  background: #fff !important;

  border-width: 1px;}

input[type=text]:focus,
input[type=date]:focus,
textarea:focus,
select:focus,
input[type=checkbox]:focus{

  border-width: 1px;
}

/*
/ Simple / Common Overrides
*/
.iframe-large {
  width: 100%;
  border: 0px;
  height: 650px;

}
.odd{
padding: 4px 0px;
  background: rgba(255,255,255,0.1) !important;

}
.even{
  padding: 4px 0px;
  background: rgba(0,0,0,0.2) !important;

}
.odd .form-group, .even .form-group{
  margin-bottom: 0px;
}
.pl15p{
  padding-left: 15%;
}
.plr5{
  padding-left: 5px;
  padding-right: 5px;
}
.m2{
  margin: 2px;
}
.m5 {
  margin: 5px !important;
}
.mr5 {
   margin-right: 5px !important;
 }
.mr15 {
  margin-right: 15px !important;
}

.p5 {
  padding: 5px !important;
}
.pt5{
  padding-top:  5px !important;
}

.p10 {
  padding: 10px !important;
}

.m0 {
  margin: 0px !important;
}

.p0 {
  padding: 0px !important;
}

.br0 {
  border-radius: 0px !important;
}
.br10 {
  border-radius: 10px !important;
}
.br15 {
  border-radius: 15px !important;
}
.b0 {
  border: 0px;
}
.ml2{
  margin-left: 2px;
}
.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.light-gray{
  background: #f9f9f9;
}
.text-opacity-5{
  opacity: 0.5 !important;
}
.clear {
  clear: both;
}
.l0{
  left: 0 !important;
}
.hr-condensed{
  padding: 0px;
  margin: 4px 0px;
}

.darker{
  background: rgba(0,0,0,.2);
}
.gridWrapper{
  position: absolute;
  display: block;
 top: 108px;
  bottom: 30px;
  overflow: scroll;
  background: #fff;
  right: 10px;
  left: 10px;
}
.foo-grid {
  position: relative;
  display: block;
  width: 100%;
}
.foo-grid th{
  background: #EEE;
  font-weight: 300;

}
.foo-grid th .text-muted{
font-size: .8em;
  color: #fff;
display: inline-block;
}
.foo-grid td{
  vertical-align: middle;

}
.foo-grid th input{
 padding: 2px;
  font-size: 10px;
  line-height: 10px;
  height: 16px;

}
.bg-highlight{
  background: rgba(255,255,255,0.2);
}
.fixed-top{
  position: fixed !important;
  top: 76px;
}

.fooHeading {

  text-shadow: 0px 1px 0px #ffffff;
  margin: 0px;
  margin-bottom: 10px;

}
 .alert-foo{
   background:  #B7DEE2;
   border:  0px solid #ffffff;
   border-bottom: 1px solid #68B3AF !important;
   margin:  0px;
  }
 .bg-foo-light{
  
 }


.navbar>.container .navbar-brand {
  margin-left: 0px;
  padding: 10px;
  font-size: 34px;
  //color: #68B3AF;
  font-family: 'Play', sans-serif;


}
.text-foo {
 color: #0279d2;
  font-size: 1.2em;
  text-shadow: 0px 1px rgba(255,255,255,.3);
}
.navbar-wrapper {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  margin : 0 auto 0;
 // border-top: 5px solid #68B3AF;
 // border-bottom: 1px solid #e7e7e7;
  display: block;
  //background: #fff;
}

.foo-menu{
  margin-left: 10px;
 // border-left: 1px solid #e7e7e7;
}
.foo-menu, .foo-menu li, .foo-menu li a{
  height: 50px;
  line-height: 50px;
  padding: 0px;
  font-family: 'Play', sans-serif;
color: #3B8686;
}
.foo-menu li{
  height: 50px;
  line-height: 50px;
 // border-left: 1px solid #fff;
 // border-right: 1px solid #e7e7e7;
  padding-left: 20px;
  padding-right: 20px;

}

ul.nav li > a > i.fa {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 5px;
  margin-top: -3px;
 // color: #68B3AF;
}

div.nav-profile, div.nav-search {
  display: inline;
  min-width: 100px;
  margin: 0 !important;
  padding-top: 1px;
  padding: 0px;
}

div.nav-profile {
  position: absolute;
  top: 0;
  right: 10px;
  text-align: right;
  display: inline-block;
  min-width: 200px;
  line-height: 49px;
  font-size: 1.2em;
  font-weight: normal;
}

li.profile > a {
  padding: 0px;
  padding-top: 7px;
  padding-right: 25px;
}

li.profile img {
  margin-right: 10px;
  max-height: 36px;
  max-width: 36px;
}

.in div.nav-profile {
  position: relative;
}

.in div.nav-profile, .in div.nav-search {
  margin: 0px;
  padding: 0px;
  display: block;
  color: #fff;
  border-bottom: 1px solid #3B8686;
  border-top: 1px solid #3B8686;
  background: #fff;
  line-height: 45px;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-size: 1.2em;
}

.input-search {
  padding: 0px;
  border-radius: 15px;
  line-height: 28px;
  margin: 2px;
  padding-left: 12px;
  color: #3B8686;
  background: #fff;
  border: 1px solid #3B8686;
  margin-top: 10px;
  padding-left: 20px;
  margin-left: 20px;
  font-weight: 300;
}

.in .input-search {
  padding: 0px;
  border-radius: 15px;
  line-height: 35px;
  margin: 2px;
  padding-left: 12px;
  color: #3B8686;
  background: #fff;
  border: 1px solid #1d1d1d;
  display: block;
  width: 95%;
}


.sideMenu{
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 22px;
  width: 15%;
 // border-right: 1px solid #efefef;
  //background: #fff;
  overflow: auto;
  z-index: 10001;

}

.sideMenu ul li a{
 // border-bottom: 1px solid #efefef;
  color: #888;
  font-weight: 300 !important;
  text-shadow: none;
  margin-bottom: 2px;
  background: #fff;
}
.sideMenu ul li  ul li a{
  // border-bottom: 1px solid #efefef;
  //color: #444;
  font-weight: 300 !important;
  text-shadow: none;
border-bottom: 1px solid #fff;
  background: rgba(255,255,255,.1) !important;
  margin-bottom: 0px;
}
.showMenu{
  left: 0;
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
}

.hideMenu{
  left: -300px;
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
}

.withSideMenu{
  padding-left: 15% !important;
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
}
.withoutSideMenu{
  padding-left: 0px !important;
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
}
.halfScreen{
  width: 40% !important;
  padding-left: 15px;
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
}
.percentageScreen{
  width: 35% !important;
  padding-left: 10px;
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
}
.fullScreen{
  width: 100% !important;
  padding-left: 10px;
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
}
.percentageFullScreen{
  width: 85% !important;
  padding-left: 10px;
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
}

.halfScreenWide{
  padding: 0px;
  left: 40%;
  width: 60% !important;
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
}
.percentageScreenWide{
  left: 50%;
  padding: 0px;
  width: 50% !important;
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
}



video {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border: 1px solid #efefef;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.slideRight {
  position: relative;
  right: -20px;
  -webkit-animation: slideRight 0.5s forwards;
  -webkit-animation-delay: 0.1s;
  animation: slideRight 0.5s forwards;
  animation-delay: 0.1s;
}

// Animations
.slideLeft {
  position: relative;
  left: -20px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.1s;
  animation: slide 0.5s forwards;
  animation-delay: 0.1s;
}

.panel-slider{
  position: fixed;
  right: 100%;
  left:100% ;
  top: 120px;
  bottom: -20px;
  width: 50%;
  overflow: scroll;
  z-index: 200;
  background: #FAFAFA;

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: .9em;
  -moz-box-shadow: -5px 10px 21px rgba(39,50,57,.29);
  -webkit-box-shadow: -5px 10px 21px rgba(39,50,57,.29);
  box-shadow: -5px 10px 21px rgba(39,50,57,.29);

  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}

.panel-slider .panel-heading{
 background: #f5f5f5 !important;
}

.panel-slider .panel-body{
  position: absolute;
  top: 60px;
  bottom: 60px;
  overflow: scroll;
}
.panel-slider .panel-footer{
  position: absolute;
  height: 60px;
  padding: 10px;
  bottom: 0px;
  display: block;
  width: 100%;


}

.slidePanelIn{

  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;
  right: 0 !important;
  left: 50%;
}

.slidePanelOut{

  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;
  right: 100% !important;

}
.appear {
  opacity: .5;
  -webkit-animation: appear 0.3s forwards;
  -webkit-animation-delay: 0.1s;
  animation: appear 0.3s forwards;
  animation-delay: 0.1s;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  0%{
    opacity: .5;
  }
  100% {
    left: 0;
  opacity: 1;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideRight {
  100% {
    right: 0;
  }
}

@keyframes slideRight {
  100% {
    right: 0;
  }
}


