<script type="text/javascript" src="/vendor/js/underscore.js"></script>
<script type="text/javascript" src="/vendor/js/angular-route.js"></script>
<script type="text/javascript" src="/vendor/js/restangular.js"></script>
<script type="text/javascript" src="/vendor/js/ui-bootstrap.js"></script>
<script type="text/javascript" src="/vendor/js/angular-sanitize.js"></script>
<script type="text/javascript" src="/vendor/js/ng-grid.js"></script>
<script type="text/javascript" src="/vendor/js/fullcalendar.js"></script>
<script type="text/javascript" src="/vendor/js/textAngular.js"></script>
<script type="text/javascript" src="/js/main-min.js"></script>




