<div class="form-group clearfix">
    <label for="{{formField.id}}">{{formField.label}}
        <i class="fa fa-question-circle"
           ng-hide="!formField.userInstructions"
           popover="{{formField.userInstructions}}"
           popover-trigger="mouseenter"></i>
    </label>

    <div ui-sortable="repeatSortableOptions" ng-model="formField.fields" id='{{formField.id}}'
         class="repeat-apps-container col-sm-12 repeatBox"
            >
        <div class='formObject col-sm-{{subField.boxSize}}'

             ng-click="editField($parent.$index, $index, 'Group', $event)"
             ng-class="{ 'bg-warning': $index== nowSubEditing ,'dropped' : $index == nowSubEditing}"
             ng-repeat="subField in formField.fields track by $index">
            <div class="btn-group pull-right onTop">

                <button ng-click="editField($parent.$index, $index, 'Group', $event)"
                        class='btn btn-xs btn-default'
                        >{{$index}}
                </button>
                <button ng-click='deleteSubItem(subField.id)'
                        class='btn btn-xs btn-danger'
                        ng-show="$index == nowEditing">X
                </button>
            </div>
            <div ng-include="'/template/formFields/groupBoxed/' + subField.type + '.html'"></div>
        </div>


    </div>

    <div ng-show="formField.repeatable">
        <button class="btn btn-default" ng-click="addRepeat($index,0);">+</button>
    </div>


</div>

