<div class="form-group clearfix">
    <label>{{appField.label}}
        <i class="fa fa-question-circle"
           ng-hide="!appField.userInstructions"
           popover="{{appField.userInstructions}}"
           popover-trigger="mouseenter"></i>
    </label>

    <div class="input-group" ng-style="{'width': appField.size+'%'}">
        <label ng-class="{ 'radio-inline': appField.settings.display == 'Inline' ,'radio' : appField.settings.display == 'Stacked'}"
               ng-repeat='option in appField.options'>
            <input type="radio" name="appField.id" ng-model="appField.selected" ng-value="option.label">{{option.label}}
        </label>


    </div>
</div>