<div class="form-group clearfix">
    <label for="{{formField.id}}">{{formField.label}} <span class="text-danger" ng-show="formField.required">*</span>
        <i class="fa fa-question-circle"
           ng-hide="!formField.userInstructions"
           popover="{{formField.userInstructions}}"
           popover-trigger="mouseenter"
           popover-append-to-body="true"></i>
    </label>

    <div class="input-group" ng-style="{'width': formField.size+'%'}">

        <input type="text"
               class="form-control"
               id="{{formField.id}}"
               placeholder="{{formField.placeholder}}" ng-model="formField.value"/>
    </div>
</div>