<div class="row">
    <div class="col-xs-8 col sm-8 col-md-8 pageGroup">
        <div id='appView' class='hide'>
            <div id='nowViewing'>
                <img src=''/>

                <h1></h1>
                <span id='formAction'></span>
            </div>
            <div id='theFormDescription' class='alert alert-success m5'>
            </div>
            <div id='theForm' class='alert alert-info m5'>
            </div>
            <div id='theFormPostVars'>
            </div>
            <div id='posts'>
            </div>

        </div>

        <div id='tabs'>
            <ul id='mainTabs' class="nav nav-tabs">
                <li><a id='tabsMenu-1' href="#tabs-1" data-toggle="tab">Timeline</a></li>
                <li><a id='tabsMenu-2' href="#tabs-2" data-toggle="tab">Clouds</a></li>
                <li><a id='tabsMenu-3' href="#tabs-3" data-toggle="tab">Apps</a></li>
                <li style="float: right"><a href='#' id='itemTitlelink'><span id='itemTitle'></span></a></li>
            </ul>
            <div class="tab-content white m0 p5">
                <div id="tabs-1" class="tab-pane active">


                </div>
                <div id="tabs-2" class="tab-pane">

                    <div class="alert alert-warning m5">
                        <h4>Welcome <? echo $displayName ?>,</h4>

                        <p>FooForms lets you create apps for you and your team.</p>

                        <p><h5>Here's a few ideas.</h5></p>
                        <ul>
                            <li>Create a Bug Tracker</li>
                            <li>Manage Invoices</li>
                            <li>Holiday Request Form</li>
                            <li>Customer Service Helpdesk</li>
                            <li>Manage Projects</li>
                        </ul>
                    </div>
                    <div class="alert alert-info m5">
                        <p><strong>You'll need a cloud to put your apps into. </strong><br>
                            You can create as many clouds as you need. Use them to group similar apps, make departments,
                            etc.</P>

                        <p><h5>Let's get started!</h5>
                        <button class='btn btnNewCloud btn-primary' onclick='loadTabsHTML("newCloudForm");'>Create a new
                            cloud
                        </button>
                        <button class='btn'>Join an existing cloud</button>


                    </div>
                </div>
                <div id="tabs-3" class="tab-pane">


                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 tall">
        <%include postView.html %>
    </div>

</div>
