<% layout(global.config.layouts.MAIN) -%>

<div class="row">
    <div class="col-xs-8 col sm-8 col-md-8">
        <div id='appView' class='hide'>
            <div id='nowViewing'>
                <img src=''/>

                <h1></h1>
                <span id='formAction'></span>
            </div>
            <div id='theFormDescription' class='alert alert-success m5'>
            </div>
            <div id='theForm' class='alert alert-info m5'>
            </div>
            <div id='theFormPostVars'>
            </div>
            <div id='posts'>
            </div>

        </div>

        <div id='tabs'>
            <ul id='mainTabs' class="nav nav-tabs">
                <li><a id='tabsMenu-1' href="#tabs-1" data-toggle="tab">Timeline</a></li>
                <li><a id='tabsMenu-2' href="#tabs-2" data-toggle="tab">Clouds</a></li>
                <li><a id='tabsMenu-3' href="#tabs-3" data-toggle="tab">Apps</a></li>
                <li style="float: right"><a href='#' id='itemTitlelink'><span id='itemTitle'></span></a></li>
            </ul>
            <div class="tab-content">
                <div id="tabs-1" class="tab-pane active">


                </div>
                <div id="tabs-2" class="tab-pane">
                    <%= JSON.stringify(user) %>
                    <div class='well'>
                        <a class='btn' href='clouds'>Find more clouds</a>
                        <button class='btn'>Create a cloud</button>
                    </div>
                </div>
                <div id="tabs-3" class="tab-pane">

                    <%= JSON.stringify(user) %>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 tall">
        <%include postView.html %>
    </div>

</div>
