<div ng-cloak ng-if="fetching" class="text-center mt10">
    <i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
</div>
<div infinite-scroll="addMorePosts()" infinite-scroll-distance="1" infinite-scroll-parent="true"
     infinite-scroll-container="'#foo-post-collection'">
    <!-- TODO: Move feed and list to own templates and directives -->

    <!-- List View -->
    <foo-post-list posts="posts" active-post="activePost" active-form="activeForm" ng-show="view=='list'" status="{{status}}"></foo-post-list>

    <!-- Feed View -->

    <foo-post-feed posts="posts" active-post="activePost" active-form="activeForm"  ng-show="view=='feed'" status="{{status}}"></foo-post-feed>


</div>

<!--Default Emplty Post Display -->
<div ng-cloak ng-if="posts.length==0 && !activePost">

    <div class="panel panel-foo-feed">

        <div class="panel-body" ng-hide="team">

            <h2 class="text-primary">hello :-)</h2>
            <h4>Welcome to Fooforms.</h4>

            <p>Please take a moment to read the Quick Start Guide, it's so much easier than fumbling about.</p>

            <p class="pt5">Be sure to get in touch if you find any bugs or have any questions.</p>
            <br><br>
            Follow us <a href="https://twitter.com/fooforms">@fooforms</a> for updates.<br>
            <strong><i>The Fooforms Team</i></strong>
        </div>


        <div class="panel-body" ng-show="team">

            <h2 class="text-primary">hello :-)</h2>
            <h4>This is where posts for the {{team.displayName}} team will appear.</h4>

            <p></p>
        </div>

    </div>


</div>

<div ng-cloak ng-if="posts.length==0 && activePost && !fetching">


    <div class="panel panel-foo-feed">

        <div class="panel-body">

            <h2 class="text-primary">hello :-)</h2>
            <h4>No posts yet.</h4>

            <p>Use your new form to create the first post now.</p>
            <br>
        </div>

    </div>


</div>




