<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-4 control-label">Field Label</label>

        <div class="col-sm-8">
            <input type='text' class="form-control" ng-model="form.fields[nowEditing].fields[nowSubEditing].label"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Box size</label>

        <div class="col-sm-8">
            <input type="range" name="points" min="1" max="12"
                   ng-model="form.fields[nowEditing].fields[nowSubEditing].boxSize">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Field size</label>

        <div class="col-sm-8">
            <input type="range" name="points" min="10" max="100"
                   ng-model="form.fields[nowEditing].fields[nowSubEditing].size">

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Required </label>

        <div class="col-sm-8">
            <input type='checkbox' ng-model="form.fields[nowEditing].fields[nowSubEditing].required"></label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Instructions for user</label>

        <div class="col-sm-8">
            <input type='text' class="form-control"
                   ng-model="form.fields[nowEditing].fields[nowSubEditing].userInstructions"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Display</label>

        <div class="col-sm-8">
            <label class="radio-inline">
                <input type='radio'
                       ng-model="form.fields[nowEditing].fields[nowSubEditing].settings.display" value="Inline"> Inline
            </label>
            <label class="radio-inline">
                <input type='radio'
                       ng-model="form.fields[nowEditing].fields[nowSubEditing].settings.display" value="Stacked"> Stacked
            </label>
        </div>
    </div>
    <div class="alert alert-info p5">
        <h5>Content Options</h5>

        <div ng-repeat='option in form.fields[nowEditing].fields[nowSubEditing].options track by $index'>
            <div class="input-group input-group-sm">
      <span class="input-group-addon">
        <input type="checkbox" name="form.fields[nowEditing].fields[nowSubEditing].id"
               ng-model='form.fields[nowEditing].fields[nowSubEditing].options[$index].selected'>
      </span>
                <input type='text'
                       ng-model='form.fields[nowEditing].fields[nowSubEditing].options[$index].label'
                       class="form-control input-sm">

                <div class="input-group-btn">
                    <button class='btn btn-default btn-sm' ng-click="addOptionObject($index)"><i
                            class="fa fa-plus fa-lg"></i>
                    </button>
                    <button class='btn btn-default btn-sm' ng-click="deleteOption($index)"
                            ng-show="form.fields[nowEditing].fields[nowSubEditing].options.length>1"><i
                            class="fa fa-trash-o fa-lg"></i></button>

                </div>
            </div>


        </div>
    </div>

</form>
