<div class="form-group clearfix">


    <div class="input-group" ng-style="{'width': repeater.size+'%'}">
        <span class="input-group-addon" ng-show="repeater.required">*</span>
        <select data-ng-attr-size="{{repeater.rows}}"
                class="form-control"
                id="{{repeater.id}}"
                >
            <option ng-repeat='option in repeater.options' ng-selected="repeater.selected==option.label">
                {{option.label}}
            </option>
        </select>
    </div>
</div>