<div infinite-scroll="addMore()" infinite-scroll-distance="3">
    <form role="form" class="panel panel-foo-light">

        <div class="panel-heading clearfix">
            <span ng-show="comments.length>0" class="label label-warning p5 m10 br0">{{ comments.length }} Comments</span>
            <span ng-show="comments.length<1" class="label label-primary p5 m10 br0">No Comments - Be the First</span>

            <textarea class="form-control b0" ng-model="comment.content"></textarea>
            <button class="btn btn-default btn-sm mt10 pull-right" ng-click="postComment(comment)"><i class="fa fa-comment"></i> Post Comment</button>

        </div>
        <div class="panel-heading">

            <div class="comments" ng-repeat="comment in comments">


                <div class="panel panel-foo-feed">

                    <div class="panel-heading">
                        <img class="img-responsive img-circle post-user-img" ng-src="{{comment.commenter.photo || '/assets/images/photo.jpg'}}"/>


                        <span class="text-muted">{{comment.commenter.displayName}} @ {{comment.created | ago }} ago</span>

                    </div>
                    <div class="panel-body">
                    {{comment.content}}
</div>

                </div>



            </div>
        </div>
    </form>
</div>

