<div class="col-sm-12" id='mainView'>

    <!-- Navigation Buttons -->
    <div class="col-md-3 slideLeft">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a class="btn btn-success" data-toggle="tab" data-target="#newTeamFolder">
                    <i class="fa fa-plus"></i> New Team Folder</a>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked" id="myTabs">
                    <li ng-repeat="privateFolder in privateFolders">
                        <a data-toggle="tab" data-target="#{{privateFolder.name}}">
                            <img class="icon-xs" src="/assets/icons/color/folder.png"
                                 alt="{{privateFolder.name}} {{privateFolder.description}}">
                            {{privateFolder.name}}</a></li>
                    <li ng-repeat="publicFolder in publicFolders">
                        <a data-toggle="tab" data-target="#{{publicFolder.name}}">
                            <img class="icon-xs" src="/assets/icons/color/folder.png"
                                 alt="{{publicFolder.name}} {{publicFolder.description}}">
                            {{publicFolder.name}}</a></li>
                </ul>
            </div>
        </div>

    </div>

    <!-- Content -->
    <div class="col-md-9 slideRight">

        <div class="tab-content">
            <div class="tab-pane" ng-repeat="privateFolder in privateFolders" id="{{privateFolder.name}}">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>{{privateFolder.name}}
                        <a class="btn btn-default pull-right" href="/folder/{{privateFolder.menuLabel}}">Open Team Folder</a>
                        </h4></div>
                    <div class="panel-body">


                    </div>
                </div>
            </div>
            <div class="tab-pane" ng-repeat="publicFolder in publicFolders" id="{{publicFolder.name}}">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>{{publicFolder.name}}
                            <a class="btn btn-default pull-right" href="/folder/{{publicFolder.menuLabel}}">Open Team Folder</a>
                        </h4>
                    </div>
                    <div class="panel-body">

                        {{publicFolder | json }}
                        <a class="btn btn-default pull-right" href="/folder/{{privateFolder.menuLabel}}">Open Team Folder</a>

                    </div>
                </div>
            </div>

            <div class="tab-pane" id="newTeamFolder">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>New Folder</h4>
                    </div>
                    <div class="panel-body">
                        <form novalidate class="css-form" role="form" name="createFolderForm">
                            <div class="form-group">
                                <label for="folderName">Name</label>
                                <input type="text" class="form-control" id="folderName"
                                       ng-model="newFolder.name" required
                                       placeholder="Some awesome folder name"/><br/>
                            </div>
                            <div class="form-group">
                                <label for="folderDescription">Description</label>
                                <input type="text" class="form-control" id="folderDescription"
                                       ng-model="newFolder.description"
                                       placeholder="A detailed description that everyone will read"/>
                            </div>
                            <div class="form-group">
                                <label for="folderLabel">Label</label>
                                <input type="text" class="form-control" id="folderLabel"
                                       ng-model="newFolder.menuLabel"
                                       placeholder="Not sure about this one"/>
                            </div>
                            <div class="form-group">
                                <label for="folderIcon">Icon</label>
                                <input uploadable type="file" id="folderIcon" ng-model="newFolder.icon"/>

                                <p class="help-block">Whatever you do, don't try to upload a file.
                                    We haven't implemented that
                                    yet!.</p>
                            </div>
                            <button ng-click="createFolder(newFolder)" class="btn btn-success">Save
                            </button>
                        </form>
                        <div id="createFolderForm-error" class="alert alert-danger alert-dismissable"
                             ng-show="createFolderFormError">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                            {{createFolderFormError}}
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


</div>