<div class="feed-fixed hidden-print" ng-class="{percentageScreen : sideMenuVisible, halfScreen :!sideMenuVisible}">

    <div class="panel panel-default m0 p0 b0">
        <div class="panel-heading m0 b0">
            <form class="form">
                <div class="form-group">

                    <textarea class='form-control' placeholder="What's Up?"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary pull-right" ng-click="newPost()">Post</button>
                </div>
            </form>
            <form class="form">
                <div class="form-group">
                    <span class="label label-default">All</span>
            <span class="label label-default mr5"
                  ng-repeat="team in user.teams">{{ team.title }}
            </span>

                    <span class="label label-default"><i class="fa fa-search"></i></span>
                    <span class="label label-default" ng-click="postView='list';"><i class="fa fa-bars"></i></span>
                    <span class="label label-default" ng-click="postView='feed';"><i class="fa fa-square"></i></span>


                </div>
            </form>
        </div>


    </div>

    <div class="scroll2 m0 b0">

        <div ng-show="postView=='feed'" class="panel panel-info panel-feed"
             ng-repeat="post in posts track by $index"
             ng-class="{ 'panel-feed-selected': posts.activePost._id == post._id }"
             ng-click="viewPost(post, $index)">

            <div class="panel-heading">
                <span class="pull-right text-muted">{{post.name}}, {{post.lastModified | date : 'HH:mm'}} </span>
                <label class="label label-default pull-right mr5" ng-repeat="field in post.fields"
                       ng-show="field.type=='status'">{{ field.selected}}</label>

                <a ng-click="viewPost(post)">
                    <img class="media-object icon icon-feed" ng-src="{{post.icon}}" alt="">


                </a>
                <span ng-show="post.fields[0].type=='text' || post.fields[0].type=='textarea'">&nbsp;{{post.fields[0].value}}</span>

            </div>

            <div class="panel-body">
                <div ng-repeat="field in post.fields track by $index">
                    <span ng-show="(field.type=='text' || field.type=='textarea') && $index <5">
                        <span class='label label-foo'> {{ field.label }} </span> {{ field.value}}</span>

                    <img class="img-feed" style="max-width:100%;"
                         src="{{'/files/'+ field.value._id }}" ng-if="field.value.mimeType=='image/jpeg'">

                </div>


            </div>


        </div>
        <table ng-show="postView=='list'" class="table feedTable m0 p0 b0">
            <tr ng-repeat="post in posts track by $index" ng-click="viewPost(post)"
                ng-class-odd="'feedOdd'" ng-class-even="'feedEven'"
                ng-class="{ 'panel-feed-selected': posts.activePost._id == post._id }">
                <td class="b0">
                    <img class="media-object icon icon-feed pull-left" ng-src="{{post.icon}}" alt="">
                    <span>{{post.fields[0].value}}</span>

                    <span class="pull-right text-muted">{{post.name}}, {{post.lastModified | date : 'HH:mm'}} </span>
                    <br><label class="label label-default pull-right" ng-repeat="field in post.fields"
                               ng-if="field.type=='status'">{{ field.selected}}</label>

                    <div class="text-muted"> {{post.fields[1].value}} - <i>
                        {{post.fields[2].value}} </i></div>
                </td>
            </tr>
        </table>

    </div>

</div>


<div class="feed-fixed-wide" ng-class="{percentageScreenWide : sideMenuVisible, halfScreenWide :!sideMenuVisible}">

    <div class="container-fluid" ng-if="posts">

        <div class="row">
            <div class="col-sm-12">

                <form role="form" class="panel panel-default">

                    <div class="panel-heading">
                        <img class="media-object icon icon-xs" ng-src="{{posts.activePost.icon}}" alt="">
                        <h4 class="inline-block">{{posts.activePost.name}}</h4>

                        <div class="btn-group pull-right">
                            <button id='deletePost' ng-click="deletePost(posts.activePost)"
                                    class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> Delete
                            </button>
                            <button id='copyPost' ng-click="copyPost(posts.activePost)"
                                    class="btn btn-default btn-sm"><i class="fa fa-copy"></i> Copy
                            </button>
                            <button id='cancelPost' ng-click="cancelPost(posts.activePost)"
                                    class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Cancel
                            </button>
                            <button id='savePost' ng-click="savePost(posts.activePost)"
                                    class="btn btn-success btn-sm"><i class="fa fa-save"></i> Save
                            </button>
                        </div>
                        <hr class="m10">
                        <div class="m0 p0 slideUp" ng-show="!doingPostApi">
                            <span class="small text-opacity-5">Last Update:</span><span class="small"> {{posts.activePost.lastModified | date : 'MMM d, y @ h:mm a'}}</span>
                        </div>
                        <div class="m0 p0 slideDown" ng-show="doingPostApi">
                            <i class="fa fa-refresh fa-spin"></i> Updating...
                        </div>

                    </div>
                    <div class="panel-body light-gray">
                        <fieldset>
                            <div class='col-xs-12 plr5 col-sm-{{formField.boxSize}}'
                                 ng-repeat="formField in posts.activePost.fields track by $index"
                                 ng-show="formField.name"
                                 ng-include='formField.template'>
                            </div>

                        </fieldset>
                    </div>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <form role="form" class="panel panel-default">

                    <div class="panel-heading">
                        <span ng-show="posts.activePost.comments.length>0">{{ posts.activePost.comments.length }} comments</span>
                        <span ng-show="posts.activePost.comments.length<1">No comments - be the first</span>

                        <textarea class="form-control b0" ng-model="comment.content"></textarea>
                        <button class="btn btn-info btn-xs pt5" ng-click="postComment(comment)">Post comment</button>

                    </div>
                    <div class="panel-heading">

                        <div class="comment" ng-repeat="comment in posts.activePost.comments">
                            <blockquote>
                                <p>{{comment.content}}</p>
                                <footer><cite title="{{comment.commenter[0].displayName}}">{{comment.commenter[0].displayName}}</cite>
                                    on {{comment.created | date:'medium'}}
                                </footer>
                            </blockquote>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="container-fluid" ng-cloak ng-if="posts.length==0">
        <div class="row">
            <div class="col-sm-12">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>Welcome {{user.name.firstName}}</h3>
                    </div>
                    <div class="panel-body">
                        <p>We're so happy you decided to try FOOFORMS.</p>
                        <h4>Getting started</h4>

                        <p>Jump right in and get your first forms up and running.<br> You can build from scratch or
                            simply grab a totally awesome ready made solution.</p>
                        <a class="btn btn-success" href="/forms">Add Your First Form</a>

                        <p class="pt5">Next : Create some teams. Teams help you define who sees which forms.</p>
                        <a class="btn btn-success" href="/teams">Create Teams</a>

                        <p class="pt5">Be sure to get in touch if you have any questions, we're always delighted to
                            assist.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



