<div class="feed-fixed" ng-class="{percentageScreen : sideMenuVisible, halfScreen :!sideMenuVisible}">

    <div class="panel panel-default m0 p0 b0">
        <div class="panel-heading m0 b0">
            <form class="form">
                <div class="form-group">

           <textarea class='form-control' placeholder="What's Up?"></textarea>
                    </div>
                <div class="form-group">
                    <button class="btn btn-primary pull-right" ng-click="newPost()">Post</button>
                    </div>
</form>
            <form class="form">
                <div class="form-group">
            <span class="label label-default">All</span>
            <span class="label label-default mr5"
                    ng-repeat="folder in publicFolders">{{ folder.name }}
            </span>

    <span class="label label-default"><i class="fa fa-search"></i></span>
    <span class="label label-default" ng-click="postView='list';"><i class="fa fa-bars"></i></span>
    <span class="label label-default" ng-click="postView='feed';"><i class="fa fa-square"></i></span>


</div>
        </form></div>


    </div>

    <div class="scroll2 m0 b0">

        <div ng-show="postView=='feed'" class="panel panel-info panel-feed"
             ng-repeat="foo in posts" ng-click="viewPost(foo)">

            <div class="panel-heading">
                <span class="pull-right text-muted">{{foo.lastModified | date : 'HH:mm'}} </span>
                <label class="label label-info pull-right mr5" ng-repeat="field in foo.fields" ng-show="field.type=='status'">{{ field.selected}}</label>

                <a ng-click="viewPost(foo)">
                    <img class="media-object icon icon-feed" ng-src="{{foo.icon}}" alt="">


                </a>&nbsp;{{foo.fields[0].value}}

            </div>

            <div class="panel-body">
                {{foo.fields[1].label}}:
                {{foo.fields[1].value}}<br>
                {{foo.fields[2].label}}: {{foo.fields[2].value}}<br>
                {{foo.fields[3].label}}: {{foo.fields[3].value}}
            </div>


        </div>
        <table ng-show="postView=='list'" class="table feedTable m0 p0 b0">
            <tr ng-repeat="foo in posts" ng-click="viewPost(foo)"
                ng-class-odd="'feedOdd'" ng-class-even="'feedEven'">
                <td class="b0" ng-class="{ 'bg-highlight': posts.activePost._id == foo._id }">
                    <img class="media-object icon icon-feed pull-left" ng-src="{{foo.icon}}" alt="">
                    <span class="pull-right text-muted">{{foo.lastModified | date : 'HH:mm'}} </span>
                    <label class="label label-default pull-right mr5" ng-repeat="field in foo.fields" ng-if="field.type=='status'">{{ field.selected}}</label>

                    <span>{{foo.fields[0].value}}</span><br> <span class="text-muted"> {{foo.fields[1].value}} - <i> {{foo.fields[2].value}} </i></span>
                </td>
            </tr>
        </table>

</div>

                    </div>



<div class="feed-fixed-wide"  ng-class="{percentageScreenWide : sideMenuVisible, halfScreenWide :!sideMenuVisible}">

 <div class="container-fluid" ng-if="posts">

                        <div class="row">
<div class="col-sm-12">
    <div class="alert fade in m0 br0 {{msgStatus}} "ng-show="activeMsgBox=='formViewer'">
        <p ng-bind="msg"></p>
    </div>
                        <form role="form" class="panel panel-default">

                                    <div class="panel-heading">
                                        <img class="media-object icon icon-xs" ng-src="{{posts.activePost.icon}}" alt="">
                                        <h4 class="inline-block">{{posts.activePost.name}}</h4>
                                        <div class="btn-group pull-right">
                                            <button id='deletePost' ng-click="deletePost(postObj)"
                                                    class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> Delete
                                            </button>
                                            <button id='copyPost' ng-click="copyPost(postObj)"
                                                    class="btn btn-default btn-sm"><i class="fa fa-copy"></i> Copy
                                            </button>
                                            <button id='cancelPost' ng-click="cancelPost(postObj)"
                                                    class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Cancel
                                            </button>
                                            <button id='savePost' ng-click="savePost(postObj)"
                                                    class="btn btn-success btn-sm"><i class="fa fa-save"></i> Save
                                            </button>
                                        </div>
                                    <hr class="m10">
                                       <span class="small text-opacity-5">Last Update:</span><span class="small"> {{posts.activePost.lastModified | date : 'MMM d, y @ h:mm a'}}</span>


                                    </div>
                            <div class="panel-body light-gray">  <fieldset>
                            <div class='col-xs-12 plr5 col-sm-{{formField.boxSize}}'
                                 ng-repeat="formField in posts.activePost.fields track by $index"
                                 ng-show="formField.name"
                                     ng-include='formField.template'>
                            </div>

                                </fieldset>
                                    </div>
                            </form>
                        </div>

                    </div>
     <div class="row">
         <div class="col-sm-12">
             <form role="form" class="panel panel-default">

                 <div class="panel-heading">
                     <span ng-show="posts.activePost.comments.length>0">{{ posts.activePost.comments.length }} comments</span>
                     <span ng-show="posts.activePost.comments.length<1">No comments - be the first</span>

                     <textarea class="form-control b0" ng-model="comment.content"></textarea>
                     <button class="btn btn-info btn-xs pt5" ng-click="postComment(comment)">Post comment</button>

                 </div>
                 <div class="panel-body">

                     <div class="comment" ng-repeat="comment in posts.activePost.comments">
                         {{comment.commenter}} {{comment.created}}
                         {{comment.content}}
                     </div>
                 </div>
             </form>
         </div>
     </div>

                    </div>

<div class="container-fluid" ng-if="posts.length==0">
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-success">
                <div class="panel-heading">
                  <h3>Hey newbie....welcome</h3>
                </div>
                <div class="panel-body">
                    <p>We're so happy you decided to try FOOFORMS.</p>
                    <h4>Getting started</h4>

                    <p>Jump right in and get your first forms up and running.<br> You can build from scratch or simply grab a totally awesome ready made solution.</p>
                    <a class="btn btn-success" href="/forms">Add Forms</a>
                    <p>Next : Create some teams. Teams help you define who sees which forms.</p>
                    <a class="btn btn-success" href="/team-folders">Create Teams</a>
                </div>
            </div>
        </div>
    </div>
</div>


</div>



