<div class="col-xs-12 col-sm-4 col-md-4 p0">
    <div id="pageViewer" class="pageGroup">

        <div class="br0 alert alert-info b0 m0">


            <img class="icon pull-left img-circle" ng-src="{{user.photo}}">
            <h4 class="inline">{{user.displayName}} <a href="/profile/"><i class="fa fa-edit fa-lg"></i></a></h4>


            <div class="input-group clear">
                <div class="input-group-btn">
                    <button disabled class='btn btn-default' ng-click="setView('feed')"><i
                            class="fa fa-list fa-lg"></i>
                    </button>


                    <button class='btn btn-default' ng-click="setView('card')"><i
                            class="fa fa-th fa-lg"></i>
                    </button>
                    <a class='btn btn-default' href="userGuide"><i class="fa fa-rocket fa-lg"></i>
                    </a>

                </div>
                <input type="text" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
            </div>


        </div>
        <div class="tab-content  m0 p0">
            <div id="tabs-notifications" class="tab-pane active">
                <div class="list-group feed">
                    <div class="media list-group-item feed-item m0 br0"
                         ng-repeat="foo in posts" ng-click="viewPost(foo)">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <a class="pull-left" ng-click="viewPost(foo)">
                            <img class="media-object icon icon-sm" ng-src="{{foo.icon}}" alt="">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">{{ foo.name }}</h4>{{foo.fields[0].label}}:
                            {{foo.fields[0].value}}<br>
                            {{foo.fields[1].label}}: {{foo.fields[1].value}}<br>
                            {{foo.fields[2].label}}: {{foo.fields[2].value}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 p0  hidden-xs fixed-top" id='mainView'>
    <div class="pageGroup">

        <div id='tabs'>
            <ul id='mainTabs' class="nav nav-tabs">
                <li class="active"><a data-target="#tabs-1" data-toggle="tab">Dashboard</a></li>
            </ul>
            <div class="tab-content white m0 p5">
                <div id="tabs-1" class="tab-pane active">


                    <div class="row m5 p5">

                        <div class="col-sm-12 col-md-4">
                            <h4 class="text-info">Recent Activity</h4>
                            <h5>{{ posts.length }} New Posts</h5>
                        </div>




                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
