<!DOCTYPE html>
<html lang="en" ng-app="fooformsApp">
<head ng-controller="HeadController">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        FOOFORMS - Form Based Collaboration for Teams
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/ico/favicon.ico" type="image/x-icon">

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/trNgGrid/trNgGrid.min.css">

    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="/css/main-min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/vendor/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/angularFileUpload/angular-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendor/angularFileUpload/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="/vendor/trNgGrid/trNgGrid.min.js"></script>

<base href="/">
</head>
<body ng-controller="MainController" data-ng-init="init()" class="main-application">
<div id="wrap">
<div class="navbar-wrapper" >
<div class="navbar navbar-default navbar-fixed-top navbar-foo" role="navigation">
    <div class="container-fluid"  ng-class="{withSideMenu : sideMenuVisible, withoutSideMenu :!sideMenuVisible}">
        <div class="navbar-header">



        </div>
        <div class="collapse navbar-collapse">


            <ul class="nav navbar-nav">
                <li>
                    <a ng-click="sideMenuVisible=!sideMenuVisible">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>

                    </a>

                </li>
                <li>
                    <a class="navbar-brand" href="#"><span class="text-foo">FOOFORMS</span></a>
                </li>

                <li>
                <a href="/forms" class="inline pull-right">
                    <i class="fa fa-cog" ng-click="postView='list';"></i>Forms</a>
                </li>

                <li>
                    <a href="/team-folders" class="inline pull-right">
                        <i class="fa fa-sitemap" ng-click="postView='list';"></i>Team Folders</a>
                </li>

                <li>
                    <a href="/people" class="inline pull-right">
                        <i class="fa fa-group" ng-click="postView='list';"></i>People</a>
                </li>

                <li>
                    <a href="/calendar" class="inline pull-right">
                        <i class="fa fa-calendar" ng-click="postView='list';"></i>Dates</a>
                </li>

            </ul>



            <div class="nav-search">

                <input type="text" placeholder="Search..." class="input-search"/>

            </div>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown profile" ng-cloak><a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;
                    <img class="img-circle" ng-src="{{user.photo}}"/>

                    {{user.displayName}}

                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="profile"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="{{user.displayName}}/folders"><i class="fa fa-folder"></i> Folders</a></li>
                        <li><a href="settings"><i class="fa fa-cogs"></i> Settings</a></li>
                        <li class="divider"></li>
                        <li ng-controller="LogoutCtrl"><a ng-click="logout()"><i class="fa fa-lock"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>


        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div><!-- /.navbar -->
</div>
<div id='sideMenu' class="sideMenu" ng-controller = "DashboardCtrl" ng-class="{showMenu : sideMenuVisible, hideMenu: !sideMenuVisible}">

    <div class="company">
        <img src="/assets/images/logo.png">
    </div>

    <ul class="nav nav-pills nav-stacked scrollSidebar l0" >

        <li>
            <a href="dashboard"><i class="fa fa-dashboard"></i> Dashboard <span class="badge pull-right">42</span></a>

        </li>

        <li>
            <a ng-click="isCollapsed = !isCollapsed"><i class="fa fa-th"></i> Forms
                <span class="caret"></span>

            </a>
            <ul class="nav nav-pills nav-stacked ml5"  collapse="isCollapsed">

                <li ng-repeat="form in forms">
                    <a href="{{user.displayName + '/' + form.sharing.folder + '/' + form.menuLabel}}"
                       ng-click='updateForm(form)' >
                        <img ng-src="{{form.icon}}" alt="{{form.name}}" class="icon icon-xs">
                        {{form.name}}
                    </a></li>
            </ul>
        </li>
        <li>
            <a href="people"><i class="fa fa-group"></i> People</a>
        </li>
        <li>
            <a href="calendar"><i class="fa fa-calendar"></i> Dates</a>
        </li>


        <% if(user.admin){ %>
        <li>

            <a href="admin"><i class="fa fa-flask"></i>Admin</a>
        </li>
        <% } %>


    </ul>

</div>
<div class="container-fluid" ng-class="{withSideMenu : sideMenuVisible, withoutSideMenu :!sideMenuVisible}">



    <div id='fooforms' class="row" ng-view>

    </div>
</div>

<script type="text/javascript" src="/js/vendor.min.js"></script>

<script type="text/javascript" src="/js/main.min.js"></script>

<% if (dev) { %>
<script src="http://localhost:9000/livereload.js"></script>
<% } %>

</div>
<div id="footer">
   <div class="panel panel-default">
       <div class="panel-heading">

       </div>
   </div>
</div>
</body>
</html>

