<!DOCTYPE html>
<html lang="en" ng-app="fooforms">
<head ng-controller="HeadController">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        FOOFORMS - Online Form Builder & Cloud Dashboard
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/ico/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/vendor/angularFileUpload/angular-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/js/vendor-top.min.js"></script>
    <script type="text/javascript" src="/vendor/angularFileUpload/angular-file-upload.min.js"></script>

    <base href="/">
</head>
<body ng-controller="MainController" class="main-application" ng-cloak>
<div id="wrap">
    <div class="navbar-wrapper hidden-print" ng-show="user">
        <div class="navbar navbar-default navbar-fixed-top navbar-foo" role="navigation">
            <div class="container-fluid" ng-class="{withSideMenu : sideMenuVisible, withoutSideMenu :!sideMenuVisible}">
                <div class="navbar-header col-xs-12">
                    <ul class="nav navbar-nav">
                        <li class="pull-left">
                            <a ng-click="sideMenuVisible=!sideMenuVisible">
                                <span class="sr-only">Toggle navigation</span>
                                <i class="fa fa-bars fa-2x"></i>
                            </a>
                        </li>
                        <li class="pull-left">
                            <a class="navbar-brand" href="#">
                                <span class="text-foo">FOOFORMS</span></a>
                        </li>


                    </ul>


                    <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                        <li><span>
    <a target="_new" href="/contact" class="btn btn-link btn-sm mt10 text-info">Report a Bug</a>
    </span>
                        </li>
                        <li class="dropdown" ng-cloak><a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;
                            <img class="nav-icon img-circle p0 m0" ng-src="{{user.photo}}"/>
                            {{user.displayName}}
                            <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
                                <li ng-controller="LogoutCtrl"><a ng-click="logout()"><i
                                    class="fa fa-lock"></i> Logout</a></li>
                            </ul>
                        </li>

                        <li class="dropdown mt7" ng-cloak><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            &nbsp;
                            <i class="fa fa-cog m5"></i>
                            Admin Settings

                            <b class="caret"></b></a>
                            <ul class="dropdown-menu">


                                <li><a href="/organisations"><i class="fa fa-sitemap"></i> Manage Members</a></li>
                                <li><a href="/organisations"><i class="fa fa-photo"></i> Upload Logo</a></li>
                                <li><a href="/teams"><i class="fa fa-folder"></i> Teams</a></li>
                                <li class="divider"></li>
                                <li>
                                    <a href="mailto:support@fooforms.com?subject=FOOFORMS%20Feedback&body=Thank you for taking the time to contact us. We are currently in Beta and we really appreciate your feedback. Please leave any comments and questions below.">
                                        <i class="fa fa-ticket"></i>Email Us
                                    </a>
                                </li>

                            </ul>
                        </li>

                    </ul>

                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /.navbar -->
    </div>
    <div id='sideMenu' class="sideMenu hidden-print" ng-show="user"
         ng-class="{showMenu : sideMenuVisible, hideMenu: !sideMenuVisible}">

        <div class="company">
            <div ng-if="!user.organisations[0].photo">
                <h2><a href="/organisations"> {{user.organisations[0].title}}</a></h2>
                <a href="/organisations"><i class="fa fa-cloud-upload"></i> Upload a Logo</a>
            </div>

            <a href="/organisations"> <img ng-if="user.organisations[0].photo"
                                           ng-src="{{user.organisations[0].photo}}"></a>
        </div>

        <org-menu></org-menu>
    </div>
    <div class="container-fluid" ng-class="{withSideMenu : sideMenuVisible, withoutSideMenu :!sideMenuVisible}">
        <div id='fooforms' class="row" ng-view>
        </div>

    </div>

</div>
<div id="footer" class="hidden-print p0 m0">

    <div class="alert fade in m0 p5 br0 {{msgStatus}} " ng-show="activeMsgBox=='formViewer'">
        <p ng-bind="msg"></p>
    </div>

</div>
<script type="text/javascript" src="/js/vendor.min.js"></script>

<% assets.forEach(function(script){ %>
<script type="text/javascript" src="<%= script %>"></script>
<% }) %>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-40607409-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>

