<div class=" m0 br0 p5"><h5>{{form.formEvents[nowEditing].name}}</h5>

    <p class="m0 p0">{{form.formEvents[nowEditing].description}}</p>

    <div class="p10 m0">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">From</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Email" ng-model="form.formEvents[nowEditing].actionData.emailFrom">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">To</label>

                <div class="col-sm-9 form-inline">
                    <select ng-model="form.formEvents[nowEditing].actionData.emailToFormId"
                            class="form-control">
                        <option value="SpecifiedEmail">Specified Email</option>
                        <option value="Team">All Team Members</option>
                        <option ng-repeat="field in form.fields track by $index"
                                value="{{field.id}}"
                                ng-if="field.type=='email'"
                                >{{field.label}} ({{$index}})
                        </option>
                    </select>

                    <input type="text" class="form-control" placeholder="Email address"
                           ng-model="form.formEvents[nowEditing].actionData.emailTo"
                            ng-show="form.formEvents[nowEditing].actionData.emailToFormId=='SpecifiedEmail'">

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Email Title</label>

                <div class="col-sm-9">
                    <input class="form-control" ng-model="form.formEvents[nowEditing].actionData.emailTitle">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Email Body</label>

                <div class="col-sm-9">
                    <button class="btn btn-xs btn-primary" ng-click="openEmailEditor()"
                            >Open Editor
                    </button>

                </div>

            </div>
        </form>

    </div>
</div>