<div class="m0 br0 p5"><h5>{{form.formEvents[nowEditing].name}}</h5>

    <p class="m0 p0">{{form.formEvents[nowEditing].description}}</p>

    <div class="p10 m0">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">Status Field</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Status Field Name to Watch"
                           ng-model="form.formEvents[nowEditing].actionData.statusField">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Status Value</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Status Value to Trigger form.formEvents[nowEditing]"
                           ng-model="form.formEvents[nowEditing].actionData.statusValue">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">From</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Email" ng-model="form.formEvents[nowEditing].actionData.emailFrom">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">To</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Email address or [[Email Field]]"
                           ng-model="form.formEvents[nowEditing].actionData.emailTo">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Email Title</label>

                <div class="col-sm-9">
                    <input class="form-control" ng-model="form.formEvents[nowEditing].actionData.emailTitle">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Email Body</label>

                <div class="col-sm-9">
                    <textarea class="form-control"
                              ng-model="form.formEvents[nowEditing].actionData.emailContent"></textarea>
                </div>
            </div>
        </form>

    </div>
</div>