<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/site/assets/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/site/assets/ico/favicon.ico" type="image/x-icon">

    <title>FooForms</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/site/css/fooforms.min.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">


    <div class="navbar navbar-default navbar-fixed-top navbar-foo" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-signal fa-rotate-270 fa-big"></i><span class="text-foo">FOO</span>FORMS</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right foo-menu">


                    <li><a href="/login" class="text-success">Sign in</a></li>

                </ul>

            </div>
        </div>
    </div>

</div>


<!-- jumbotron
================================================== -->

<div class="jumbotron">
    <div class="page-content">
        <div class="row">
            <div class="col-sm-12 col-md-8">


                <div class="item">


                    <h1>Everything's a Form.</h1>

                    <h2>&raquo; <span class="text-primary">Create forms</span> for things that matter</h2>

                    <h2>&raquo; Share forms with your team or customers</h2>

                    <h2>&raquo; View form posts through one <span class="text-success">social dashboard</span></h2>

                    <h2>&raquo; <span class="text-warning">Respond & engage</span> instantly from <span
                            class="text-info">any device</span></h2>




                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <h4 class="text-muted pull-right">Request Access to Beta</h4>
                <iframe src="http://fooforms.jit.su/forms/repo/541f542152b70368d722fffb"></iframe>
                <h5 class="text-muted">Follow <a href="https://twitter.com/FOOFORMS">@fooforms</a> for status updates.</h5>
            </div>
        </div>

    </div>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row highlight">
        <div class="page-content">
            <div class="col-sm-4">
                <i class="fa fa-list-alt fa-huge"></i>

                <h2>Awesome Forms</h2>

                <p>Pull ready-made forms from the form store to get up and running instantly or use the <span class="text-info">drag-n-drop</span> form
                    builder
                    to create powerful form-based applications without writing a single line of code.
                </p>

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-sm-4">
                <i class="fa fa-cloud fa-huge"></i>

                <h2>All in One Place</h2>

                <p>On desktops, tablets or mobiles - the FOOFORMS social dashboard lets you keep track of everything in
                    one
                    place, no matter where you are.
                    Get remote teams access to everything, everywhere, anytime.</p>

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-sm-4">
                <i class="fa fa-users fa-huge"></i>

                <h2>Respond & Engage</h2>

                <p>Silence your Inbox and throw away those Excel Spreadsheets,
                    FOOFORMS lets you create forms that work perfectly with your business processes from start to
                    finish.</p>


            </div>
            <!-- /.col-lg-4 -->
        </div>

    </div>
    <!-- /.row -->


    <!-- START THE FEATURETTES -->


    <div class="row featurette">
        <div class="page-content">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="/site/assets/images/form-store.png"
                 alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Awesome Forms. <span class="text-muted">Check out the form store.</span>
            </h2>

            <p class="lead">The form store has plenty of ready-made forms that you can add to your dashboard
                with just one click.
                Try the <span class="text-info">Helpdesk, Invoice and HR Forms</span> to get your team started.</p>
        </div>
            </div>
    </div>


    <div class="row featurette lightOnDark">
        <div class="page-content">
        <div class="col-md-7">
            <h2 class="featurette-heading">View, update and respond to new form posts with<span class="text-highlight"> one dashboard</span>.
            </h2>

            <p class="lead">Form posts arrive like your twitter or facebook feed complete with all the social features
                you'd expect such as <span class="text-warning">comments</span> and <span class="text-warning">sharing</span>.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="/site/assets/images/dashboard.png"
                 alt="Generic placeholder image">
        </div>
            </div>
    </div>
    <div class="row featurette">
        <div class="page-content">
        <div class="col-md-6">
            <h2 class="featurette-heading">Try fooforms now. <span class="text-muted">It'll blow your mind.</span></h2>

            <p class="lead">We are currently preparing for public beta in November 2014. If you would like to be notified simply apply for access to beta below.</p>

            <p><a class="btn btn-success btn-lg" href="#" role="button">Request access to beta &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <img class="featurette-image img-responsive" src="/site/assets/images/fooforms-dashboard.png"
                 alt="Generic placeholder image">
        </div>
            </div>
    </div>




</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="/site/js/holder.js"></script>

</body>
</html>

