<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/ico/favicon.ico" type="image/x-icon">

    <title>FooForms, Enterprise Communications Platform</title>

    <link href="/css/fooforms.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<!-- NAVBAR
================================================== -->
<body>


<!-- jumbotron
================================================== -->


<nav class="navbar navbar-default navbar-fixed-top navbar-foo" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class='logo' src="/assets/images/fooLogo-sm.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right foo-menu">

                <li><a href="/dashboard/" class="btn-transparent"><i class="fa fa-lock"></i> Sign In</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div class="row featurette lightOnDark">
    <div class="page-content">
        <div class="col-sm-7">
            <h2 class="featurette-heading">Turn Simple Forms into Amazing Apps for
                <span class="text-highlight"> desktop, tablets and mobile</span>.
            </h2>

            <p class="lead">Sales Leads, Defect Tracking, Team Collaboration, Helpdesk, Document Management...

            <p class="lead">Fooforms gives you infinite possibilities</p>
            </p>

            <h2><a class="btn btn-huge btn-success" href="/signup"> <i class="fa fa-check-circle"></i> Sign Up for
                Free</a></h2>

            <p><i class="fa fa-twitter"></i> Follow <a
                    href="https://twitter.com/FOOFORMS" class="text-white">@fooforms</a> for updates.</p>
        </div>
        <div class="col-sm-5">
            <h2 class="featurette-heading">
            <img class="img-responsive" src="/assets/images/mobile-forms.png"
                 alt="Generic placeholder image"></h2>
        </div>
    </div>
</div>


<div class="row featurette">
    <div class="page-content">

        <div class="col-sm-12">
            <h2 class="featurette-heading mt20">Every form backed by a<span
                class="text-muted"> powerful database.</span>
            </h2>

            <p class="lead">FOOFORMS lets you create forms for almost anything and share them instantly with
                your team.<br>
                The Fooforms Drag and Drop Form Builder lets you create beautiful forms effortlessly. The most complex
                forms can be created in just a few minutes and
                special fields such as <span class="text-info">Calculations, Status and Assigned-to</span> let you add
                additional
                functionality without writing a single line of code.
            </p>
            <img class="featurette-image img-responsive rounded-full bordered"
                 src="/assets/images/form-builder.png" alt="Fooforms Form Builder" title="Fooforms Form Builder">

        </div>

    </div>
</div>
<div class="row featurette lightOnDark">
    <div class="page-content">
        <div class="col-sm-5">
            <h2 class="featurette-heading">Create Teams
            </h2>

            <p class="lead">Streamline communications and securely manage confidential information by choosing which
                teams see which forms.
            </p>

        </div>
        <div class="col-sm-7">
            <img class="img-responsive rounded-full bordered mt10" src="/assets/images/team-sharing.png"
                 alt="Share forms with your team">
        </div>
    </div>
</div>

<div class="row featurette">
    <div class="page-content">
        <div class="col-sm-12">
            <h2 class="featurette-heading">View, update and respond to new form posts with<span
                    class="text-highlight"> one dashboard</span>.
            </h2>

            <p class="lead">Form posts arrive like your twitter or facebook feed complete with all the social
                features
                you'd expect such as <span class="text-highlight">comments</span> and <span class="text-highlight">sharing</span>.
            </p>

            <img class="featurette-image img-responsive rounded-full bordered"
                 src="/assets/images/fooforms-dashboard.jpg"
                 alt="Enterprise Social Dashboard">
        </div>
    </div>
</div>

<!-- Three columns of text below the carousel -->
<div class="row featurette lightOnDark">
    <div class="page-content">
        <div class="col-sm-4 ">
            <i class="fa fa-list-alt fa-huge"></i>

            <h2>Share with your team or customers</h2>

            <p>Streamline communications by creating teams to <span
                    class="text-higlight">share forms</span> inside the Fooforms dashboard.
                Or publish your forms in your website, blog or facebook page.
            </p>

        </div>
        <!-- /.col-lg-4 -->
        <div class="col-sm-4">
            <i class="fa fa-cloud fa-huge"></i>

            <h2>All in One Place</h2>

            <p>On desktops, tablets or mobiles - the FOOFORMS dashboard lets you keep track of everything in
                one
                place, no matter where you are.
                Get <span class="text-higlight">remote teams</span> access to everything, everywhere, anytime.</p>

        </div>
        <!-- /.col-lg-4 -->
        <div class="col-sm-4">
            <i class="fa fa-users fa-huge"></i>

            <h2>Respond & Engage</h2>

            <p>Update form posts, add comments, assign status, tasks or owners and much more.
                FOOFORMS lets you create form based apps that work exactly like your business processes.</p>


        </div>
        <!-- /.col-lg-4 -->
    </div>

</div>
<!-- /.row -->


<!-- START THE FEATURETTES -->


<div class="row featurette">
    <div class="page-content">
        <div class="col-sm-6">
            <img class="featurette-image img-responsive rounded-full bordered" src="/assets/images/form-templates.png"
                 alt="Generic placeholder image">
        </div>
        <div class="col-sm-6">
            <h2 class="featurette-heading">Ready-to-go Apps. <span class="text-muted">Check out the catalog.</span>
            </h2>

            <p class="lead">The fooforms catalog has plenty of ready-made forms that you can add to your dashboard
                with just one click.
                Try the <span class="text-info">Helpdesk, Invoice and HR Forms</span> to get your team started.</p>
        </div>

    </div>
</div>


<div class="row featurette lightOnDark">
    <div class="page-content">
        <div class="col-sm-7">
            <h2 class="featurette-heading">Completely Control over<span
                    class="text-highlight"> Layout, Style & Branding</span>.
            </h2>

            <p class="lead">Customize everything from the color scheme and branding  through to the way apps are displayed
            </p>
        </div>
        <div class="col-sm-5">
            <img class="featurette-image img-responsive rounded-full bordered" src="/assets/images/dashboard.png"
                 alt="Generic placeholder image">
        </div>
    </div>
</div>
<div class="row featurette">
    <div class="page-content">
        <div class="col-sm-6">
            <img class="featurette-image img-responsive rounded-full bordered"
                 src="/assets/images/mobile-forms.png" alt="Generic placeholder image">
        </div>
        <div class="col-sm-6">
            <h2 class="featurette-heading">Try fooforms now.<br> <span
                    class="text-muted">It's Free for unlimited users.</span>
            </h2>


            <p><a class="btn btn-success btn-lg" href="/signup" role="button"><i class="fa fa-check-circle"></i>
                Sign Up
                for
                Free</a></p>
        </div>
    </div>


</div>
<div class="row highlight footer">
    <div class="page-content">


        <div class="col-sm-4 text-align-left">
            <i class="fa fa-twitter"></i><a href="https://twitter.com/fooforms"> @fooforms</a><br>

            <i class="fa fa-facebook"></i><a href="https://facebook.com/fooforms"> facebook.com/fooforms</a><br>

            <i class="fa fa-linkedin"></i><a href="https://linkedin.com/company/fooforms">
            linkedin.com/company/fooforms</a>

        </div>
        <div class="col-sm-4">
            <a href="https://fooforms.com/forms/repo/55b2386f9fd908232baf064e">Contact Fooforms</a><br>
        </div>
        <div class="col-sm-4">
            <a href="https://fooforms.com/contact">Report a Bug</a>
        </div>
    </div>
</div>
</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/site.min.js"></script>

<% if (dev) { %>
<script src="//localhost:35729/livereload.js"></script>
<% } %>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-40607409-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>

