<script type="text/ng-template" id="forgottenPassword.html">

    <div id="forgot-form" class="modal-body membership">

        <div class="rounded-image-border">
            <img src="/assets/images/foo-icon.png"/>
        </div>

        <h4>Forgotten Password</h4>

        <div class="panel panel-default">

            <div class="panel-body">
                <form name="forgotPassForm" role="form" class="form" ng-submit="sendReset(email)">
                    <div class="form-group">
                        <label for="email">Enter Email</label>
                        <input type="email" id="email" name='email' class="form-control"
                               ng-model="email" required="required">
                    </div>
                    <div class="form-group clearfix">
                        <input type="submit" id="submit" class="form-control btn btn-primary"
                               value='Send Password Reset' ng-disabled="forgotPassForm.$invalid"/>
                    </div>

                    <span class="help-block" ng-show="forgotPassForm.email.$error.required">Email required!</span>
                    <span class="help-block" ng-show="forgotPassForm.email.$error.email">Not valid email!</span>
                </form>

            </div>
            <div class="panel-body">
                Or <a href='/login'>Login</a>
            </div>
        </div>
    </div>
    <div class="login-footer">
        <h5>Need an Account? <a href='/signup' ng-click="close()">Signup</a></h5>
    </div>

</script>

