<script type="text/ng-template" id="inviteContent.html">

    <div id="signup-form" class="membership" cg-busy="busy">
        <div class="rounded-image-border">
            <img src="/assets/images/foo-icon.png"/></div>

        <div class="panel panel-default">

            <div class="panel-body">
                <form class="form" name="form" method="post" novalidate="novalidate" ng-submit="signup()">

                    <div>
                        <h4>Let's get you signed up!</h4>

                        <div class="form-group col-xs-12">
                            <label for="email" class="form-label">Email</label>

                            <input type="email" ng-model="details.email" name="email" id="email" required="required"
                                   class="form-control" ng-disabled="details.email"/>
                            <span ng-show="form.email.$error.email" class="bg-warning"><span
                                    class="glyphicon glyphicon-warning-sign"></span></span>

                        </div>

                        <div class="form-group col-xs-12">
                            <label class="form-label">Company / Organisation</label>

                            <div class="input-group">
                                <span class="input-group-addon">fooforms.com / </span>
                                <label>{{orgName}}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Choose a username</label>
                            <input type="text" name="displayName" id="displayName"
                                   unique-username="unique-username" different="organisationName"
                                   required="required"
                                   ng-model="details.displayName"
                                   class="form-control"/><i ng-show="usernameBusy"
                                                            class="halflings-icon refresh rotating"></i>
                            <span ng-show="form.displayName.$dirty &amp;&amp; form.displayName.$error.required"
                                  class="help-block">Please choose a username</span>
                            <span ng-show="form.displayName.$dirty &amp;&amp; form.displayName.$error.isTaken"
                                  class="help-block alert alert-danger">Username already taken</span>
                            <span ng-show="form.displayName.$dirty &amp;&amp; form.displayName.$error.error"
                                  class="help-block alert alert-danger">Invalid user name</span>
                            <span
                                    ng-show="sluggedUsername"
                                    class="help-block alert alert-warning">Username name will become {{sluggedUsername}}</span>
                            <span
                                    ng-show="form.displayName.$dirty &amp;&amp; form.displayName.$error.different &amp;&amp; !form.displayName.$error.required &amp;&amp; !form.organisationName.$error.required"
                                    class="help-block alert alert-danger">Username cannot be the same as organisation name</span>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Choose a Password</label>
                            <input type="password" name="password" id="password" ng-model="details.password"
                                   required="required"
                                   class="form-control"/>

                                    <span
                                            ng-show="form.password.$dirty &amp;&amp; form.password.$error.required"
                                            class="help-block">Please enter a password</span>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" name="confirmPass" id="confirmPass" ng-model="details.confirmPass"
                                   required match="details.password" class="form-control"/>

                                    <span
                                            ng-show="form.confirmPass.$dirty &amp;&amp; form.confirmPass.$error.required"
                                            class="help-block">Please repeat your password</span><span
                                ng-show="form.confirmPass.$dirty &amp;&amp; form.confirmPass.$error.match &amp;&amp; !form.confirmPass.$error.required"
                                class="help-block">Passwords don't match</span>
                        </div>
                        <div class="alert alert-danger ng-hide" ng-show="signupError">{{signupError}}
                        </div>
                        <div class="form-group clearfix">
                            <input type="submit" id="submit" class="form-control btn btn-primary"
                                   ng-disabled="form.$invalid"
                                   value='Create Account'/>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>


</script>
