<div class="col-sm-12" id='mainView'>

    <!-- Navigation Buttons -->
    <div class="col-md-3 slideLeft">
        <div class="panel panel-info">
            <div class="panel-heading">
                <!--<a class="btn btn-success" data-toggle="tab" data-target="#newOrganisation">
                    <i class="fa fa-plus"></i> New Organisation</a>-->
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked" id="myTabs">
                    <li ng-repeat="org in user.organisations">
                        <a data-toggle="tab" data-target="#{{org.displayName}}">
                            <img class="icon-xs" ng-src="{{org.photo}}"
                                 alt="{{org.title}}">
                            {{org.title}}</a></li>
                </ul>
            </div>
        </div>

        <form name="sendInviteForm" ng-controller="SendInviteCtrl" ng-submit="invite()">

            <h2>Invite a user</h2>

            <div class="form-group">
                <label for="inviteEmail">Name</label>
                <input id="inviteEmail" type="email" name="inviteEmail" ng-model="inviteEmail" required/>
                <span class="error" ng-show="sendInviteForm.inviteEmail.$error.required">Email Required!</span>
                <span class="error" ng-show="sendInviteForm.inviteEmail.$error.email">Not valid email!</span>
                <span class="error" ng-show="inviteError">Invitation could not be sent</span>
            </div>

            <div class="form-group">
                <label for="message">Leave a message</label>
                <input type="text" name="message" id="message" ng-model="message" />
            </div>
            <div class="form-group">
                <input type="submit" value="Send">
            </div>
        </form>

    </div>
    <div class="col-md-9 slideRight">
        <div class="tab-content">
            <!--        <div class="tab-pane" id="newOrganisation">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4>New Organisation</h4>
                            </div>
                            <div class="panel-body">
                                <form novalidate class="css-form" role="form" name="createOrganisation">
                                    <org-photo org="newOrg"></org-photo>
                                    <div class="form-group">
                                        <label for="orgName">Name</label>
                                        <input type="text" class="form-control" id="orgName"
                                               ng-model="newOrg.displayName" required
                                               placeholder="Organisation Name"/><br/>
                                    </div>
                                    <div class="form-group">
                                        <label for="orgDomain">Domain</label>
                                        <input type="text" class="form-control" id="orgDomain"
                                               ng-model="newOrg.domain"
                                               placeholder="The organisation domain"/>
                                    </div>
                                    <button ng-click="createOrganisation(newOrg)" class="btn btn-success">Save
                                    </button>
                                </form>
                                <div id="createOrganisation-error" class="alert alert-danger alert-dismissable"
                                     ng-show="createOrganisationError">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;</button>
                                    {{createOrganisationError}}
                                </div>

                            </div>
                        </div>
                    </div>-->

            <div ng-repeat="org in user.organisations" class="tab-pane" id="{{org.displayName}}">


                <div class="panel panel-info">
                    <div class="panel-body">
                        <ul class="nav nav-pills" id="orgTabs">
                            <li>
                                <a data-toggle="tab" data-target="#orgSettings">Organisation Settings</a>
                            </li>
                            <li>
                                <a data-toggle="tab" data-target="#orgMembers">Members</a>
                            </li>
                            <li>
                                <a data-toggle="tab" data-target="#orgStats">Stats</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="orgSettings"><h4>{{ org.title}} on Fooforms</h4>

                                <form novalidate class="form-horizontal">
                                    <div class="col-sm-3">
                                        <org-photo org="org"></org-photo>

                                    </div>
                                    <div class="col-sm-9">


                                        <div class="form-group"><label class="col-sm-3 control-label">org Name:</label>

                                            <div class="col-sm-9">
                                                <input class="form-control" type="text" ng-model="org.title"
                                                       required/>
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <label class="col-sm-3 control-label"> Fooforms URL:</label>

                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">fooforms.com/</span>
                                                    <input class="form-control" type="text" ng-model="org.displayName"
                                                           required/>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Admin
                                            E-mail:</label>

                                            <div class="col-sm-9">
                                                <input class="form-control" type="email" ng-model="org.billingEmail"
                                                       required/>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 align-right">
                                            <button class="btn btn-success" ng-click="updateOrg(org);">SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="orgMembers">
                                <h4>Members</h4>


                            </div>

                            <div class="tab-pane" id="orgStats">
                                <h4>Usage Stats</h4>

                                Created: {{org.created | date : 'dd-MMM-yy'}} <br>
                                Teams: {{org.teams.length}} <br>
                                Folders: {{org.folders.length}} <br>
                                Members: {{org.owners.length}} <br>
                                Users: {{ org.readOnlyUsers.length}} <br>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>
