<script type="text/ng-template" id="resetPassword.html">

    <div id="reset-form" class="modal-body membership">

        <div class="rounded-image-border">
            <img src="/assets/images/foo-icon.png"/>
        </div>

        <h4>Reset Password</h4>

        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" class="form" name="form" novalidate="novalidate" ng-submit="updatePassword()">
                    <div class="form-group">
                        <label class="form-label">Choose a New Password</label>
                        <input type="password" name="password" id="password" ng-model="password"
                               required="required"
                               class="form-control"/>

                                    <span
                                            ng-show="form.password.$dirty &amp;&amp; form.password.$error.required"
                                            class="help-block">Please enter a password</span>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" name="confirmPass" id="confirmPass" ng-model="confirmPass"
                               required match="password" class="form-control"/>

                                    <span
                                            ng-show="form.confirmPass.$dirty &amp;&amp; form.confirmPass.$error.required"
                                            class="help-block">Please repeat your password</span><span
                            ng-show="form.confirmPass.$dirty &amp;&amp; form.confirmPass.$error.match &amp;&amp; !form.confirmPass.$error.required"
                            class="help-block">Passwords don't match</span>
                    </div>
                    <div class="form-group clearfix">
                        <input type="submit" id="submit" class="form-control btn btn-primary"
                               ng-disabled="form.$invalid"
                               value='Send Password Reset'/>
                    </div>
                </form>
                <div class="alert alert-danger" ng-show="resetError" class="ng-hide">{{resetError}}</div>
            </div>
            <div class="panel-body">
                Or <a href='/login'>Login</a>
            </div>
        </div>
    </div>
    <div class="login-footer">
        <h5>Need an Account? <a href='/signup' ng-click="close()">Signup</a></h5>
    </div>

</script>

