<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/halflings.css">
    <link rel="stylesheet" href="/css/signup.min.css">
</head>
<body ng-app="authentication">
<div class='container'>

    <div class='row slide' id="signup">
        <div class="col-sm-12">
        </div>
    </div>

    <% if (error) { %>
    <% if (error.message) { %>
    <h2><%= error.message %></h2>
    <% } else { %>
    <h2>An unknown error occurred</h2>
    <% } %>
    <% } %>

    <div class='row slide' id="signupForm">
        <div class="col-sm-12">
            <form class="form" name="form" method="post" action="/signup" novalidate="novalidate">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>FOOFORMS &raquo; Sign-up</h4>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="form-label">Your Name</label>

                            <div class="input-inline">
                                <input type="text" ng-model="givenName" name="givenName" id="givenName"
                                       placeholder="First Name" autofocus="autofocus"
                                       class="form-control"/>


                                <input type="text" ng-model="familyName" name="familyName" id="familyName"
                                       placeholder="Last Name"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" ng-model="email" name="email" id="email" required="required"
                                   class="form-control"/><span
                                ng-show="form.email.$dirty &amp;&amp; form.email.$error.email"
                                class="help-block">The Email address doesn't look right?</span>
                        </div>


                        <div class="form-group">
                            <label class="form-label">Company / Organisation</label>

                            <div class="input-group">
                                <span class="input-group-addon">Fooforms.com / </span>

                                <input type="text" ng-model="organisation" name="organisationName" id="organisationName"
                                       required="required"
                                       class="form-control"/>
                                <span ng-show="form.organisation.$dirty &amp;&amp; form.organisation.$error.required"
                                      class="help-block">You need some organisation name</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Username</label>
                            <input type="text" name="displayName" id="displayName" placeholder="Username"
                                   unique-username="unique-username" required="required" ng-model="displayName"
                                   class="form-control"/><i ng-show="busy"
                                                            class="halflings-icon refresh rotating"></i><span
                                ng-show="form.displayName.$dirty &amp;&amp; form.displayName.$error.required"
                                class="help-block">Please choose a username</span><span
                                ng-show="form.displayName.$dirty &amp;&amp; form.displayName.$error.isTaken"
                                class="help-block alert alert-danger">Username already taken</span><span
                                ng-show="form.displayName.$dirty &amp;&amp; form.displayName.$error.invalidChars"
                                class="help-block">Username may not contain any non-url-safe characters</span>
                        </div>


                        <div class="form-group">
                            <label class="form-label">Choose a Password</label>
                            <input type="password" name="password" id="password" ng-model="password" required="required"
                                   match="confirmPass" class="form-control bar" placeholder="Password"/><span
                                ng-show="form.password.$dirty &amp;&amp; form.password.$error.required"
                                class="help-block">Please enter a password</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" name="confirmPass" id="confirmPass" ng-model="confirmPass"
                                   required="required" placeholder="Repeat Password"
                                   match="password" class="form-control bar"/><span
                                ng-show="form.confirmPass.$dirty &amp;&amp; form.confirmPass.$error.required"
                                class="help-block">Please repeat your password</span><span
                                ng-show="form.confirmPass.$dirty &amp;&amp; form.confirmPass.$error.match &amp;&amp; !form.confirmPass.$error.required"
                                class="help-block">Passwords don't match</span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create Account" ng-disabled="form.$invalid"
                                   class="btn btn-primary pull-right"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>


</div>
</div>

<script type="text/javascript" src="/vendor/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendor/angular/angular.min.js"></script>

<script type="text/javascript" src="/vendor/angular/angular-cookies.min.js"></script>
<script type="text/javascript" src="/js/auth.min.js"></script>
<script type="text/javascript" src="/js/zxcvbn.js"></script>

<script>
    var input = document.getElementById('password');
    var bar = document.getElementsByClassName('bar')[0];
    input.addEventListener('keyup', function () {
        var analysis = zxcvbn(input.value);
        var entropy = analysis.entropy * 4 + 5;
        bar.style.backgroundImage = 'linear-gradient(to left, #A3FF5C 0%, #EF1F3B ' + (entropy | 0) + '%)';
    });
</script>
</body>
</html>
