<div class="col-sm-12" id='mainView'>

    <!-- Navigation Buttons -->
    <div class="col-md-3 slideLeft">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a class="btn btn-success" data-toggle="tab" data-target="#newTeam">
                    <i class="fa fa-plus"></i> New Team</a>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked" id="myTabs">
                    <li ng-repeat="team in user.teams">
                        <a>
                            <img class="icon-xs" src="/assets/icons/color/folder.png"
                                 alt="{{team.displayName}}">
                            {{team.displayName}}</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-md-9 slideRight">
        <div class="tab-content">
            <div class="tab-pane" id="newTeam">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>New Team</h4>
                    </div>
                    <div class="panel-body">
                        <form novalidate class="css-form" role="form" name="createTeam">
                            <div class="form-group">
                                <label for="teamName">Name</label>
                                <input type="text" class="form-control" id="teamName"
                                       ng-model="team.displayName" required
                                       placeholder="Team Name"/><br/>
                            </div>
                            <div class="form-group">
                                <label for="teamDomain">Description</label>
                                <input type="text" class="form-control" id="teamDomain"
                                       ng-model="team.description"
                                       placeholder="The team description"/>
                            </div>
                            <div class="form-group">
                                <label for="org-select">Organisation</label>

                                <div id="org-select" class="btn-group" dropdown is-open="status.isopen">
                                    <h2><span class="label label-default">{{currentOrganisation.title || currentOrganisation.displayName}}</span>
                                    </h2>
                                    <button type="button" class="btn btn-info dropdown-toggle">
                                        Change <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="organisation in organisations"><a
                                                ng-click="currentOrganisation = organisation">{{organisation.title ||
                                            organisation.displayName}}</a></li>
                                    </ul>
                                </div>
                            </div>


                            <button ng-click="saveTeam(team)" class="btn btn-success">Save
                            </button>
                        </form>
                        <div id="createOrganisation-error" class="alert alert-danger alert-dismissable"
                             ng-show="saveTeamError">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                            {{saveTeamError}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


