<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <!-- If you delete this meta tag, the ground will open and swallow you. -->
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>

<body bgcolor="#efefef" style="background:#efefef;margin: 0 auto 0; max-width: 800px;"
      style='font-family: "Helvetica, Arial, sans-serif;
         padding: 20px;font-size: 14px;color: #888'>

<!-- HEADER -->
<table width="100%" bgcolor="#fff"
       style="font-family: Helvetica, Arial, sans-serif; font-weight: 300; font-size: 14px;color: #888;background: #ffffff;">
    <tr>
        <td style="padding: 5px 10px;background:#ffffff;">
            <% CONTENT %>
        </td>
    </tr>
</table>
<!-- /BODY -->
</body>
</html>