<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <!-- If you delete this meta tag, the ground will open and swallow you. -->
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Fooforms</title>



</head>

<body bgcolor="#efefef" style="margin: 0 auto 0; max-width: 800px;"
        style='font-family: "Helvetica, Arial, sans-serif;
         padding: 20px;font-size: 14px;color: #888'>

<!-- HEADER -->
<table width="100%" bgcolor="#fff" style="font-family: Helvetica, Arial, sans-serif; font-weight: 300; font-size: 14px;color: #888;">
    <tr>

                        <td align="right"  bgcolor="#3d4b5b" style="padding: 5px 10px;"><h2 style="color:#fff; font-weight: 300">FOOFORMS</h2></td>
                    </tr>


                    <tr>
                        <td style="padding: 5px 10px">

                            <h3 style="color: #3d4b5b; font-weight:300"><% ORGANISATION %> is ready on FOOFORMS!</h3>
                            <p>Hey <% FIRSTNAME %>,<br><br>
                            Your account is setup on on FOOFORMS<br>
                            <br>
                            Be sure to check out our <i>Form Templates</i>, they're the easiest way to get up and running quickly.<br>
                            <br>If you've got any questions please do reach out, we're waiting to assist you.
                            </p>


                             </td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 10px;background: #b2d0ff">

                            <!-- Callout Panel -->
                            <p style="color:#3d4b5b">You can create your first forms and teams right now <a href="https://fooforms.com/dashboard/" style="border: 1px solid #67b0ff;text-decoration: none;background: #fff;border-radius: 5px;padding: 5px 15px;color: #3d4b5b">Get Started! &raquo;</a>	</p><!-- /callout panel -->

                        </td>
              <tr>
                    <td style="padding: 0px 10px; color: #3d4b5b font-weight: 300">
                        <h3 style="color:#3d4b5b">Quick Start Links</h3>
                    </td>
              </tr>

                    <tr>
                        <td style="padding: 0px 10px">
                            <h4>Form Builder</h4>
                            <p class="">The fooforms form builder is probably the best form builder in the world. </p>
                            <a style="color: #2BA6CB" href="https://fooforms.com/formBuilder">Create a New Form with Form Builder</a>
                        </td>
                    </tr>

                <tr>
                    <td style="padding: 5px 10px">
                        <h4>Form Templates</h4>
                        <p class="">Get up and running in minutes by using Form Templates.</p>
                        <a style="color: #2BA6CB" href="https://fooforms.com/forms">Form Templates</a>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 10px">
                        <h4>Invite your colleagues and clients</h4>
                        <p class="">Fooforms is more than just a form builder. Collaborate effortlessly by giving teams and clients access to your forms and apps.</p>
                        <a style="color: #2BA6CB" href="https://fooforms.com/organisations">Invite Members</a>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 10px">
                        <h4>Manage your Teams</h4>
                        <p class="">Create unlimited teams to give people access to the right forms and apps.</p>
                        <a style="color: #2BA6CB" href="https://fooforms.com/teams">Manage Teams</a>

                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 10px">
                        <h4>Manage your Profile </h4>
                        <p class="">Manage your profile details, photo and notification settings.</p>
                        <a style="color: #2BA6CB;" href="https://fooforms.com/profile">Manage Profile</a>

                    </td>
                </tr>

                    <tr>
                        <td style="padding: 5px 10px">

<hr>

 <h5 class="">Connect with Us:</h5>
  <p class="">
      <a href="https://www.facebook.com/fooforms/" style="color: #2BA6CB;padding: 5px;">Facebook</a>
      <a href="https://www.twitter.com/fooforms/" style="color: #2BA6CB;padding: 5px;">Twitter</a>
      <a href="https://plus.google.com/112324731867806850948/about" style="color: #2BA6CB;padding: 5px;">Google+</a></p>



                                    </td>
                                </tr>

</table><!-- /BODY -->


</body>
</html>