.Small{
width: 30%;
}
.Medium{
width: 60%;
}
.Large{
width: 90%;
}

#appTabs-fields{
max-width: 100%;
overflow: hidden;
}
#appHeading{
display: block;
border:1px solid #efefef;
margin: 5px;
padding: 5px;
}
#appHeading.selected{
border-color: #d4ebaf;
background: #edfcd5;
}
img.icon{
float: left;
margin-right: 5px;
width: 40px;
height: 40px;
}
input[type=file]{
margin-left: 50px;
}
#appHeading h2{
font-size: 16px;
font-weight: bold;
line-height: 22px;
margin: 0px;
padding: 0px;
}
#appHeading p{
margin: 0px;
padding: 0px;
font-size: 10px;
font-weight: normal;
line-height: 14px;
}
#appTitle{
display: block;
}

label{
display: block;
font-weight: bold !important;
margin-bottom: 4px !important;
font-size: 12px;
}
div#appTabs-app input, div#appTabs-app textarea, div#appTabs-app select{
margin-bottom: 4px;
border-radius: 10px !important;
display: block;
font-weight: normal;
padding: 4px;
border-color: #A4B489 !important;
}

div#appTabs-app{

padding: 10px !important;
}

div#appTabs-fields{

padding: 10px !important;
}

div#appTabs-settings{

padding: 10px !important;
}

.fieldObject{
border: 1px solid #cecece;
background: #fff ;
font-weight: bold;
font-size: 11px;
color: #0073ea;
height: 32px;
border-radius: 16px;
line-height: 32px;
text-align: center;
cursor: move;
width: 140px;
display: inline-block;
margin: 4px !important;
}
div.fieldObject:hover{
border: 1px solid #0073ea;
}

div#appTabs-app fieldset, div#appTabs-app fieldset legend{
background: #C5DBAC;
border-radius: 10px;
margin: 4px;
border: 0px;
font-size: 12px;
padding: 6px;
border:0px;
display: inline;
}
 div#appTabs-app fieldset legend{
 padding: 4px;
 padding-left: 8px;
 padding-right: 12px;
 width: auto;
 font-weight: bold;
 line-height: 14px;
 }
 
  div#appTabs-app input[type=radio]{
display: inline;
margin:5px;
 }
 
#appLayout{display: block;padding: 5px;padding-bottom: 100px;min-height: 200px;}

.appFormObject{
border:1px solid #efefef;
margin: 5px;
padding: 5px;
}
.appFormObject.selected{
border-color: #D0EFFE;
background: #F1FBFF;
}
.appFormObject:hover{border:1px dotted #0073ea;}

.appFormObject input, .appFormObject textarea, .appFormObject  select{
margin-bottom: 4px;
border-radius: 5px !important;
display: block;
font-weight: normal;
padding: 4px;
border-color: #cecece !important;
width: 200px;
}
.appFormObject textarea.Medium{
width: 60%;
}
.appFormObject input.Medium{
width: 50%;
}

.appFormObject input.Large{
width: 90%;
}

#saveAppForm{
display: block;
background: #FEF6D2;
border-top: 1px solid #EFE3AE;
border-bottom: 1px solid #EFE3AE;
margin-top:20px;
padding-right: 20px;
line-height: 50px;
height: 50px;
text-align: right;
}
#saveApp{

}