<div class="col-xs-12 col-sm-9 col-md-9 pageGroup" id='mainView'>
    <div class="pageGroup">

        <div id="tabs">
        <ul id='appTabs' class="nav nav-tabs">
            <li class="active"><a data-target="#tabs-myapps" data-toggle="tab">Apps</a></li>
            <li><a data-target="#tabs-download" data-toggle="tab">Download Apps</a></li>
        </ul>
        <div class="tab-content white p5">
            <div id="tabs-myapps" class="tab-pane fade in active">

                <div class="row m5 p5">
                    <div class="col-sm-4 col-md-3 col-lg-2"
                         ng-repeat="app in apps">
                        <div class="thumbnail">
                            <img src="{{app.icon}}" alt="{{app.name}}">

                            <div class="caption">
                                <a class="center-block">{{app.name | uppercase}}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div id="tabs-download" class="tab-pane fade">


                <div class="row">

                    <!-- Navigation Buttons -->
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked" id="myTabs">
                            <li class="active"><a data-toggle="tab" data-target="#featured">Featured Apps</a></li>
                            <li><a data-toggle="tab" data-target="#communication">Communication</a></li>
                            <li><a data-toggle="tab" data-target="#finance">Finance</a></li>
                            <li><a data-toggle="tab" data-target="#contact">Contact</a></li>
                            <li><a data-toggle="tab" data-target="#hr">HR</a></li>
                            <li><a data-toggle="tab" data-target="#facebook">Facebook</a></li>
                            <li><a data-toggle="tab" data-target="#software">Software Development</a></li>
                            <li><a data-toggle="tab" data-target="#events">Events</a></li>
                            <li><a data-toggle="tab" data-target="#dates">Calendar & Dates</a></li>
                        </ul>
                    </div>

                    <!-- Content -->
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane active" id="featured"><h4>Featured Apps</h4>

                                <div class="row m5 p5">
                                    <div class="col-sm-3 col-md-3"
                                         ng-repeat="app in apps">
                                        <div class="thumbnail">
                                            <img src="{{app.icon}}" alt="{{app.name}}">

                                            <div class="caption">
                                                <a class="center-block">{{app.name | uppercase}}</a>
                                            </div>

                                            <i class="fa fa-star fa-fw"></i>
                                            <i class="fa fa-star fa-fw"></i>
                                            <i class="fa fa-star fa-fw"></i>
                                            <i class="fa fa-star fa-fw"></i>
                                            <i class="fa fa-star fa-fw"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="communication"><h4>Communication</h4>

                                <div class="row m5 p5">
                                    <div class="col-sm-3 col-md-3"
                                         ng-repeat="app in apps">
                                        <div class="thumbnail">
                                            <img src="{{app.icon}}" alt="{{app.name}}">

                                            <div class="caption">
                                                <a class="center-block">{{app.name | uppercase}}</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="finance">Messages</div>
                            <div class="tab-pane" id="contact">Messages</div>
                            <div class="tab-pane" id="hr">Messages</div>
                            <div class="tab-pane" id="facebook">Messages</div>
                            <div class="tab-pane" id="software">Messages</div>
                            <div class="tab-pane" id="events">Messages</div>
                            <div class="tab-pane" id="dates">Messages</div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                <div class="alert alert-success">
                        <h3 class="fooHeading">Create your own apps!</h3>

                        <p>You can create your own form based apps using the FOOFORMS App Builder. </p>
                        <a class="btn btn-success" href="appBuilder">Open the App Builder &raquo;</a>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>

    </div>


</div>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 tall ">
    <%include ../../../frontend/views/includes/postView.html %>
</div>