<div class="pageGroup" id='mainView'>

    <div id="tabs">
        <ul id='appTabs' class="nav nav-tabs">
            <li class="active"><a data-target="#tabs-myapps" data-toggle="tab">Apps</a></li>
            <li><a data-target="#tabs-download" data-toggle="tab">Download Apps</a></li>
        </ul>
        <div class="tab-content white p5">
            <div id="tabs-myapps" class="tab-pane active">

                <h3>Apps</h3>

            </div>


            <div id="tabs-download" class="tab-pane">
                <h3>Download Apps</h3>

            </div>

            <div class="alert alert-success">
                <h3 class="fooHeading">Create your own apps!</h3>

                <p>You can create your own form based apps using the FOOFORMS App Builder. </p>
                <a class="btn btn-success" href="appBuilder">Open the App Builder &raquo;</a>
            </div>
        </div>

    </div>


</div>
