<div id="postViewer" class='pageGroup'>
    <div>
        <ul id='sideTabs' class="nav nav-tabs">
            <li class="active"><a data-target="#tabs-notifications" data-toggle="tab">Notifications <span class="badge">4</span></a>
            </li>
            <li><a data-target="#tabs-chat" data-toggle="tab">Chat</a></li>
        </ul>
        <div class="tab-content white m0 p5">
            <div id="tabs-notifications" class="tab-pane active">

                <div class="list-group">

                    <div class="media list-group-item">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/images/photo.jpg" alt="Brian">
                        </a>

                        <div class="media-body">
                            <h6 class="media-heading">Brian want's to chat</h6>

                            <p>You've received a new chat request from Brian.</p>
                            <a class="btn btn-success btn-xs">Accept</a>
                            <a class="btn btn-danger btn-xs">Decline</a>
                        </div>
                    </div>

                    <div class="media list-group-item">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/images/photo.jpg" alt="Brian">
                        </a>

                        <div class="media-body">
                            <h5 class="media-heading">New Task Assignment</h5>
                            Brian has created a task with your name on it...
                        </div>
                    </div>

                    <div class="media list-group-item alert-warning">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/images/photo.jpg" alt="Brian">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">Authorisation Required</h4>
                            Your signature is required for Security Procedure in ISO Documents.
                        </div>
                    </div>

                    <div class="media list-group-item alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/images/photo.jpg" alt="Brian">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">You've been fired!</h4>
                            Please contact HR & bring your coat.
                        </div>

                    </div>


                </div>

            </div>

            <div id="tabs-chat" class="tab-pane">

                <video autoplay></video>
                <button class="btn btn-default" onclick="chat()">Start Video Chat</button>
                </button>
                <script>
                    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

                    var constraints = {audio: false, video: true};
                    var video = document.querySelector("video");

                    function successCallback(stream) {
                        window.stream = stream; // stream available to console
                        if (window.URL) {
                            video.src = window.URL.createObjectURL(stream);
                        } else {
                            video.src = stream;
                        }
                        video.play();
                    }

                    function errorCallback(error) {
                        console.log("navigator.getUserMedia error: ", error);
                    }

                    function chat() {
                        navigator.getUserMedia(constraints, successCallback, errorCallback);
                    }

                </script>
            </div>

        </div>

    </div>
</div>