<style>
    .ta-editor {
        height: auto !important;
        min-height: 300px !important;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
        margin: 5px 0;
        padding: 10px;
    }

    .ta-bind {
        min-height: 300px !important;
    }

    .disable-text-selection {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


</style>
<div class="modal-header bg-info">
    <div class="row">
        <div class="col-xs-12"><h4 class="text-info">Custom Content Editor</h4>
        </div>

    </div>

</div>
<div class="modal-body">

    <div class="row">

        <div class="col-sm-10">
            <form class="form">
                <div class="form-group">
                    <div text-angular ng-model="fieldDatax" name="htmlEmailEditor" id="emailEditor"
                         style="min-height: 300px;"></div>


                </div>
            </form>
        </div>

        <div class="col-sm-2">
            <div class="panel panel-info">
                <div class="panel-heading">Insert Form Field</div>
                <div class="panel-body p0 m0">
                    <button class="btn btn-warning btn-xs m2"
                            ng-repeat="field in form.fields"
                            ng-click="addFooField(field)">{{field.label}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">

    <button class="btn btn-success" ng-click="ok(fieldDatax)">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
