<div>
    <img class="profile" ng-src="{{org.photo}}"/>

    <div class="caption">
        <button class="btn btn-default"
                id="browseBtn"
                type="button"
                onclick="$('#uploadFile').click();">Upload a New Logo
        </button>


        <div class="input-group">

            <input type="file" name="uploadFile" id="uploadFile" class="hidden" ng-model="uploadFile"
                   ng-file-select="onFileSelect($files)">

            <div class="input-group">
                <input type="text" class="hidden" ng-model="uploadFile.name" placeholder="Choose a File">

                <div class="progress mt5 progress-striped" ng-class="{'fadeOutDelayed' : uploadProgress==100}"
                     ng-show="uploadProgress>0">
                    <div class="progress-bar" ng-class="{'progress-bar-success' : uploadProgress==100}"
                         role="progressbar" aria-valuenow="{{uploadProgress}}" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{uploadProgress+'%'}}">
                        {{uploadProgress+'%'}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
