<div ng-show="view=='feed'" class="panel panel-info panel-feed"
     ng-repeat="post in posts track by $index"
     ng-class="{ 'panel-feed-selected': activePost._id == post._id }"
     ng-click="viewPost($index)">

    <div class="panel-heading">
        <span class="pull-right text-muted">{{post.displayName}}, {{post.lastModified | date : 'HH:mm'}} </span>
        <label class="label label-default pull-right mr5" ng-repeat="field in post.fields"
               ng-show="field.type=='status'">{{ field.selected}}</label>

        <a ng-click="viewPost($index)">
            <img class="media-object icon icon-feed" ng-src="{{post.icon}}" alt="">
        </a>
        <span ng-show="post.fields[0].type=='text' || post.fields[0].type=='textarea'">&nbsp;{{post.fields[0].value}}</span>

    </div>

    <div class="panel-body">
        <div ng-repeat="field in post.fields track by $index">
                    <span ng-show="(field.type=='text' || field.type=='textarea') && $index <5">
                        <span class='label label-foo'> {{ field.label }} </span> {{ field.value}}</span>
            <img class="img-feed" style="max-width:100%;"
                 ng-src="/api/files/{{field.value._id }}" ng-if="field.value.mimeType=='image/jpeg'">
        </div>
    </div>

</div>
