<div class="panel panel-foo-feed animated"
     ng-repeat="post in posts | statusFilter:status"
     ng-class="{ 'panel-feed-selected': activePost._id == post._id }"
     ng-click="selectPost(post)">

    <feed-header class="panel-heading">

    </feed-header>

    <div class="panel-body">

        <div class='plr5 col-xs-12 col-sm-{{formField.boxSize}}'
             ng-repeat="formField in post.fields track by $index"
             ng-show="formField.showInFeed"
             ng-include='formField.feedTemplate'>
        </div>
    </div>

</div>
