<form role="form" class="panel panel-default roundy-border">

    <div class="panel-heading">
        <img class="media-object icon icon-xs" ng-src="{{activePost.icon}}" alt="">
        <div class="inline-block">
            <div class="m0 p0 slideUp" ng-show="!doingPostApi" ng-hide="!activePost.createdBy">
                <span class="small text-opacity-5">Posted by {{activePost.createdBy.displayName}}</span><img
                    class="img-responsive img-circle post-user-img" ng-src="{{activePost.createdBy.photo}}"/><span
                    class="small"> {{activePost.lastModified | date : 'MMM d, y @ h:mm a'}} </span>
            </div>
            <div class="m0 p0 slideDown" ng-show="doingPostApi">
                <i class="fa fa-refresh fa-spin"></i> Updating...
            </div>

        </div>

        <div class="btn-group pull-right">
            <button id='deletePost' ng-click="delete()"
                    class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> Delete
            </button>
            <button id='copyPost' ng-click="copy()"
                    class="btn btn-default btn-sm"><i class="fa fa-copy"></i> Copy
            </button>
            <button id='cancelPost' ng-click="cancel()"
                    class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Cancel
            </button>
            <button id='savePost' ng-click="save()"
                    class="btn btn-success btn-sm"><i class="fa fa-save"></i> Save
            </button>
        </div>


    </div>
    <div class="panel-body light-gray">
        <fieldset>
            <div class='col-xs-12 plr5 col-sm-{{formField.boxSize}}'
                 ng-repeat="formField in activePost.fields track by $index"
                 ng-show="formField.name"
                 ng-include='formField.viewTemplate'>
            </div>

        </fieldset>
    </div>
</form>


