<ul class="nav nav-pills nav-stacked scrollSidebar ml0">
    <li>
        <a href="/dashboard" class="fa-container"><i class="fa fa-desktop"></i> Dashboard</a>
    </li>

    <li>
        <a href="/forms" class="text-muted"><i class="fa fa-plus"></i> Add a New FooForm</a>
    </li>
    <li>
        <a href="/teams" class="text-muted"><i class="fa fa-plus"></i> Create a New Team</a>
    </li>

    <li ng-repeat="organisation in user.organisations">

        <ul class="nav nav-pills nav-stacked ml0">
            <li ng-repeat="team in organisation.teams | filter:{ _id: '!' + organisation.owners} ">

                <a href="/{{organisation.displayName}}/teams/{{team.displayName}}">
                   <i class="fa fa-group"></i> {{team.title || team.displayName}}
                </a>
                <ul class="nav nav-pills nav-stacked ml0">
                    <li ng-repeat="form in team.defaultFolder.forms track by $index">

                        <a href="/{{organisation.displayName}}/teams/{{team.displayName}}/{{form.displayName}}">
                            <img ng-src="{{form.icon}}" class="nav-icon"> {{form.title}}</a>
                    </li>
                </ul>
            </li>



    <li><a href="/forms"><i class="fa fa-lock"></i> My Forms</a>
        <ul class="nav nav-pills nav-stacked ml0">
            <li ng-repeat="form in user.defaultFolder.forms track by $index">

                <a href="/{{user.displayName}}/{{form.displayName}}">
                    <img ng-src="{{form.icon}}" class="nav-icon"> {{form.title}}
                </a>

            </li>
        </ul>
    </li>


</ul>
</ul>