<!DOCTYPE html>
<html lang="en">
<head>
    <title>FOOFORMS - Login or Register</title>
    <meta charset="utf-8">
    <!-- Bootstrap core CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/login-min.css">

</head>
<body>
<div class='container'>
    <div class='row slide' id="login">
        <div class="col-xs-12">
            </div>
    </div>

    <div class='row slide' id="loginForm">
        <div class="col-xs-12">
            <h2 class="text-info">Sign-in</h2>
        </div>
        <div class="col-xs-12">
            <form action='/login' method='post' role="form">
                <div class="form-group">
                <input type='text' name='username'  ng-model="username"
                       class="form-control input-lg"  placeholder="Enter your username">
                <input type='password' class="form-control input-lg"   name='password'  ng-model="userPass" placeholder="Password">
                <input type="submit" name='tryLogin' class="btn btn-success" value='Sign In'>
                </div>  </form>
        </div>
        <div class="col-sm-12">
            <% if (message.length>0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>
</div>
</div>





    <div class='row slide' id="invite">


        <div class="col-sm-12 alert alert-info" >
            Share your forms and discover a better way to collaborate with teams and clients - <a href='/signup' class='btn btn-primary btn-sm'>Sign
            Up</a>
        </div>


</div>
</body>
</html>






