<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <![if lt IE 9]>
    <script src="/lib/html5shiv.js"></script>
    <script src="/lib/respond.min.js"></script>
    <![endif]>

</head>
<body>

 <form action="/signup" method="post">
    <div>
        <label>Choose Username:</label>
        <input type="text" name="username"/>
    </div>
    <label>Choose Password:</label>
    <div class=meter>
      <input type=password id=password name="password" />
      <div class=bar></div>
    </div>
    <div>
        <label>Re-Enter Password:</label>
        <input type="password" name="password-verify"/>
    </div>
    <div>
        <input type="submit" value="Sign Up"/>
    </div>

     <script src="/lib/zxcvbn.js"></script>
    <script>
      var input = document.getElementById('password');
      var bar = document.getElementsByClassName('bar')[0];
      input.addEventListener('keyup', function(){
        var analysis = zxcvbn(input.value);
        var entropy = analysis.entropy * 4 + 5;
        bar.style.backgroundImage = 'linear-gradient(to left, #A3FF5C 0%, #EF1F3B ' + (entropy | 0) + '%)';
      });
    </script>
</form>

</body>

</html>