<!DOCTYPE html>
<html ng-app="signup">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/css/login.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/halflings.css">
    <link rel="stylesheet" href="/css/signup.min.css">
</head>
<body>
<div id='login'>
    <div id='loginForm'>

        <div class="panel row">
            <div class="panel-heading">Sign up</div>

            <% if (global.error) { %>
            <div class="alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Error!</strong> <%= error %>
            </div>
            <% } %>

            <form name="form" method="post" action="/signup" novalidate="novalidate">
                <div class="form-group">
                    <label for="displayName" class="control-label">Username</label>
                    <input type="text" name="displayName" id="displayName" placeholder="Username"
                           unique-username="unique-username" required="required" ng-model="displayName"
                           autofocus="autofocus"
                           class="form-control"/><i ng-show="busy" class="halflings-icon refresh rotating"></i><span
                        ng-show="form.displayName.$dirty &amp;&amp; form.displayName.$error.required"
                        class="help-block">Please choose a username</span><span
                        ng-show="form.displayName.$dirty &amp;&amp; form.displayName.$error.isTaken" class="help-block">Username already taken</span><span
                        ng-show="form.displayName.$dirty &amp;&amp; form.displayName.$error.invalidChars"
                        class="help-block">Username may not contain any non-url-safe characters</span>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" ng-model="email" name="email" id="email" placeholder="Email" required="required"
                           class="form-control"/><span ng-show="form.email.$dirty &amp;&amp; form.email.$error.email"
                                                       class="help-block">Email is invalid</span>
                </div>
                <div class="form-group">
                    <label for="givenName" class="control-label">Name</label>
                    <input type="text" ng-model="givenName" name="givenName" id="givenName" placeholder="First Name"
                           class="form-control"/>
                    <input type="text" ng-model="middleName" name="middleName" id="middleName" placeholder="Middle Name"
                           class="form-control"/>
                    <input type="text" ng-model="familyName" name="familyName" id="familyName" placeholder="Last Name"
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" name="password" id="password" ng-model="password" required="required"
                           match="verification" class="form-control"/><span
                        ng-show="form.password.$dirty &amp;&amp; form.password.$error.required" class="help-block">Please enter a password</span>
                </div>
                <div class="form-group">
                    <label for="verification" class="control-label">Repeat password</label>
                    <input type="password" name="verification" id="verification" ng-model="verification"
                           required="required"
                           match="password" class="form-control"/><span
                        ng-show="form.verification.$dirty &amp;&amp; form.verification.$error.required"
                        class="help-block">Please repeat your password</span><span
                        ng-show="form.verification.$dirty &amp;&amp; form.verification.$error.match &amp;&amp; !form.verification.$error.required"
                        class="help-block">Passwords don't match</span>
                </div>
                <input type="submit" value="Sign up" ng-disabled="form.$invalid" class="btn btn-primary"/>
            </form>
        </div>


    </div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
<script src="/js/authentication/signup.js"></script>
<script src="/vendor/zxcvbn.js"></script>
<script>
    var input = document.getElementById('password');
    var bar = document.getElementsByClassName('bar')[0];
    input.addEventListener('keyup', function () {
        var analysis = zxcvbn(input.value);
        var entropy = analysis.entropy * 4 + 5;
        bar.style.backgroundImage = 'linear-gradient(to left, #A3FF5C 0%, #EF1F3B ' + (entropy | 0) + '%)';
    });
</script>
</body>
</html>
